{
  "techscientist_dash" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Dash Test",
    "message" : "\n\nAre you ready to go to the obstacle course?",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/outpost/techlab/techlabscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Elliot"
    }
  },
  "techscientist_doublejump" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Pulse Jump Test",
    "message" : "\n\nAre you ready to go to the obstacle course?",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/outpost/techlab/techlabscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Elliot"
    }
  },
  "techscientist_morphball" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Distortion Sphere Test",
    "message" : "\n\nAre you ready to go to the obstacle course?",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/outpost/techlab/techlabscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Elliot"
    }
  },
  "arena1" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Arena Battle : The Gladiators",
    "message" : "\n\nAre you sure you're ready to enter the arena against the trio of Gladiators? Once inside the only escape is victory.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [
        {"image" : "/humanoid/nuru/backarm.png:idle.1"},
        {"image" : "/humanoid/nuru/femalebody.png:idle.1"},
        {"image" : "/humanoid/nuru/frontarm.png:idle.1"}
      ]
    },
    "labels" : {
      "name" : "Nuru"
    }
  },
  "arena2" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Arena Battle : Pet Tamer Volo",
    "message" : "\n\nAre you sure you're ready to enter the arena against Volo the pet tamer? Once inside the only escape is victory.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [
        {"image" : "/humanoid/nuru/backarm.png:idle.1"},
        {"image" : "/humanoid/nuru/femalebody.png:idle.1"},
        {"image" : "/humanoid/nuru/frontarm.png:idle.1"}
      ]
    },
    "labels" : {
      "name" : "Nuru"
    }
  },
  "arena3" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Arena Champion: Templar Inferno",
    "message" : "\n\nAre you sure you're ready to enter the arena against the fire knight, Templar Inferno? Once inside the only escape is victory.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [
        {"image" : "/humanoid/nuru/backarm.png:idle.1"},
        {"image" : "/humanoid/nuru/femalebody.png:idle.1"},
        {"image" : "/humanoid/nuru/frontarm.png:idle.1"}
      ]
    },
    "labels" : {
      "name" : "Nuru"
    }
  },
  "penguinmission1" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Dreadwing the Penguin",
    "message" : "\n\nAre you ready for me to send you to Dreadwing so you can rough him up?\n^red;You'll want to have good equipment for this.",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/outpost/penguinbar/penguinbarportrait.png"} ]
    },
    "labels" : {
      "name" : "Bartender"
    }
  },
  "penguinmission2" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Penguin Arms Testing Site",
    "message" : "\n\nAre you ready for me to send you to my ^orange;arms testing site^white; to fight my Shockhopper MK I?\n^red;You'll want to have very good equipment for this.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/outpost/penguinscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Dr. Akaggy"
    }
  },
  "mechunlock" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Mech Test Course",
    "message" : "\n\nAre you ready for me to deploy you to my ^orange;mech test course^white;? I built it in an abandoned freighter I stumbled upon.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/outpost/penguinscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Dr. Akaggy"
    }
  },
  "mechupgrade2" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Advanced Mech Test Course",
    "message" : "\n\nAre you ready for me to send you to my ^orange;advanced mech test course^white;? \n^red;You might want to assemble a strong enough mech before you go.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/outpost/penguinscientistportrait.png"} ]
    },
    "labels" : {
      "name" : "Dr. Akaggy"
    }
  },
  "bounty" : {
    "paneLayout" : "/interface/windowconfig/simpleconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Bounty Lair",
    "message" : "\nThis console will teleport you to the target's hideout.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now"
  },
  "cyberspace" : {
    "paneLayout" : "/interface/windowconfig/simpleconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Cyberspace Terminal",
    "message" : "\nThis terminal is connected to a criminal network.\n\nAre you ready to hack into cyberspace?",
    "okCaption" : "Hack",
    "cancelCaption" : "Not now"
  }
}
