{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说的", "艳丽的", "高兴的", "彩虹的", "耀眼的", "明亮的", "绮丽的", "狂野的" ],
      [ { "mode" : "alts" }, "杀戮", "迅雷", "死亡", "风暴", "花心", "斩浪", "狂怒", "战斗", "恐惧" ],
      [ { "mode" : "alts" }, "刺客", "矛", "长矛", "手杖", "撕裂者", "刺矛", "守望者", "武器" ]
    ]
  ]
}
