{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "群星", "冲击", "灵能", "狂怒", "头脑", "海啸", "力量", "银河", "波浪", "卫星", "利爪", "专注", "中枢", "月球", "多重", "像素", "大地", "太阳", "风暴", "行星", "完美", "灵魂", "心之", "高山", "恐惧", "星云", "雨云", "天之", "天空", "海洋", "以太", "现实", "物质", "光之", "虚空", "聚合", "相位", "黎明", "黄昏", "流体", "旋风", "原子", "星际", "彗星", "管理", "怒号", "脉冲" ],
      [ { "mode" : "alts" }, "导流者", "守卫者", "护盾", "圆盾", "守护者", "阻碍者", "止戮者", "堡垒", "打断者", "粉碎防护者", "保护者", "壁垒" ]
    ]
  ]
}
