{
    "statuses": {
        "generic": [
            "感觉有首歌回响在他们的脑海里",
            "刚才被一块石头绊倒了",
            "感觉他们好像沉迷在电视游戏里了",
            "期望的事情总是不同的",
            "考虑一下发展新爱好",
            "需要安静",
            "感觉就像闯入了一首歌",
            "尝试记住它们的岁月",
            "一个多",
            "难以置信那是真的",
            "累了一整天后什么都不想做",
            "不想让别人发现他们的秘密",
            "隐藏着什么",
            "想试试新东西",
            "有种感觉，他们的生活就像是谎言一样",
            "看见死人了",
            "不敢相信那发生了",
            "不愿放弃",
            "思考宇宙的浩瀚",
            "脱离了他们的深度",
            "想知道午饭吃什么",
            "想去写歌",
            "感觉就像吃零食",
            "怀旧的感觉",
            "不想变成星系的一部分",
            "想要挣脱",
            "秘密的知道他们需要多运动",
            "渴望得到一些辣的",
            "凝视深渊",
            "考虑住在地下",
            "不知道他们在做什么而且不希望被别人知道",
            "有一个脚趾在发痒",
            "希望他们有超能力",
            "真想知道他们怎么处理僵尸大爆发",
            "祝愿他们有一个填色本",
            "森林里看不到树了",
            "有一个电视游戏的好点子",
            "系统的计算每个像素",
            "对有人偷偷控制他们的生活感到好奇",
            "五味杂陈",
            "考虑成为一个素食主义者",
            "奇特的感觉",
            "考虑一场外出狩猎的活动",
            "在地球上",
            "抑制呕吐",
            "真心烦恼",
            "挺好奇蜗牛打算做什么",
            "好奇于如果你刷牙就是在刷你的骨头这件事",
            "想念他们丢的宠物",
            "为他们的博客找灵感",
            "白费功夫",
            "感觉就像一个新生事物",
            "陷于痛苦",
            "心死了",
            "深感不安",
            "高能反应",
            "感到自信",
            "如果错误的思想被遏止住了那会怎样",
            "感觉就像在大晚上的跳舞",
            "不能停止闪烁",
            "感觉良好",
            "有很大的期望",
            "有很大的怨念",
            "感觉满足",
            "感觉不错",
            "浪费他们的时间",
            "摇晃的船",
            "试试他们的运气",
            "享受瞬间",
            "寻找答案",
            "寻求分心"

        ],
        "Cheerful": [
            "开心得不能再开心了",
            "觉得今天是美好的一天",
            "哪也不想去了",
            "脸颊感到露齿笑的痛苦",
            "记住不要在公共场合蹦蹦跳跳",
            "享受当地野生生活",
            "免疫造成严重后果的孤独",
            "假装万事俱备",
            "持有信念",
            "相信一切都是美好的",
            "享受简单生活",
            "觉得很积极",
            "想知道他们不停微笑的原因",
            "享受需要上厕所的感觉",
            "找人去让他高兴",
            "能够闻到有些东西很美好",
            "冷静，快乐",
            "完美处理他们徒劳的存在",
            "就像在家一样",
            "天人合一",
            "停不住去想可爱的动物",
            "终于找到个可以打电话回家的地方",
            "觉得你是个可爱的人",
            "不管一切的开心",
            "想去做件好事",
            "因他们的出现而开心",
            "跟随他们的梦想",
            "用一顿美味的膳食吧",
            "觉得很积极",
            "活着真好",
            "开心死了"
        ],
        "jerk": [
            "试试激怒一个家伙",
            "不停地去制造噪音",
            "屁股离开马桶座位",
            "假装成一名盗窃狂",
            "踢飞外星的小家伙",
            "寻找个家伙来捉弄",
            "说句完美的俏皮话",
            "扮演魔鬼的拥护者",
            "从不打算去讲道理",
            "不固定的生活方式",
            "认为都该听从他们",
            "希望别人能够负责",
            "试图和别人干一架",
            "重复着相同的笑话",
            "讨论今日的掠夺者",
            "有一种讨厌的感觉",
            "有一种无情的感觉",
            "试图传播一些谣言",
            "想想破坏房子赔偿",
            "不相信别人还在这",
            "赊欠着别人的钞票",
            "考虑着去打破诺言",
            "后悔着自己的行为",
            "有一种缺爱的感觉",
            "有一种难忍的感觉",
            "有一种卑鄙的感觉",
            "考虑开始一段崇拜",
            "相信别人是优越的",
            "故意去忽略了什么",
            "在底下悄悄地批评",
            "用中间名称呼别人"
        ],
        "flirty": [
            "发现当地植物很有吸引力",
            "被这些静物唤醒了",
            "好像特能生似的",
            "像你一样全副武装",
            "打了鸡血似的",
            "之前都没有这样的感觉",
            "挺时髦的，宝贝",
            "读了黄书",
            "为他们的思想感到耻辱",
            "无法控制他们了",
            "玩转田野",
            "约会时的紧张",
            "发现很难控制他们的欲望",
            "就是试着去交友",
            "找一些持久的东西",
            "考虑着网上约会",
            "贪得无厌",
            "思想很开放",
            "感觉很热",
            "爱是什么",
            "轻浮",
            "变得迷恋",
            "寻找浪漫",
            "被浪漫地挫败",
            "需要按摩",
            "需要洗个冷水澡",
            "他们口袋里有枪",
            "希望打情骂俏会像打怪兽那样简单",
            "告诉他们自己他们不是潜行者",
            "不知道他们热不热",
            "爱上了你用机械手处理事情的方法"
        ],
        "anxious": [
            "对他们没有信心",
            "好担心",
            "感觉四周的墙都在向我压过来",
            "感到有一股恐慌正在袭来",
            "他们身上不会带有什么查不出的病吧",
            "想切断社交联系独自待一段时间",
            "我只想知道他们到底能跑多快",
            "真希望看不见他们",
            "害怕世界末日的到来",
            "感到好紧张",
            "精神要崩溃了",
            "质疑他们在音乐领域的品味",
            "瑟瑟发抖中",
            "我觉得自己不是干这事的料",
            "缺乏自信中",
            "不知道这些衣服究竟能否跟上潮流",
            "坐在电脑面前，我感觉好多了",
            "与人交流的时候总是觉得尴尬",
            "觉得自己毫无吸引力",
            "创造着尴尬的沉默",
            "不受控制地流汗中",
            "在他们反应过来之前，快点说些什么",
            "发现和人对话真困难",
            "不合时宜地打了嗝",
            "感到一股强烈的压力",
            "感受恐惧中",
            "不受控制地咬起了手指",
            "紧张得都起了鸡皮疙瘩",
            "只想待在家里",
            "思考治疗方法中",
            "不断地喷着响鼻"
        ],
        "easilyspooked": [
            "有种不祥的预感…",
            "想象着那些可怕的骷髅",
            "感觉被什么给盯上了",
            "担心死尸会自己站起来",
            "感觉站在了悬崖边上",
            "明锐地注意到了一些奇怪的声响",
            "感到担惊受怕",
            "刚刚我听到了什么…似乎",
            "仅仅是出了一些汗",
            "细数着他们的恐惧",
            "绝对有什么在追捕他们",
            "感到惊恐不安",
            "考虑是不是该学个跆拳道来防防身",
            "被他们自身的影子给吓到了",
            "与焦虑作着斗争",
            "感到畏惧焦虑",
            "感到恐惧临身",
            "对怪物感到害怕",
            "祈求保佑中",
            "感到孤立无援",
            "试图控制住他们的恐惧",
            "睁大眼睛，时刻保持警惕",
            "感到心弦紧绷",
            "感到提心吊胆",
            "认为坏事就将发生了",
            "担心他们的血压",
            "检查一遍确保他们都装备齐全了",
            "不想被丢下一个人",
            "忧心他们的安全",
            "他们也保持不住脸上的平静了",
            "到底是什么在那里",
            "准备好随时发动攻击了"
        ],
        "clumsy": [
            "希望有人能帮我开罐头",
            "他们摸啥啥爆炸",
            "不断地平地摔",
            "不断地天然黑",
            "不停地掉落贵重财产",
            "是不是该去学些小戏法",
            "觉得自己最近犯的蠢有点多",
            "滑倒啦",
            "觉得自己笨笨的",
            "害怕不小心又打破什么东西",
            "他们操纵得了一艘宇宙飞船吗",
            "诅咒他们的运气",
            "诅咒他们的敏捷",
            "是不是该买份人寿保险",
            "我发誓那不是他做的",
            "他们是不是把一些东西给落下了",
            "感觉他们丢了什么东西",
            "感觉好危险",
            "强行颤抖",
            "系统地毁灭了所有一切",
            "去它喵的物理学",
            "害怕平地摔",
            "手滑没药医",
            "手上涂油，妈妈再也不担心我摔不坏东西了",
            "像果冻布丁一样颤抖着",
            "感觉他们不可信",
            "犯浑中",
            "威严已喂狗",
            "踢到了他们的脚趾",
            "长手长脚毛手毛脚",
            "觉得自己傻傻的"
        ],
        "excited": [
            "你知道，这会很有趣",  
            "我不能再等了", 
            "我很兴奋",   
            "我兴奋到不能自抑",   
            "我太高兴了，高兴到要爆炸了",  
            "真不敢相信",  
            "我兴奋地浑身战栗",  
            "激动不已",  
            "手舞足蹈",  
            "不能再做一个安静的美男子了",  
            "我的热情像一把火", 
            "精神饱满，爬五楼不费劲", 
            "我跑过来的，有水吗", 
            "聒噪", 
            "哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈…", 
            "爷满血，怕你个球", 
            "XXXX党万岁",  
            "我质疑他们的血糖水平，一个个抖的跟筛糠样",  
            "期待(*^__^*)",
            "不能平静", 
            "让我们玩个游戏", 
            "抓住机会，干翻他！", 
            "我要打十个", 
            "我被他们传染了，我很激动", 
            "我要每种都尝尝", 
            "我唾弃你和你的坟墓", 
            "东方很生气，后果很严重", 
            "我无法再隐藏我的情感", 
            "情绪高涨", 
            "我很快活", 
            "很热闹嘛"  
        ],
        "intrusive": [
            "想要抱抱",
            "想知道你的想法",
            "思索着私人空间是什么？可以吃吗？",
            "享受人们被刺时发出的的痛苦呻吟",
            "想偷听些秘密",
            "想要闻闻别人的体香",
            "想要成为好基友",
            "为你写歌中",
            "想知道你多大",
            "试图打破社交的界限",
            "扭来扭去",
            "错失了社交暗示",
            "只是想要被爱",
            "感到了肉麻",
            "越线中",
            "盯～",
            "舔嘴唇",
            "感觉不被社会所接受",
            "感到穿着不当",
            "发出奇怪的呻吟",
            "挖鼻屎，弹",
            "建立假设中",
            "树敌中",
            "破坏友谊中",
            "试图疏远",
            "感觉被疏远了",
            "被激怒了",
            "个人财产是什么东东",
            "个人空间是什么东东",
            "感到被入侵",
            "爱抚着大腿"
        ],
        "dumb": [
            "嘿",
            "哼唧哼唧～",
            "忘记了自己在做什么了",
            "没有任何感觉",
            "试图明白这些事情",
            "感到不自信",
            "感到自己和⑨一样聪明",
            "感觉自己呆萌蠢笨",
            "想学习新东西",
            "感到很困惑",
            "不明觉厉",
            "希望能更聪明一点",
            "感觉无法表达自己的意思",
            "感受到了智商的碾压",
            "感受到了精神的重负",
            "操作不当",
            "混乱中",
            "计算圆周率小数点后两位数中",
            "感到不知所措",
            "开心不知道",
            "感到很无知",
            "感到舌头打打打结了",
            "工作失误",
            "认真思考着自己到底忘了什么",
            "误解中",
            "认真思考中",
            "笨手笨脚",
            "感到无能",
            "冷笑话",
            "伦家脸红啦",
            "伦家脸红得失控啦",
            "感到理解不能"
        ],
        "emo": [
            "令人遗憾",  
            "流下了一滴眼泪", 
            "感觉没有人能了解他们", 
            "感觉十分情绪化", 
            "只想永远的拥抱黑暗", 
            "他们的心中感到十分的伤心",  
            "感到失落",  
            "感到孤独",
            "感到失望",  
            "感到被误解了", 
            "游走在边缘", 
            "对这个世界伸手党太多感到愤怒", 
            "感到难过", 
            "感觉很失败", 
            "感觉五味杂陈", 
            "伐开心", 
            "感觉十分情绪化", 
            "思考人生",  
            "感觉到危机", 
            "感觉被排斥", 
            "生性多疑", 
            "感觉像在抽泣",  
            "意志很消沉",  
            "感觉内向", 
            "放弃",  
            "屈服",  
            "感觉很冷清",  
            "想自杀",  
            "感觉像在抽泣 ", 
            "试图重新树立自尊",  
            "心如刀哥"
        ],
        "fast": [
            "看起来快速度点好像很重要的样子",
            "感觉整个世界都太慢了",
            "快点",
            "做事要快",
            "挣扎着放慢",
            "把握自己的速度",
            "加速加速",
            "思想在竞速",
            "看之前就该跳跃了",
            "快速思考",
            "真为他们的速度担心",
            "希望他们能在撑久一点",
            "感觉好无聊",
            "快点儿",
            "冲刺",
            "拒绝减速",
            "再快点",
            "抄近路",
            "全力开火",
            "提高效率",
            "快速移动",
            "清除障碍",
            "感觉路线正确",
            "感觉效率很高啊",
            "让枪口跳起来",
            "本末倒置",
            "看起来很准时啊",
            "看起来很忙啊",
            "找些东西",
            "提高耐力",
            "保持健康"
        ],
        "nocturnal": [
            "很困有木有",
            "辗转反侧",
            "累",
            "疲惫",
            "刚做了个噩梦",
            "睡不着",
            "有鬼…在那萧萧暮雨中",
            "等待那一刻来临",
            "无法与她的呼吸同步",
            "我的安定哪去了",
            "他们脸色好苍白，打死他们会不会掉吸血鬼灰烬",
            "他们脱离了体制",
            "食我大屌",
            "我需要好好规划下我的睡眠",
            "双眼充血",
            "唤醒幽冥",
            "很孤独",
            "沉迷于网络",
            "你的脸真模糊",
            "半梦半醒",
            "精尽",
            "眼皮打架",
            "思维不在线上",
            "好累，站不住了",
            "再不让我睡觉我就要疯了",
            "我需要来杯氦3",
            "有点不舒服",
            "是你在唱摇篮曲吗",
            "梦游中…我跳、跳、跳",
            "发呆…",
            "害怕长出犬牙",
            "不能睡，坚持住"
        ],
        "socialite": [
            "今天我有必要和大家谈谈心", 
            "今天我舌头很利索",
            "我需要朋友",
            "告诉你一件大事",
            "我今天听到个特别好笑的笑话，告诉你啊…",
            "来，告诉你个惊天大秘闻",
            "想要开趴",
            "我想知道他们有挚友吗",
            "今天我很受欢迎",
            "我们准备开个派对，你来吗",
            "想组个乐队",
            "慎重考虑准备邀请的客人",
            "感觉今天大家都对我很友善",
            "感受到了开趴的意义",
            "渴望更多关注",
            "做了个雕塑，好丑",
            "惹上了那群长翅膀的",
            "有存在感",
            "我该穿哪件呢",
            "哪个是挚友？那个是酒肉朋友？",
            "考虑设立一个俱乐部",
            "以和为贵",
            "你屌真大",
            "洛哈特的微笑",
            "都不要激动",
            "你真体贴",
            "这些家伙应该看清楚自己在社会上是个什么地位",
            "他们百分百相信的到底是谁",
            "让我们开诚布公地谈一谈",
            "我很缺爱",
            "真好笑"
        ],
        "ambitious": [
            "希望有一天我能够统治银河系",
            "想成为市长",
            "找点事情做",
            "感觉自己屌爆了",
            "紧张！",
            "对未来充满了鸡冻的感情",
            "是时候考虑像积极的方面改变了",
            "想要拥有自己的船",
            "考虑资金问题",
            "在想是不是应该创造一个自己的殖民地",
            "拥有一个伟大的创意",
            "感觉变成了赵日天",
            "创造机会",
            "向前进",
            "感觉自己屌炸了",
            "打破记录",
            "感觉自己的求胜心越来越强",
            "想要更多",
            "想去赌赌运气",
            "做好抓紧每一天的准备",
            "想要转职成法师",
            "危险的动机",
            "中介交易",
            "站在生活的制高点鄙视你们",
            "做最好的自己",
            "比赛得第一",
            "不择手段",
            "想要成为最好",
            "做好心里准备（求阴影面积）",
            "把提升自己作为新的目标",
            " "
        ]
    }
}
