{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "杀戮", "闪电", "死亡", "风暴", "花花公子", "鞭打", "愤怒", "战场", "恐怖", "粉碎", "砍击", "斩击", "紧缩的", "劈斩", "重击", "脊柱", "头骨", "耳朵", "鼻子", "猿", "植物", "鸟", "鱼", "机器人", "肉", "兄弟", "外星", "石头", "木头", "星星", "空间", "星球", "鹿", "黎明", "黄昏" ],
      [ { "mode" : "alts" }, "封锁者", "导流者", "守卫者", "护盾", "圆盾", "掩护者", "保护者", "止戮者", "阻箭者", "夜宴盾", "粉碎防护者", "防护者", "排忧者", "阻刀者", "挡锤者", "止斧者", "止矛者", "导匕者" ]
    ]
  ]
}
