{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "感伤的", "蹩脚的", "腐烂的", "没人爱的", "稀松的", "钝的", "无用的", "枉然的", "弱的", "腐朽的", "浪费的", "摇摇晃晃的", "摇晃的", "平淡的", "微弱的", "变质的", "可笑的", "无意义的", "不需要的", "无厘头的", "愚蠢的", "平凡的" ],
      [ { "mode" : "alts" }, "封锁者", "导流者", "守卫者", "护盾", "圆盾", "掩护者", "保护者", "止戮者", "阻箭者", "夜宴盾", "粉碎防护者", "防护者", "排忧者", "阻刀者", "挡锤者", "止斧者", "止矛者", "导匕者" ]
    ]
  ]
}
