{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "辉煌", "神", "收割者", "龙卷风", "哥们兄弟", "蠕动", "愤怒", "战争", "生存恐怖", "果酱", "骰子", "利维坦", "颚", "超级黑客", "超级失衡", "骷髅", "头骨", "耳朵", "鼻子", "猿族", "植物", "鸟", "鱼", "机器人", "肉", "兄弟哥们", "外星", "花岗岩", "木头", "超新星", "空间", "星球", "雄鹿", "黎明", "黄昏" ],
      [ { "mode" : "alts" }, "封锁者", "导流者", "守卫者", "护盾", "圆盾", "掩护者", "保护者", "止戮者", "阻箭者", "夜宴盾", "粉碎防护者", "防护者", "排忧者", "阻刀者", "挡锤者", "止斧者", "止矛者", "导匕者" ]
    ]
  ]
}
