{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说中的", "妹子的", "无节操的", "绅士的", "神圣的", "美丽的", "宝贵的", "可怕的", "顽皮的", "熊孩子的", "锋利的", "狂野的", "邪恶的", "危险的", "专业的", "不死的", "悸动的", "恶魔的", "愉快的", "无人品的", "高兴的", "萌萌的", "警觉的", "尖叫的", "杯具的", "波涛汹涌的", "海贼的", "雷鸣的", "平胸的", "学姐的" ],
      [ { "mode" : "alts" }, "杀戮", "迅雷", "死亡", "风暴", "花心", "斩浪", "狂怒", "战斗", "恐惧", "粉碎", "破碎", "排骨", "摩擦", "灌篮", "重击", "脊椎", "头骨", "听觉", "嗅觉", "猿人", "植物", "小鸟", "渔夫", "高达", "肉食", "兄弟", "异域", "摇滚", "木制", "星空", "空间", "行星", "驯鹿", "破晓", "黄昏" ],
      [ { "mode" : "alts" }, "切碎机", "高手", "王大锤", "榨汁机", "切丁机", "打桩机", "重击者", "破法者", "盾卫者", "强击者", "杀手", "牧羊犬", "冲击波", "接吻者", "僵尸克星", "伙计", "投手", "使者", "恋人", "巨锤" ]
    ]
  ]
}
