{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Improvised ", "Makeshift ", "Ineffectual ", "Budget ", "Home-made " ],
      [ { "mode" : "alts" }, "Face", "Head", "Skull", "Body", "Hero", "Gang" ],
      [ { "mode" : "alts" }, "whacker", "hitter", "slapper", "-stick", "basher" ]
    ]
  ]
}
