{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/fossilheader.png",
      "fileBody" : "/interface/objectcrafting/fossilcrafting.png",
      "fileFooter" : "/interface/objectcrafting/fossilfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [124, 84]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [61, 44],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "dragDrop" : {
      "type" : "label",
      "value" : "Insert Fossil",
      "hAnchor" : "mid",
      "position" : [70, 66]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/fossilshine.png",
      "position" : [1, 20]
    }
  }
}
