{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "实验性的", "高电压的", "吓破胆的", "报复性的", "不慈悲的", "无情的", "虐待狂的", "努力的", "不道德的" ],
      [ { "mode" : "alts" }, "特斯拉加农炮", "电击者", "征服者", "镇压者", "风暴使者", "闪电穿刺者", "履行者", "激励者", "闪耀者", "雷击", "讽刺者" ]
    ]
  ]
}
