{
  // static locations

  "spacestation_electronics" : {
    "warpAction" : "InstanceWorld:spacestation_electronics",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/spacestationicon.png",

      "displayName" : "Electronics Station",
      "description" : "This station takes advantage of microgravity to manufacture a variety of delicate electronic components.",

      "bookmarkIcon" : "spacestation"
    }
  },

  "spacestation_food" : {
    "warpAction" : "InstanceWorld:spacestation_food",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/spacestationicon.png",

      "displayName" : "Food Distribution Station",
      "description" : "Even in the vastness of space, people still gotta eat. This station produces and distributes foodstuffs to suit various alien tastes.",

      "bookmarkIcon" : "spacestation"
    }
  },

  "spacestation_medical" : {
    "warpAction" : "InstanceWorld:spacestation_medical",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/spacestationicon.png",

      "displayName" : "Medical Research Station",
      "description" : "Researchers in this station study the effects of microgravity on physiology in order to develop novel medicines.",

      "bookmarkIcon" : "spacestation"
    }
  },

  "spacestation_weapons" : {
    "warpAction" : "InstanceWorld:spacestation_weapons",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/spacestationicon.png",

      "displayName" : "Weapons Trade Station",
      "description" : "From classified government programs to mad penguin scientists, space is full of people making exciting new weaponry.",

      "bookmarkIcon" : "spacestation"
    }
  },

  "spacestation_peacekeeper1" : {
    "warpAction" : "InstanceWorld:spacestation_peacekeeper1",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/peacekeeperspacestationicon.png",

      "displayName" : "Peacekeeper Station",
      "description" : "A derelict asteroid, hastily refitted into a hub for Peacekeepers.",

      "bookmarkIcon" : "spacestation"
    }
  },

  "spacestation_peacekeeper2" : {
    "warpAction" : "InstanceWorld:spacestation_peacekeeper2",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/peacekeeperspacestationicon.png",

      "displayName" : "Peacekeeper Station",
      "description" : "A slightly run-down office, currently being used as a hub for Peacekeepers.",

      "bookmarkIcon" : "spacestation"
    }
  },

  "spacestation_peacekeeper3" : {
    "warpAction" : "InstanceWorld:spacestation_peacekeeper3",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/peacekeeperspacestationicon.png",

      "displayName" : "Peacekeeper Station",
      "description" : "A hub for Peacekeepers that is small but homely.",

      "bookmarkIcon" : "spacestation"
    }
  },

  "spacestation_peacekeeper4" : {
    "warpAction" : "InstanceWorld:spacestation_peacekeeper4",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/peacekeeperspacestationicon.png",

      "displayName" : "Peacekeeper Station",
      "description" : "A large space station will many facilities, used as a hub for Peacekeepers.",

      "bookmarkIcon" : "spacestation"
    }
  },

  "spacestation_peacekeeper5" : {
    "warpAction" : "InstanceWorld:spacestation_peacekeeper5",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/peacekeeperspacestationicon.png",

      "displayName" : "Peacekeeper Station",
      "description" : "A slick neon space station, used as a hub for Peacekeepers.",

      "bookmarkIcon" : "spacestation"
    }
  },

  "playerstation" : {
    "warpAction" : "InstanceWorld:playerstation",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/spacestationicon.png",

      "displayName" : "Personal Space Station",
      "description" : "This personal space station was deployed by a fellow adventurer. They probably have good stuff to steal.",

      "bookmarkIcon" : "spacestation"
    }
  },

  // moving locations
  "pirateship" : {
    "warpAction" : "InstanceWorld:pirateship",
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/ships/shiphorizonleft.png", "right": "/celestial/system/ships/shiphorizonright.png" } ]
    },

    "moving" : true,
    "speed" : 15.0,
    "orbitRange" : [1, 1],
    "lifeTime" : [1500, 2100],
    "parameters" : {
      "icon" : "/celestial/system/ships/npcship.png",
      "displayName" : "Hostile Ship",
      "description" : "Whoever's flying this ship, we shouldn't get close without being prepared for a fight."
    }
  },

  "cultistship" : {
    "warpAction" : "InstanceWorld:cultistship",
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/ships/shiphorizonleft.png", "right": "/celestial/system/ships/shiphorizonright.png" } ]
    },

    "moving" : true,
    "speed" : 15.0,
    "orbitRange" : [1, 1],
    "lifeTime" : [1500, 2100],
    "parameters" : {
      "icon" : "/celestial/system/ships/npcship.png",
      "displayName" : "Hostile Ship",
      "description" : "Whoever's flying this ship, we shouldn't get close without being prepared for a fight."
    }
  },

  "researchship" : {
    "warpAction" : "InstanceWorld:researchship",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/ships/shiphorizonleft.png", "right": "/celestial/system/ships/shiphorizonright.png" } ]
    },

    "moving" : true,
    "speed" : 15.0,
    "orbitRange" : [1, 1],
    "lifeTime" : [1500, 2100],
    "parameters" : {
      "icon" : "/celestial/system/ships/npcship.png",
      "displayName" : "Friendly Ship",
      "description" : "This ship acknowledges our communications and her captain cordially invites us to pay a visit."
    }
  },

  "merchantindustrialship" : {
    "warpAction" : "InstanceWorld:merchantindustrialship",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/ships/shiphorizonleft.png", "right": "/celestial/system/ships/shiphorizonright.png" } ]
    },

    "moving" : true,
    "speed" : 15.0,
    "orbitRange" : [1, 1],
    "lifeTime" : [1500, 2100],
    "parameters" : {
      "icon" : "/celestial/system/ships/npcship.png",
      "displayName" : "Friendly Ship",
      "description" : "This ship acknowledges our communications and her captain cordially invites us to pay a visit."
    }
  },

  "merchantastroship" : {
    "warpAction" : "InstanceWorld:merchantastroship",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/ships/shiphorizonleft.png", "right": "/celestial/system/ships/shiphorizonright.png" } ]
    },

    "moving" : true,
    "speed" : 15.0,
    "orbitRange" : [1, 1],
    "lifeTime" : [1500, 2100],
    "parameters" : {
      "icon" : "/celestial/system/ships/npcship.png",
      "displayName" : "Friendly Ship",
      "description" : "This ship acknowledges our communications and her captain cordially invites us to pay a visit."
    }
  },

  "penguinship" : {
    "warpAction" : "InstanceWorld:penguinship",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/ships/shiphorizonleft.png", "right": "/celestial/system/ships/shiphorizonright.png" } ]
    },

    "moving" : true,
    "speed" : 15.0,
    "orbitRange" : [1, 1],
    "lifeTime" : [1500, 2100],
    "parameters" : {
      "icon" : "/celestial/system/ships/npcship.png",
      "displayName" : "Friendly Ship",
      "description" : "This ship acknowledges our communications and her captain cordially invites us to pay a visit."
    }
  },

  "anomaly" : {
    "warpAction" : "InstanceWorld:spaceencounter",
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/anomaly/anomalyhorizonleft.png", "right": "/celestial/system/anomaly/anomalyhorizonright.png" } ]
    },

    "moving" : false,
    "speed" : 0,
    "orbitRange" : [0, 0],
    "generatedParameters" : {
      "displayName" : "/celestial/anomalynames.config:nameGen"
    },
    "lifeTime" : [1500, 2100],
    "parameters" : {
      "icon" : "/celestial/system/anomaly/anomaly.png",
      "displayName" : "???",
      "description" : "Celestial interference prevents a detailed scan, but there are anomalous energy readings here that warrant investigation."
    }
  },

  "bountyanomaly" : {
    "warpAction" : "InstanceWorld:bountyspaceencounter",
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/anomaly/anomalyhorizonleft.png", "right": "/celestial/system/anomaly/anomalyhorizonright.png" } ]
    },

    "moving" : false,
    "speed" : 0,
    "orbitRange" : [0, 0],
    "lifeTime" : [1500, 2100],
    "parameters" : {
      "icon" : "/celestial/system/anomaly/anomaly.png",
      "displayName" : "Criminal Hideout",
      "description" : "This is where criminals hide out."
    }
  },

  "bountyship" : {
    "warpAction" : "InstanceWorld:bountyshipencounter",
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/ships/shiphorizonleft.png", "right": "/celestial/system/ships/shiphorizonright.png" } ]
    },

    "moving" : true,
    "speed" : 15.0,
    "orbitRange" : [1, 1],
    "lifeTime" : [1500, 2100],
    "parameters" : {
      "icon" : "/celestial/system/ships/npcship.png",
      "displayName" : "Suspicious Ship",
      "description" : "Whoever's flying this ship, we shouldn't get close without being prepared for a fight."
    }
  }
}
