{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/bountyboard/header.png",
      "fileBody" : "/interface/scripted/bountyboard/body.png",
      "fileFooter" : "/interface/scripted/bountyboard/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Bounty Board",
      "subtitle" : " The Galaxy's Most Wanted",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/bountyboard/bountyboardicon.png"
      }
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [324, 293]
    },

    // "btnDebugReset" : {
    //   "type" : "button",
    //   "base" : "/interface/x.png",
    //   "hover" : "/interface/xhover.png",
    //   "pressed" : "/interface/xpress.png",
    //   "pressedOffset" : [0, 0],
    //   "position" : [324, 25],
    //   "callback" : "debugReset"
    // },

    "imgLoadingOverlay" : {
      "type" : "image",
      "zlevel" : 10,
      "file" : "/interface/scripted/bountyboard/loading.png:1",
      "position" : [1, 23]
    },

    "summaryOverlay" : {
      "type" : "layout",
      "layoutType" : "basic",
      "zlevel" : 5,
      "rect" : [1, 22, 339, 288],
      "children" : {
        "btnSummaryWindow" : {
          "type" : "button",
          "zlevel" : 1,
          "position" : [0, 0],
          "base" : "/interface/scripted/bountyboard/update_window.png",
          "hover" : "/interface/scripted/bountyboard/update_window.png",
          "pressed" : "/interface/scripted/bountyboard/update_window.png",
          "pressedOffset" : [0, 0],
          "enabled" : true,
          "callback" : "hideSummary"
        },
        "lblNameHeader" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [52, 197],
          "hAnchor" : "left",
          "vAnchor" : "bottom",
          "color" : "#02033B",
          "value" : "Name"
        },
        "lblStatusHeader" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [150, 197],
          "hAnchor" : "left",
          "vAnchor" : "bottom",
          "color" : "#02033B",
          "value" : "Status"
        },
        "lblMoneyHeader" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [200, 197],
          "hAnchor" : "left",
          "vAnchor" : "bottom",
          "color" : "#02033B",
          "value" : "Pixels"
        },
        "lblRankHeader" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [230, 197],
          "hAnchor" : "left",
          "vAnchor" : "bottom",
          "color" : "#02033B",
          "value" : "Rank"
        },
        "lblCreditsHeader" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [260, 197],
          "hAnchor" : "left",
          "vAnchor" : "bottom",
          "color" : "#02033B",
          "value" : "Credits"
        },
        "lblNameList" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [52, 192],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "color" : "#F77EC8",
          "value" : "Name"
        },
        "lblStatusList" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [150, 192],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "color" : "#F77EC8",
          "value" : "Status"
        },
        "lblMoneyList" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [200, 192],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "color" : "#F77EC8",
          "value" : "Pixels"
        },
        "lblRankList" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [230, 192],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "color" : "#F77EC8",
          "value" : "Rank"
        },
        "lblCreditsList" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [260, 192],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "color" : "#F77EC8",
          "value" : "Credits"
        },
        "lblExtraEvents" : {
          "type" : "label",
          "zlevel" : 3,
          "position" : [50, 69],
          "hAnchor" : "left",
          "vAnchor" : "bottom",
          "color" : "#BCE68A",
          "value" : ""
        }
      }
    },

    "imgRankProgressBg" : {
      "type" : "image",
      "zlevel" : 1,
      "file" : "/interface/scripted/bountyboard/bar_underlay.png",
      "position" : [24, 264]
    },
    "prgRank" : {
      "type" : "progress",
      "zlevel" : 2,
      "position" : [24, 264],
      "size" : [303, 18],
      "progressSet" : {
        "inner" : "/interface/scripted/bountyboard/bar_overlay.png",
        "type" : "repeat"
      },
      "direction" : "horizontal",
      "max" : 1
    },
    "imgRankIcon" : {
      "type" : "image",
      "zlevel" : 3,
      "file" : "",
      "position" : [8, 263]
    },
    "lblRank" : {
      "type" : "label",
      "zlevel" : 3,
      "position" : [168, 273],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 244,
      "value" : ""
    },

    "imgAssignmentBg" : {
      "type" : "image",
      "zlevel" : 1,
      "file" : "/interface/scripted/bountyboard/gangbar.png",
      "position" : [22, 251]
    },
    "lblAssignment" : {
      "type" : "label",
      "zlevel" : 3,
      "position" : [172, 258],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 284,
      "value" : ""
    },

    "lblOtherAssignment" : {
      "type" : "label",
      "zlevel" : 3,
      "position" : [168, 137],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 284,
      "visible" : false,
      "value" : "You are assigned to another Peacekeeper Department."
    },

    "boardLayout" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [3, 23, 333, 252]
    }
  },

  "scriptWidgetCallbacks" : [
    "selectPoster",
    "hideSummary",
    "debugReset"
  ],

  "scripts" : ["/interface/scripted/bountyboard/bountyboardgui.lua"],
  "scriptDelta" : 5,

  "assignmentFormat" : "Investigate the ^yellow;<gangName>^reset; near ^cyan;<systemName>",
  "missingAssignment" : "No peacekeper assignment found",

  "gridSize" : [3, 2],
  "padding" : [2, 2],

  "minLoadTime" : 1.5,
  "loadingFrames" : 4,
  "loadingCycle" : 1.0,
  "loadingBaseImage" : "/interface/scripted/bountyboard/loading.png",

  "newAssignmentText" : " New Assignment!",
  "newRankText" : " Rank Up!",

  "portraitItems" : {
    "chest" : [ { "name" : "jumpsuitchest", "parameters" : { "colorIndex" : 5 } } ],
    "legs" : [ { "name" : "jumpsuitlegs", "parameters" : { "colorIndex" : 5 } } ]
  },

  "posterTypes" : {
    "minor" : {
      "type" : "layout",
      "layoutType" : "basic",
      "size" : [67, 77],
      "children" : {
        "posterButton" : {
          "type" : "button",
          "zlevel" : 3,
          "position" : [0, 0],
          "base" : "/interface/scripted/bountyboard/poster_small_<posterColor>.png",
          "hover" : "/interface/scripted/bountyboard/poster_small_<posterColor>.png?fade=FFFFFF=0.01",
          "pressed" : "/interface/scripted/bountyboard/poster_small_<posterColor>.png?fade=000000=0.01",
          "pressedOffset" : [0, 0],
          "enabled" : true,
          "callback" : "selectPoster",
          "data" : "<posterWidgetName>"
        },
        "imgWanted" : {
          "type" : "image",
          "zlevel" : 4,
          "mouseTransparent" : true,
          "scale" : 1.0,
          "position" : [32, 68],
          "centered" : true,
          "file" : "<wantedImage>"
        },
        "portraitContainer" : {
          "type" : "layout",
          "layoutType" : "basic",
          "scissoring" : true,
          "size" : [27, 26],
          "position" : [20, 27],
          "zlevel" : 2,
          "mouseTransparent" : true,
          "children" : {
            "imgPortrait" : {
              "type" : "image",
              "mouseTransparent" : true,
              "scale" : 1.5,
              "trim" : false,
              "offset" : [27, 8],
              "centered" : false,
              "drawables" : "<portraitDrawables>"
            }
          }
        },
        "imgPortraitBg" : {
          "type" : "image",
          "zlevel" : 1,
          "mouseTransparent" : true,
          "scale" : 1.0,
          "position" : [20, 28],
          "centered" : false,
          "file" : "/interface/scripted/bountyboard/portrait_bg.png"
        },
        "lblName" : {
          "type" : "label",
          "zlevel" : 4,
          "mouseTransparent" : true,
          "position" : [33, 18],
          "hAnchor" : "mid",
          "vAnchor" : "top",
          "wrapWidth" : 58,
          "value" : "^#<posterColor>;<targetName>"
        }
      }
    },
    "major" : {
      "type" : "layout",
      "layoutType" : "basic",
      "size" : [67, 93],
      "children" : {
        "posterButton" : {
          "type" : "button",
          "zlevel" : 3,
          "position" : [0, 0],
          "base" : "/interface/scripted/bountyboard/poster_large_<posterColor>.png",
          "hover" : "/interface/scripted/bountyboard/poster_large_<posterColor>.png?fade=FFFFFF=0.01",
          "pressed" : "/interface/scripted/bountyboard/poster_large_<posterColor>.png?fade=000000=0.01",
          "pressedOffset" : [0, 0],
          "enabled" : true,
          "callback" : "selectPoster",
          "data" : "<posterWidgetName>"
        },
        "imgWanted" : {
          "type" : "image",
          "zlevel" : 4,
          "mouseTransparent" : true,
          "scale" : 1.0,
          "position" : [32, 84],
          "centered" : true,
          "file" : "<wantedImage>"
        },
        "lblCaptureType" : {
          "type" : "label",
          "zlevel" : 4,
          "mouseTransparent" : true,
          "position" : [33, 71],
          "hAnchor" : "mid",
          "vAnchor" : "top",
          "wrapWidth" : 58,
          "value" : "^#<posterColor>;<captureType>"
        },
        "portraitContainer" : {
          "type" : "layout",
          "layoutType" : "basic",
          "scissoring" : true,
          "size" : [27, 26],
          "position" : [20, 30],
          "zlevel" : 2,
          "mouseTransparent" : true,
          "children" : {
            "imgPortrait" : {
              "type" : "image",
              "mouseTransparent" : true,
              "scale" : 1.5,
              "trim" : false,
              "offset" : [27, 8],
              "centered" : false,
              "drawables" : "<portraitDrawables>"
            }
          }
        },
        "imgPortraitBg" : {
          "type" : "image",
          "zlevel" : 1,
          "mouseTransparent" : true,
          "scale" : 1.0,
          "position" : [20, 31],
          "centered" : false,
          "file" : "/interface/scripted/bountyboard/portrait_bg.png"
        },
        "lblName" : {
          "type" : "label",
          "zlevel" : 4,
          "mouseTransparent" : true,
          "position" : [33, 26],
          "hAnchor" : "mid",
          "vAnchor" : "top",
          "wrapWidth" : 58,
          "value" : "^#<posterColor>;<targetName>"
        }
      }
    }
  },

  "posterTags" : {
    "wantedImage" : [
      "/interface/scripted/bountyboard/title_1.png",
      "/interface/scripted/bountyboard/title_2.png",
      "/interface/scripted/bountyboard/title_3.png",
      "/interface/scripted/bountyboard/title_4.png",
      "/interface/scripted/bountyboard/title_5.png",
      "/interface/scripted/bountyboard/title_6.png",
      "/interface/scripted/bountyboard/title_7.png",
      "/interface/scripted/bountyboard/title_8.png",
      "/interface/scripted/bountyboard/title_9.png",
      "/interface/scripted/bountyboard/title_10.png",
      "/interface/scripted/bountyboard/title_11.png",
      "/interface/scripted/bountyboard/title_12.png",
      "/interface/scripted/bountyboard/title_13.png"
    ],
    "majorText" : [
      // "DEAD (or alive)",
      // "DEAD or ALIVE",
      // "DEAD OR ALIVE",
      // "Dead or Alive",
      "HIGH VALUE"
    ],
    "capstoneText" : [
      "LEADER"
    ],
    "majorColor" : [
      "7CBAF4",
      "BCE68A",
      "C4D993",
      "F77EC8",
      "FBBC64",
      "FBBC65"
    ],
    "minorColor" : [
      "7CBAF3",
      "7CBAF4",
      "BCE68A",
      "BCE68B",
      "F77EC8",
      "FBBC65"
    ]
  }
}
