{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "超能力", "浪漫主义", "冲动的", "特级", "夏利", "暗影公司", "坏死的", "天赐的" ],
      [ { "mode" : "alts" }, "星辰", "末日", "Ψ", "混乱", "骷髅", "海啸", "力量", "银河", "波浪", "月光", "魔爪", "荣耀", "魔枢", "月神", "塑料", "像素", "大地女神", "日曜", "风暴", "行星", "完美", "灵魂", "心灵", "山脉", "恐惧", "星云", "光轮", "天际", "天空", "海洋", "以太", "真实", "物质", "圣光", "虚空", "融合", "相位", "黎明", "黄昏", "不稳定", "飓风", "原子", "阿斯特拉", "彗星", "守望者", "咆哮", "脉冲" ],
      [ { "mode" : "alts" }, "步枪", "枪", "喷子", "阻止者", "洒水器", "冲击波", "榴弹炮", "投手", "二传手", "之裁决", "肇事者", "破坏者", "毁灭者", "之罪孽", "屠宰者", "填充器", "暴徒", "触发器", "气泵", "驱逐者", "弹幕", "恐惧"   ]
    ]
  ]
}
