{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说", "小姐", "", "先生", "神圣", "美丽", "珍贵", "酷炫", "邪恶", "坏蛋", "锋利", "狂野", "恶魔" ],
      [ { "mode" : "alts" }, "杀戮", "雷电", "死亡", "风暴", "鞭打", "愤怒", "战场", "恐怖", "崩溃", "削减", "斩", "紧缩", "劈", "重打", "脊柱", "头骨", "耳朵", "鼻子", "猿", "植物", "鸟", "鱼", "机器人", "肉", "兄弟", "外星", "石头", "木头", "星星", "空间", "星球", "鹿", "黎明", "黄昏" ],
      [ { "mode" : "alts" }, "锥子", "梭子", "矛", "棒", "赐", "扑克", "贴纸", "臂" ]
    ]
  ]
}
