{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "骨头", "武装", "肉体", "生物", "致命的", "软骨", "鲜肉", "毁灭", "骨架", "颅骨", "热血", "肌肉", "肥肉", "牛肉", "大汉", "断肢", "极限", "大腿" ],
      [ { "mode" : "alts" }, "锯子", "掠夺者", "切肉刀", "切碎机", "切肉斧", "屠夫", "切割机", "切片机", "切丁机", "锯片", "分离器", "吸血鬼", "雕刻者", "撕裂者", "施莱德", "织布机", "摩擦器" ]
    ]
  ]
}
