{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说", "小姐", "", "先生", "神圣", "美丽", "珍贵", "酷炫", "邪恶", "坏蛋", "锋利", "狂野", "恶魔", "危险", "教授", "未亡", "悸动", "邪魔", "愉快", "可怕", "开心", "可爱", "报警", "尖叫", "悲惨", "震荡", "海盗" ],
      [ { "mode" : "alts" }, "杀戮", "雷电", "死亡", "风暴", "鞭打", "愤怒", "战场", "恐怖", "崩溃", "削减", "斩", "紧缩", "劈", "重打", "脊柱", "头骨", "耳朵", "鼻子", "猿", "植物", "鸟", "鱼", "机器人", "肉", "兄弟", "外星", "石头", "木头", "星星", "空间", "星球", "鹿", "黎明", "黄昏" ],
      [ { "mode" : "alts" }, "锥子", "刃", "匕首", "切片机", "渲染器", "切割机", "劈砍者", "切割者", "缝衣针", "扑克", "疲倦者", "闲聊者" ]
    ]
  ]
}
