{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说中的", "妹子的", "东方的", "绅士的", "神圣的", "迷人的", "珍贵的", "可怕的", "邪恶的", "熊孩子的", "锐利的", "野蛮的", "魔鬼的", "危险的", "专业的", "不死的", "悸动的", "恶魔的", "愉快的", "悲剧的", "幸福的", "萌萌的", "警惕的", "尖叫的", "悲惨的", "波涛汹涌的", "海盗的" ],
      [ { "mode" : "alts" }, "杀戮", "苍雷", "毁灭", "风暴", "帅小伙", "逆行", "狂怒", "战斗", "恐怖", "粉碎", "鞭笞", "排骨", "摩擦", "劈砍", "重击", "脊椎", "颅骨", "听觉", "嗅觉", "猿人", "植物", "鸟人", "渔夫", "高达", "鲜肉", "兄弟", "异形", "摇滚", "木制", "星空", "空间", "行星", "驯鹿", "破晓", "黄昏" ],
      [ { "mode" : "alts" }, "刺客", "刀锋", "匕首", "切丁机", "描绘者", "切片机", "入侵者", "切割机", "刺针", "拨火棍", "捣乱者", "话痨" ]
    ]
  ]
}
