{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "骨头", "骨棒", "硬骨", "骸骨", "致命的", "软骨", "死亡", "毁灭", "骨架", "颅骨", "腐尸", "脱色", "恐惧", "惊悚", "恐怖", "坟墓", "墓地", "墓穴" ],
      [ { "mode" : "alts" }, "刺客", "刀锋", "剑", "切丁机", "渲染器", "切片机", "入侵者", "切割机", "杀手", "断木机", "分离器", "杀戮者", "骇客", "天灾", "雕刻者" ]
    ]
  ]
}
