{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说中的", "妹子的", "无节操的", "绅士的", "神圣的", "迷人的", "珍贵的", "可怕的", "邪恶的", "熊孩子的", "锐利的", "野蛮的", "魔鬼的" ],
      [ { "mode" : "alts" }, "水晶", "闪耀", "结晶", "珍贵", "闪烁" ],
      [ { "mode" : "alts" }, "刺客", "矛", "长矛", "棍子", "描绘者", "拨火棍", "尖刀", "武装" ]
    ]
  ]
}
