{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "全视", "凝视", "洞察", "眨眼", "偷窥", "凝望", "窥视", "眼球", "瞳孔", "角膜", "灼眼", "邪眼", "百眼", "红眼", "冰眼", "白眼", "视网膜", "写轮眼" ],
      [ { "mode" : "alts" }, "切碎机", "之刃", "斧", "切丁机", "渲染器", "切片机", "入侵者", "切割机", "盾卫者", "打击者", "杀手", "冲击波", "接吻者", "僵尸克星", "帅小伙", "恋人", "夏娜", "巨人" ]
    ]
  ]
}
