{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说中的", "妹子的", "奇迹的", "绅士的", "神圣的", "美丽的", "宝贵的", "可怕的", "顽皮的", "熊孩子的", "锋利的", "狂野的", "邪恶的" ],
      [ { "mode" : "alts" }, "腐蚀", "暗影", "死亡", "凋零", "堕落", "腐朽", "发霉" ],
      [ { "mode" : "alts" }, "刺客", "之刃", "剑", "切丁机", "撕裂者", "切片机", "入侵者", "切割者" ]
    ]
  ]
}
