{
  "namegen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "雉堞", "水流", "齿轮", "碎片", "自由意志", "退役", "无力的", "普通的", "可接受的", "声明", "机器" ],
      [ { "mode" : "alts" }, "封锁者", "导流者", "守卫者", "护盾", "圆盾", "掩护者", "保护者", "止戮者", "阻箭者", "夜宴盾", "粉碎防护者", "防护者", "排忧者", "阻刀者", "挡锤者", "止斧者", "止矛者", "导匕者" ]
    ]
  ]
}
