{
  "namegen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "菇", "蘑菇", "菌", "按钮", "毒菌", "迷幻", "魔法" ],
      [ { "mode" : "alts" }, "封锁者", "导流者", "守卫者", "护盾", "圆盾", "掩护者", "保护者", "止戮者", "阻箭者", "夜宴盾", "粉碎防护者", "防护者", "排忧者", "阻刀者", "挡锤者", "止斧者", "止矛者", "导匕者" ]
    ]
  ]
}
