{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "悲哀的", "蹩脚的", "堕落的", "失宠的", "草率的", "迟钝的", "无效的", "无用的", "虚弱的", "破旧的", "浪费的", "摇晃的", "摆动的", "阴暗的", "无力的", "损坏的", "可笑的", "无谓的", "钝的", "愚蠢的", "笨蛋的", "差劲的" ],
      [ { "mode" : "alts" }, "拨火棍", "破坏者", "穿刺者", "冲击波", "击球手", "备忘录", "恋人", "重击者", "重剑", "纠缠者", "变节者" ]
    ]
  ]
}
