{
  "converse" : {
    "default" : {
      "default" : [
        "欢迎上贼船~",
        "你是怎么上来的？",
        "不要碰我们的货物这样我们之间也不会有任何问题。",
        "如果供应品里有你想要的，去找军需官吧。",
        "以前没见过你呀。",
        "你是新的船员吗？",
        "你应该找个时间跟我们一起来喝一杯！",
        "小心你的脚下，刮风的时候会不太好走。",
        "在船长身边的时候管好你自己。",
        "在船长身边的时候确保你会守规矩。",
        "你应该向船长介绍你自己。",
        "想加入我们船队吗？",
        "你是来交易东西的吗？",
        "虽然有挑战，但那是飞船船员的生活很棒！",
        "如果你是来打架的话，我建议你三思。",
        "别自找麻烦而且没人会帮你的。",
        "不要到处乱摸！",
        "额，我今天负责做清洁。",
        "就在此处的广阔的天空，我属于这里！",
        "你最好不要盯着我们的货物看！",
        "你有没有想过去弄一个眼罩？",
        "主甲板上的风景真的很不错！",
        "你要敢惹事就把你关起来!",
        "在找物资吗？去见军需官吧。",
        "你觉得我们的船怎么样？",
        "这些螺旋桨需要不停的保养！",
        "我想知道我家人怎么样了。",
        "我是新来的，但是我正在渐渐的找到我远航的目标!",
        "哪怕有一次，我希望船长能叫我的名字而不是叫我伙计。",
        "你看上去很能干，有没有想过在天空中的生活？",
        "总有一天，我要成为船长！",
        "飞空艇上的生活不完全和他们吹嘘的一样。",
        "每天都一样无聊。",
        "这个船很大很漂亮，但是食物很难吃，你们知道怎么做菜吗？",
        "想当年，这艘船比现在好得多，但是这里是我的家。",
        "我希望有一天我也能跟船长一样强大！",
        "船长很严厉，但是很公平。",
        "你迷路了？",
        "我们在上一站弄到了很棒的物资！",
        "对有些人来说是为了钱，对我来说，是为了冒险！",
        "传言说我们的船长干掉了一个巨大的触♂手怪！",
        "在我们工作中可以看到很多新奇的东西，但是同时他们也很危险！",
        "最好不要让我抓到你偷东西！",
        "把手放到我能看见的地方！",
        "如果你需要物资你需要去找我们的军需官。",
        "如果你对船长有一点不尊敬，我会干死你的！",
        "我们是交易的商船，但是不要以为我们好对付！",
        "看起来你打过一两次架。"
      ]
    }
  },
  "hail" : {
    "default" : {
      "default" : [
        "把手放到我能看见的地方！",
        "我注意着你呢。",
        "现在开始不要有任何不良的想法。",
        "我盯着你呢。",
        "最好不要让我抓到你偷东西。",
        "如果供应品里有你想要的，去找军需官吧。",
        "在这艘船上，你最好管好你自己。"
      ]
    }
  }
}