{
  "attack" : {
    "default" : {
      "default" : [
        "You think to get me, but it is YOU who will be got!",
        "Let's dance!",
        "One-on-one, let's go!",
        "I've been waiting for you, Peacekeeper!",
        "You're gonna wish you didn't come after the ^orange;<gangName>^reset;!",
        "You've made a mistake messing with the ^orange;<gangName>^reset;!",
        "I'm a member of the ^orange;<gangName>^reset; - couldn't you tell?",
        "Can you stand against the might of the ^orange;<gangName>^reset;?"
      ]
    },
    "apex" : {
      "default" : [
        "The Miniknog can't catch me - what makes you think you can?",
        "Let us dance!",
        "I've been waiting for you, Peacekeeper!",
        "You're gonna wish you didn't come after the ^orange;<gangName>^reset;!",
        "You've made a mistake messing with the ^orange;<gangName>^reset;!",
        "I'm a member of the ^orange;<gangName>^reset; - couldn't you tell?",
        "Can you stand against the might of the ^orange;<gangName>^reset;?"
      ]
    },
    "avian" : {
      "default" : [
        "You won't imprison me - I'm a free bird!",
        "Let's dance!",
        "I've been waiting for you, Peacekeeper!",
        "You're gonna wish you didn't come after the ^orange;<gangName>^reset;!",
        "You've made a mistake messing with the ^orange;<gangName>^reset;!",
        "I'm a member of the ^orange;<gangName>^reset; - couldn't you tell?",
        "Can you stand against the might of the ^orange;<gangName>^reset;?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran not going back to prissson!",
        "Floran isss proud member of the ^orange;<gangName>^reset;! Floran won't go down easssy!",
        "You think you can ssstop the ^orange;<gangName>^reset;?",
        "Floran ready for fight with Peacekeeper!"
      ]
    },
    "glitch" : {
      "default" : [
        "Eager. You aren't the first to come after me, and you won't be the last!",
        "Proud. I shall show the true might of the ^orange;<gangName>^reset;!",
        "Menacing. You have made a grave mistake by challenging the ^orange;<gangName>^reset;!",
        "Intimidating. You are a fool to cross blades with the ^orange;<gangName>^reset;!"
      ]
    },
    "hylotl" : {
      "default" : [
        "I am slipperier than a snaunt and swifter than a jetstream. You shall not catch me easily!",
        "My third eye can see your hesitation. You know that challenging me is a mistake!",
        "Let us dance!",
        "I've been waiting for you, Peacekeeper!",
        "You're gonna wish you didn't come after the ^orange;<gangName>^reset;!",
        "You've made a mistake messing with the ^orange;<gangName>^reset;!",
        "I'm a member of the ^orange;<gangName>^reset; - couldn't you tell?",
        "Can you stand against the might of the ^orange;<gangName>^reset;?"
      ]
    },
    "novakid" : {
      "default" : [
        "The ^orange;<gangName>^reset; are the rowdiest bunch in the galaxy! You're makin' a mighty big mistake!",
        "Yer gonna duel me on my turf? That ain't wise!",
        "Go ahead, Peacekeeper - make my day!",
        "I ain't hazed a tenderfoot for a while! This'll be mighty fun!",
        "The ^orange;<gangName>^reset; are sick of nosey folks like you!",
        "Folks like you are always stickin' their nose where it don't belong. Yer gonna learn a tough lesson!",
        "You ain't smart if yer thinkin' o' challengin' the ^orange;<gangName>^reset;!"
      ]
    }
  },
  "resistArrest" : {
    "default" : {
      "default" : [
        "You'll never take me alive!",
        "Oh, we're having THIS kind of fight, are we?",
        "I warn you, I'm not easily caught!",
        "You have to be quicker than that if you want to catch me!",
        "You don't think I'll make this easy for you, do you?",
        "You're trying to arrest me? How cute!",
        "You're going to try and arrest me? I was hoping for a gunfight!",
        "Don't you point that thing at me! Do you know who I am?!",
        "You can't catch me - the ^orange;<gangName>^reset; are always two steps ahead of you!",
        "We're the ^orange;<gangName>^reset; - you can't stop us that easily!",
        "Are you really trying to catch a member of the ^orange;<gangName>^reset;?",
        "It won't be easy to catch a member of the ^orange;<gangName>^reset;!"
      ]
    },
    "apex" : {
      "default" : [
        "You'll never take me alive!",
        "Oh, we're having THIS kind of fight, are we?",
        "I warn you, I'm not easily caught!",
        "You have to be quicker than that if you want to catch me!",
        "You don't think I'll make this easy for you, do you?",
        "You're trying to arrest me? How cute!",
        "You're going to try and arrest me? I was hoping for a gunfight!",
        "Don't you point that thing at me! Do you know who I am?!",
        "You can't catch me - the ^orange;<gangName>^reset; are always two steps ahead of you!",
        "We're the ^orange;<gangName>^reset; - you can't stop us that easily!",
        "Are you really trying to catch a member of the ^orange;<gangName>^reset;?",
        "It won't be easy to catch a member of the ^orange;<gangName>^reset;!"      ]
    },
    "avian" : {
      "default" : [
        "You'll never take me alive!",
        "Oh, we're having THIS kind of fight, are we?",
        "I warn you, I'm not easily caught!",
        "You have to be quicker than that if you want to catch me!",
        "You don't think I'll make this easy for you, do you?",
        "You're trying to arrest me? How cute!",
        "You're going to try and arrest me? I was hoping for a gunfight!",
        "Don't you point that thing at me! Do you know who I am?!",
        "You can't catch me - the ^orange;<gangName>^reset; are always two steps ahead of you!",
        "We're the ^orange;<gangName>^reset; - you can't stop us that easily!",
        "Are you really trying to catch a member of the ^orange;<gangName>^reset;?",
        "It won't be easy to catch a member of the ^orange;<gangName>^reset;!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran won't be caught easssy!",
        "Floran is ssslippery! You won't catch Floran!",
        "Floran won't be arressssted!",
        "You won't ssstop Floran!"
      ]
    },
    "glitch" : {
      "default" : [
        "Enraged. I will not be accosted!",
        "Eager. Are we to dance, now?",
        "Pleased. It sounds like you wish to duel!",
        "Shocked. I thought they would send someone more impressive to arrest me!",
        "Disappointed. I thought they would send more Peacekeepers than this!",
        "Bold. You cannot defeat a member of the ^orange;<gangName>^reset;!"
      ]
    },
    "hylotl" : {
      "default" : [
        "You'll never take me alive!",
        "Oh, we're having THIS kind of fight, are we?",
        "I warn you, I'm not easily caught!",
        "You have to be quicker than that if you want to catch me!",
        "You don't think I'll make this easy for you, do you?",
        "You're trying to arrest me? How cute!",
        "You're going to try and arrest me? I was hoping for a gunfight!",
        "Don't you point that thing at me! Do you know who I am?!",
        "You can't catch me - the ^orange;<gangName>^reset; are always two steps ahead of you!",
        "We're the ^orange;<gangName>^reset; - you can't stop us that easily!",
        "Are you really trying to catch a member of the ^orange;<gangName>^reset;?",
        "It won't be easy to catch a member of the ^orange;<gangName>^reset;!"
      ],
      "floran" : [
        "They sent a Floran after me? How embarassing!",
        "Of course a FLORAN would be foolish enough to take on the ^orange;<gangName>^reset;!",
        "A Floran with a job? How cute!",
        "A Floran Peacekeeper? Your kind can't BE peaceful!",
        "This isn't your fight, Floran! Leave whilst you still can!",
        "A Floran? I thought I'd be having a REAL fight!",
        "A Floran? I'm going to enjoy this!",
        "It won't be easy to catch a member of the ^orange;<gangName>^reset;!"
      ]
    },
    "novakid" : {
      "default" : [
        "You ain't gonna take me alive!",
        "So we're having THIS kind of fight, are we?",
        "I warn yer, I ain't easily caught!",
        "You have to be quicker than that if you want to catch me!",
        "You don't think I'll make this easy for you, do you?",
        "You're trying to arrest me? How cute!",
        "You're going to try and arrest me? I was hoping for a gunfight!",
        "Don't you point that thing at me! Do you know who I am?!",
        "You ain't gonna catch me - the ^orange;<gangName>^reset; are always two steps ahead!",
        "We're the ^orange;<gangName>^reset; - you ain't gonna stop us that easily!",
        "Are you really trying to catch a member of the ^orange;<gangName>^reset;?",
        "It ain't gonna be easy to catch a member of the ^orange;<gangName>^reset;!"
      ]
    }
  },
  "arrested" : {
    "default" : {
      "default" : [
        "Get these things off me!",
        "No, don't! I'm allergic to handcuffs - you need to take them off quick!",
        "This is NOT how I wanted this day to go.",
        "Urgh, I've been bested!",
        "Well, at least I put up a good fight!",
        "I probably should have fled sooner. My arrogance has been my downfall.",
        "Ow, these handcuffs are chafing me!",
        "Set me free - I promise I'll be good in future! I promise!",
        "These handcuffs aren't my size! You should probably take them off me.",
        "Wow, you actually got me. I shouldn't have underestimated you, huh?",
        "Whatever they're paying you, I'll pay double! Just get these things off me, okay?!",
        "Why are you arresting me? What is the charge, huh?!",
        "I am a sovereign galactic citizen and you have no right to arrest me!"
      ]
    },
    "apex" : {
      "default" : [
        "These handcuffs cannot hold me!",
        "Hmph - I let my guard down!",
        "I shouldn't have lowered my defenses...",
        "I approached this skirmish all wrong...",
        "Take these off me!",
        "This operation was a failure...",
        "I underestimated you, Peacekeeper. You got me fair and square.",
        "Stop, you've got me! I am subdued already!",
        "Hngh...",
        "It's over for me, isn't it?",
        "I have... Failed."
      ]
    },
    "avian" : {
      "default" : [
        "Ouch! Take these cuffs off or you'll regret it!",
        "No, don't! handcuffs are bad for my feathers - you need to take them off quick!",
        "I thought I was winning...",
        "My feathers are getting caught in these cuffs! Can you take them off?",
        "I've been training in combat my whole life - how did I lose?!",
        "These cuffs are a little too tight!",
        "That's all I got... There's no fight left in me...",
        "My fighting spirit is depleted... I have failed.",
        "I know when I've lost! Just stop attacking me!",
        "Darn Peacekeepers!",
        "The universe was better without you Peacekeepers!",
        "Are you sure we can't strike a deal?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran doesssn't like handcuffsss!",
        "Floran isss morally opposed to prissson! Do not send Floran away!",
        "Floran has changed mind, Floran doesssn't want to go to jail!",
        "Floran would really like to be free!",
        "Stop! Let Floran go!",
        "Floran ready to ssstrike a plea deal!",
        "If Floran sssays sorry, will you let Floran go?"
      ]
    },
    "glitch" : {
      "default" : [
        "Furious. Get these things off me!",
        "Angry. Remove these cuffs at once!",
        "Upset. These cuffs are too tight - they are going to leave dents!",
        "Desperate. I've decided to give up crime! Let me free!",
        "Satisfied. I may have lost, but I fought well!",
        "Worried. I am at your mercy! Please do not imprison me!"
      ]
    },
    "hylotl" : {
      "default" : [
        "How foolish of me...",
        "Curses! How could I get myself caught?!",
        "Okay, okay, you got me!",
        "Urgh, how could I be defeated like this?",
        "No!",
        "I can't believe YOU captured me!",
        "Take these handcuffs off, or there WILL be consequences!",
        "I underestimated you, Peacekeeper...",
        "You got me... I'm almost impressed!",
        "These handcuffs are such crude devices. How humiliating...",
        "Ouch!"
      ]
    },
    "novakid" : {
      "default" : [
        "Get these dang things off me!",
        "I ain't too proud o' how this went down...",
        "Looks like I've been wrangled...",
        "Dangit, I've been wrangled!",
        "Dangnabbit, get these things off me!",
        "Take these dang things off me!",
        "Did you cuff me jus' by fightin' me? How does that work?",
        "Take these here cuffs off! Now!"
      ]
    }
  },
  "completeArrest" : {
    "default" : {
      "default" : [
        "I'll be back, just you wait!",
        "I have many regrets right now!",
        "I'll be back!",
        "No prison can hold me!",
        "Don't send me to prison - I get claustrophobic!",
        "Don't send me to space jail - I HATE space jail!",
        "Curse you, law enforcement!",
        "I'll get you back for this - I never forget a face!",
        "You've just made an enemy for life!",
        "I'll be out soon enough, and you know it!",
        "You haven't seen the last of me, Peacekeeper!",
        "Don't think the ^orange;<gangName>^reset; will let this slide easily!",
        "The ^orange;<gangName>^reset; have a target on your head!",
        "The ^orange;<gangName>^reset; won't stand for this!",
        "The ^orange;<gangName>^reset; will get you back for this!",
        "Ta-ta, and farewell!"
      ]
    },
    "apex" : {
      "default" : [
        "This ape WILL escape!",
        "You really made a monkey out of me...",
        "...",
        "I'll be back one day!",
        "So long, Peacekeeper...",
        "Urgh...",
        "So be it...",
        "The ^orange;<gangName>^reset; won't let this slide, Peacekeeper!",
        "The ^orange;<gangName>^reset; forever!",
        "I'll get you back some day, Peacekeeper!"
      ]
    },
    "avian" : {
      "default" : [
        "I guess I am no longer a free bird...",
        "CAW CAW!",
        "I am a failure to my ancestors...",
        "The ^orange;<gangName>^reset; will break me out of prison, just you wait!",
        "The ^orange;<gangName>^reset; own this solar system! Never forget it!",
        "I will remember this!",
        "I guess I was at the bottom of the pecking order...",
        "CAW!",
        "Very well...",
        "Well, this is unfortunate.",
        "Hmph."
      ]
    },
    "floran" : {
      "default" : [
        "Floran vowsss revenge!",
        "Floran will one day catch you!",
        "Floran will return one day!",
        "You haven't heard the lassst of Floran!",
        "Floran doesssn't like prissson!",
        "Floran will come back to finish the job!",
        "Hsss..."
      ]
    },
    "glitch" : {
      "default" : [
        "Vengeful. One day we shall fight again!",
        "Worried. I won't fit in in prison! I regret my actions gravely!",
        "Disappointed. I have failed the ^orange;<gangName>^reset;!",
        "Ashamed. The ^orange;<gangName>^reset; were relying on me!",
        "Embarassed. How did I end up like this?",
        "Defeated. I was truly bested in combat, was I not?",
        "Worried. I cannot go to prison! I rust too easily!",
        "Confident. The ^orange;<gangName>^reset; shall soon see to my freedom!"
      ]
    },
    "hylotl" : {
      "default" : [
        "Don't look at me like that! Urgh...",
        "Long live the ^orange;<gangName>^reset;!",
        "We'll meet again, Peacekeeper!",
        "How embarassing...",
        "Not like this...",
        "I deserved better...",
        "...",
        "How could I get caught like this?",
        "The ^orange;<gangName>^reset; will have their revenge!",
        "You'll never stop the ^orange;<gangName>^reset;!"
      ]
    },
    "novakid" : {
      "default" : [
        "I'll be back, just you wait!",
        "Ah, tarnation!",
        "Yer gonna regret this!",
        "I'm a goner!",
        "You ain't seen the last o' me, Peacekeeper!",
        "Don't think the ^orange;<gangName>^reset; will let this slide easily!",
        "The ^orange;<gangName>^reset; ain't gonna stand for this!",
        "See yer on the other side, Peacekeeper!",
        "The ^orange;<gangName>^reset; will fill yer full o' holes soon enough!",
        "No wait, I ain't good for the jailhouse!",
        "This is mighty embarassin'...",
        "Yee-haw!"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
        "Ha! You want to try again? You won't catch me!",
        "You came back, Peacekeeper? I didn't think you had it in you!",
        "You came back for another round against the ^orange;<gangName>^reset;?"
      ]
    },
    "apex" : {
      "default" : [
        "So, you want to try again? That's some real monkey business!",
        "You came back, Peacekeeper? I didn't think you had it in you!",
        "You came back for another round against the ^orange;<gangName>^reset;?"
      ]
    },
    "avian" : {
      "default" : [
        "So, you want to try again? You won't catch but a feather from my head!",
        "You came back, Peacekeeper? I didn't think you had it in you!",
        "You came back for another round against the ^orange;<gangName>^reset;?"
      ]
    },
    "floran" : {
      "default" : [
        "You came back to fight Floran? You aren't ssso smart!"
      ]
    },
    "glitch" : {
      "default" : [
        "Excited. So, you want to try again? You won't catch me!",
        "Impressed. You came back, Peacekeeper? I didn't think you had it in you!",
        "Surprised. You came back for another round against the ^orange;<gangName>^reset;?"
      ]
    },
    "hylotl" : {
      "default" : [
        "So, you want to try again? You won't catch me!",
        "You came back, Peacekeeper? I didn't think you had it in you!",
        "You came back for another round against the ^orange;<gangName>^reset;?"
      ]
    },
    "novakid" : {
      "default" : [
        "So, you want to try again? You ain't gonna catch me that easily!",
        "You came back, Peacekeeper? I didn't think you had the guts!",
        "You came back for another round against the ^orange;<gangName>^reset;? I guess you ain't very smart!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "That's what you get for trying to lock ME up!",
        "That's what you get for messing with the ^orange;<gangName>^reset;!",
        "Ha! ^orange;<gangName>^reset; forever!",
        "Another win for the ^orange;<gangName>^reset;!"
      ]
    },
    "apex" : {
      "default" : [
        "That's what you get for trying to lock ME up!",
        "That's what you get for messing with the ^orange;<gangName>^reset;!",
        "Ha! ^orange;<gangName>^reset; forever!",
        "Another win for the ^orange;<gangName>^reset;!"
      ]
    },
    "avian" : {
      "default" : [
        "That's what you get for trying to lock ME up!",
        "That's what you get for messing with the ^orange;<gangName>^reset;!",
        "Ha! ^orange;<gangName>^reset; forever!",
        "Another win for the ^orange;<gangName>^reset;!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran won? Floran WON!",
        "Floran enjoysss a good fight!",
        "You messsed with the wrong gang! Floran isss part of the ^orange;<gangName>^reset;!"
      ]
    },
    "glitch" : {
      "default" : [
        "Overjoyed. That is what you get for trying to lock me up!",
        "Pleased. This is what you get for messing with the ^orange;<gangName>^reset;!",
        "Ecstatic. The ^orange;<gangName>^reset; will not be bested!",
        "Overjoyed. Yet another win for the ^orange;<gangName>^reset;!"
      ]
    },
    "hylotl" : {
      "default" : [
        "That's what you get for trying to lock ME up!",
        "That's what you get for messing with the ^orange;<gangName>^reset;!",
        "Ha! ^orange;<gangName>^reset; forever!",
        "Another win for the ^orange;<gangName>^reset;!"
      ]
    },
    "novakid" : {
      "default" : [
        "You ain't gonna jail me so easy! You got what you deserve!",
        "That's what you get for messin' with the ^orange;<gangName>^reset;!",
        "Ha! ^orange;<gangName>^reset; forever!",
        "Another win for the ^orange;<gangName>^reset;!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Hey, did they give up? Haha, no-one will ever stop ME!",
        "Looks like the Peacekeeper chickened out! Just as I thought.",
        "I can't find them... They must have fled in fear!",
        "I suppose they fled. I don't blame them - they WERE messing with the ^orange;<gangName>^reset;!"
      ]
    },
    "apex" : {
      "default" : [
        "Hey, did they give up? Haha, no-one will ever stop ME!",
        "Looks like the Peacekeeper chickened out! Just as I thought.",
        "I can't find them... They must have fled in fear!",
        "I suppose they fled. I don't blame them - they WERE messing with the ^orange;<gangName>^reset;!"
      ]
    },
    "avian" : {
      "default" : [
        "Hey, did they give up? Haha, no-one will ever stop ME!",
        "Looks like the Peacekeeper chickened out! Just as I thought.",
        "I can't find them... They must have fled in fear!",
        "I suppose they fled. I don't blame them - they WERE messing with the ^orange;<gangName>^reset;!"
      ]
    },
    "floran" : {
      "default" : [
        "Did they run from Floran? Floran mussst be too ssscary for them!",
        "Floran mussst be too ssscary to fight!"
      ]
    },
    "glitch" : {
      "default" : [
        "Bemused. Did they flee? We were having such fun!",
        "Unimpressed. It appears to be that the Peacekeeper has fled in cowardice! Just as I thought.",
        "Surprised. I cannot find them... Perhaps they fled in fear?",
        "Surprised. I don't blame them for running away - they WERE messing with the ^orange;<gangName>^reset;!"
      ]
    },
    "hylotl" : {
      "default" : [
        "Hey, did they give up? Haha, no-one will ever stop ME!",
        "Looks like the Peacekeeper chickened out! Just as I thought.",
        "I can't find them... They must have fled in fear!",
        "I suppose they fled. I don't blame them - they WERE messing with the ^orange;<gangName>^reset;!"
      ]
    },
    "novakid" : {
      "default" : [
        "Did they just pack up an' leave? What a yellow-belly!",
        "Looks like the Peacekeeper ran away! They ain't gonna come round these parts anytime soon, I'm sure...",
        "I can't find them... Dangnabbit!",
        "Where in tarnation did that Peacekeeper go?",
        "That's what you get for messin' with the ^orange;<gangName>^reset;!"
      ]
    }
  }
}
