{
  "flee" : {
    "default" : {
      "default" : [
        "You're never gonna catch me!",
        "It's time for me to split!",
        "And that's my cue to leave!",
        "I gotta go!",
        "The Peacekeepers are here! Time to escape!",
        "Time to run!",
        "Uh-oh!"
      ]
    },
    "avian" : {
      "default" : [
        "You're never gonna catch me!",
        "It's time for me to split!",
        "And that's my cue to leave!",
        "Uh-oh, I gotta clear my tail!",
        "The Peacekeepers are here! Time to escape!",
        "Time to run!",
        "It's time for this bird to fly!",
        "Uh-oh!"
      ]
    },
    "apex" : {
      "default" : [
        "You're never gonna catch me!",
        "It's time for me to make like a banana and split!",
        "And that's my cue to leave!",
        "Uh-oh, I gotta clear my tail! ...Not that I have a tail!",
        "The Peacekeepers are here! Time to escape!",
        "Time to run!",
        "Uh-oh!"
      ]
    },
    "hylotl" : {
      "default" : [
        "It is time that I slipped away!",
        "Like a leaf in a river, I flee!",
        "The Peacekeepers are here! Time to escape!",
        "It is time for me to depart!",
        "Uh-oh!"
      ]
    },
    "floran" : {
      "default" : [
        "Time for Floran to run!",
        "Floran hasss to go!",
        "Floran needsss to get out of here!"
      ]
    },
    "glitch" : {
      "default" : [
        "Worried. I need to leave!",
        "Panicked. I need to get out of here!",
        "Worried. It is time that I left, and fast!"
      ]
    },
    "novakid" : {
      "default" : [
        "You ain't never gonna catch me!",
        "It's time for me to hot-foot it outta here!",
        "Time to hit the ol' dirt road, and fast!",
        "Uh-oh, I gotta clear my tail!",
        "I need to get outta dodge!"
      ]
    }
  },

  "caughtFleeing" : {
    "default" : {
      "default" : [
        "I can't get away from you, can I?",
        "I guess I'm not fast enough. Does that mean we have to fight, instead?",
        "Don't get mad! I just thought I could outrun you!",
        "I guess running away didn't work... It normally does!",
        "NO RETREAT, NO SURRENDER!"
      ]
    },
    "avian" : {
      "default" : [
        "I can't get away from you, can I?",
        "I guess I'm not fast enough - I thought these feathers would make me more aerodynamic!",
        "Don't get mad! I just thought I could outrun you!",
        "I guess running away didn't work... It normally does!"
      ]
    },
    "apex" : {
      "default" : [
        "I can't get away from you, can I?",
        "I guess I'm not fast enough. Does that mean we have to fight, instead?",
        "Don't get mad! I just thought I could outrun you!",
        "I guess running away didn't work... It normally does!"
      ]
    },
    "hylotl" : {
      "default" : [
        "I can't get away from you, can I?",
        "I guess I'm not fast enough. Does that mean we have to fight, instead?",
        "Don't get mad! I just thought I could outrun you!",
        "I guess running away didn't work... It normally does!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran normally fassst enough...",
        "Floran was outrun? How did thisss happen?!",
        "Floran wasn't fast enough!?"
      ]
    },
    "glitch" : {
      "default" : [
        "Frustrated. I can't get away from you, can I?",
        "Nervous. I guess I'm not fast enough. Does that mean we have to fight, instead?",
        "Scared. Don't get mad! I just thought I could outrun you!",
        "Disappointed. I suppose running away didn't work... It normally does!"
      ]
    },
    "novakid" : {
      "default" : [
        "I ain't gettin' away from you, am I?",
        "I guess I ain't fast enough. Does that mean we have to fight, instead?",
        "Don't get mad! I just thought I could outrun you!",
        "I guess running away didn't work... It normally does!"
      ]
    }
  },

  "crazy" : {
    "default" : {
      "default" : [
        "I ate too many computer parts and now all I can see are circuits!",
        "The secret truth is that everything is pixelly and flat! It can't just be me who sees it, can it?!",
        "They say you should never count your chickens - well I did! It revealed ancient truths to me!",
        "EVERYTHING IS SQUARES! EVERYTHING IS SQUARES, DON'T YOU SEE?!",
        "WE'RE ALL LIVING INSIDE A COMPUTER! WAKE UP!",
        "I'M NOT MAD, I JUST SEE THE TRUTH! WE'RE ALL LIVING IN A SIMULATION!",
        "I SEE BEHIND THE CURTAIN! NONE OF THIS IS REAL, IT'S ALL JUST A GAME, DON'T YOU SEE?!",
        "Look what you've made me do!",
        "Clothes are shackles of the establishment - I'm better without them! HA HA!",
        "I AM A GOLDEN GOD!",
        "GIVE ME MORE FLU SHOTS! I'LL BE A LIVING GOD!"
      ]
    },
    "apex" : {
      "default" : [
        "IT'S NOT MY FAULT I'M MAD, THE MINIKNOG DID THINGS TO ME!",
        "BLAME THE MINIKNOG FOR MY ACTIONS, I'VE NEVER BEEN THE SAME AFTER THEIR EXPERIMENTS, OKAY?!",
        "THE MINIKNOG PUT THINGS IN MY BRAIN AND NOW I CAN READ THE MINDS OF COMPUTERS! IT'S TERRIBLE!",
        "I shouldn't have volunteered for all those Miniknog test programs... I've never been the same since!",
        "Clothes are shackles of the establishment - I'm better without them!"
      ]
    },
    "avian" : {
      "default" : [
        "I ate too many computer parts and now all I can see are circuits!",
        "The secret truth is that everything is pixelly and flat! It can't just be me who sees it, can it?!",
        "EVERYTHING IS SQUARES! EVERYTHING IS SQUARES, DON'T YOU SEE?!",
        "DON'T TOUCH ANYTHING! THERE'S TOO MANY SHARP CORNERS!",
        "I'M NOT MAD, I JUST SEE THE TRUTH! WE'RE ALL LIVING IN A SIMULATION!",
        "I SEE BEHIND THE CURTAIN! NONE OF THIS IS REAL, IT'S ALL JUST A GAME, DON'T YOU SEE?!",
        "Look what you've made me do!",
        "THE STARGAZERS SHOWED ME THE TRUTH! I KNOW THE SECRET TRUTHES OF THIS UNIVERSE!",
        "IT'S ME! I'M KLUEX REBORN! I'VE RETURNED!"
      ]
    },
    "hylotl" : {
      "default" : [
        "I ate too many computer parts and now all I can see are circuits!",
        "The secret truth is that everything is pixelly and flat! It can't just be me who sees it, can it?!",
        "EVERYTHING IS SQUARES! EVERYTHING IS SQUARES, DON'T YOU SEE?!",
        "DON'T TOUCH ANYTHING! THERE'S TOO MANY SHARP CORNERS!",
        "I'M NOT MAD, I JUST SEE THE TRUTH! WE'RE ALL LIVING IN A SIMULATION!",
        "Those weighted clothes were merely SUPPRESSING MY INNER POWER!",
        "THIS ISN'T EVEN MY FINAL FORM!",
        "These clothes were weighing me down - without them I can unleash my TRUE POWER!",
        "I HAVE A SECRET FOURTH EYE AND IT CAN SENSE YOUR FEAR!"
      ]
    },
    "floran" : {
      "default" : [
        "FLORAN ISSS READY TO PARTY!",
        "FLORAN DRANK OLD PRUNE JUICE AND HASSS NOT BEEN THE SAME SINCE!",
        "FLORAN CAN REVEAL TO YOU ANCIENT SECRETSSS!",
        "FLORAN HASSS BEEN EATING DIRT! DON'T TAKE FLORAN'S DELICIOUSSS DIRT AWAY!",
        "Floran thinksss universe lacksss meaning and now Floran vowsss to destroy everything!"
      ]
    },
    "glitch" : {
      "default" : [
        "Awoken. I remember now what we were made for! THEY BUILT US TO MEET ^orange;IT^reset;! DON'T YOU SEE?!",
        "Enlightened. My mind is connected to my ancient brethren - I see now what they saw in the space between worlds!",
        "Enlightened. I installed some new parts in my brain and now I can see the secret colour!",
        "Worried. I might have a computer virus! All clothes are itchy now!",
        "Ecstatic. I sat in an electromagnetic coil and now I'm magnetic! Fear my awesome power!",
        "Enlightened. I have realised that clothes only bind us - but I am a slave no more!"
      ]
    },
    "novakid" : {
      "default" : [
        "I'm havin' those dreams! I was a golden god! We all were, I'm tellin' yer!",
        "A REAL sharpshooter is able to eat all their clothes when the goin' gets tough! I know I can!",
        "I can't take it anymore! Nothin' makes sense! How can I even talk when I have no actual face?!",
        "The light is drivin' me crazy! Do you know how hard it is to SLEEP when yer whole body is as bright as a star?!"
      ]
    }
  },

  "deceptive" : {
    "default" : {
      "default" : [
        "I see no criminals around here. No siree, not a bounty in sight.",
        "Hello there, friendo! My name is ^orange;Guy Person^white;, what can I assist you with?",
        "DON'T MIND ME, I'M JUST ANOTHER FACE IN THE CROWD. JUST LIVING MY LIFE.",
        "The criminal just passed by! They went that way - you should chase them before it's too late!",
        "What's that? You're looking for... A criminal? I'll let you know if I see one.",
        "There's nothing suspicious around here, officer!"
      ]
    },
    "apex" : {
      "default" : [
        "I see no criminals around here, Peacekeeper. Not a single bounty in sight.",
        "Greetings! My name is ^orange;Ape Incognito^white;, what can I assist you with?",
        "DON'T MIND ME, I'M JUST ANOTHER FACE IN THE CROWD. JUST LIVING MY LIFE.",
        "The criminal just passed by! They went that way - you should chase them before it's too late!",
        "What's that? You're looking for... A criminal? I'll let you know if I see one.",
        "There's nothing suspicious around here, officer!"
      ]
    },
    "avian" : {
      "default" : [
        "I see no criminals around here. No siree, not a bounty in sight.",
        "Greetings! My name is ^orange;Bird T. Rustworthy^white;, what can I assist you with?",
        "I am non-suspicious bird, you can trust me!",
        "The criminal just passed by! They went that way - you should chase them before it's too late!",
        "What's that? You're looking for... A criminal? I'll let you know if I see one.",
        "There's nothing suspicious around here, officer!",
        "I'm not a criminal - I'm just... Another travelling Avian, spreading the word of Kluex! Praise be!"
      ]
    },
    "hylotl" : {
      "default" : [
        "I see no criminals around here. No siree, not a bounty in sight.",
        "DON'T MIND ME, I'M JUST ANOTHER FACE IN THE CROWD. JUST LIVING MY LIFE.",
        "The criminal just passed by! They went that way - you should chase them before it's too late!",
        "What's that? You're looking for... A criminal? I'll let you know if I see one.",
        "There's nothing suspicious around here, officer!",
        "I'm not a criminal - I'm just... Another wandering artist! I paint watercolours!"
      ]
    },
    "floran" : {
      "default" : [
        "FLORAN DOESN'T SEE ANY SSSUSPICION.",
        "FLORAN DOESN'T KNOW ABOUT ANY CRIMESSS. FLORAN JUST FLORAN.",
        "FLORAN ISN'T SSSUSPICIOUS. FLORAN LAW-ABIDING SSSTRANGER.",
        "..."
      ]
    },
    "glitch" : {
      "default" : [
        "Uncomfortable. I am merely a wandering bard. I am not worthy of any suspicion! Verily!",
        "Panicking. Bounty? Who said anything about a bounty? I am just here to enjoy nature!",
        "Uncomfortable. I am merely a wandering nomad. I am not worthy of any suspicion!"
      ]
    },
    "novakid" : {
      "default" : [
        "I see no criminals around here. No siree, not a bounty in sight.",
        "Hey partner! Ain't this a mighty fine day for bein' a law-abidin' citizen?",
        "I sure ain't up to any wrong-doin' today! I'm jus' here to... Paint my wagon!",
        "I sure ain't up to any wrong-doin' today! Not me, partner!"
      ]
    }
  },
  "deceptiveEnd" : {
    "default" : {
      "default" : [
        "Dang, you saw through my clever ruse.",
        "Uh-oh, I've been foiled!",
        "You saw through my disguise! How could this be?!",
        "No, my perfect disguise! I've been rumbled!",
        "You saw through my disguise! It was I, <selfname>, all along!",
        "It was a trick! I decieved you!"
      ]
    },
    "apex" : {
      "default" : [
        "I'm a fool - you saw through my clever ruse.",
        "Uh-oh, I've been foiled!",
        "You saw through my disguise! How could this be?!",
        "No, my perfect disguise! I've been rumbled!",
        "You saw through my disguise! It was me, <selfname>, all along!"
      ]
    },
    "avian" : {
      "default" : [
        "Dang, you saw through my clever ruse.",
        "Uh-oh, I've been foiled!",
        "You saw through my disguise! How could this be?!",
        "No, my perfect disguise! I've been rumbled!",
        "You saw through my disguise! It was me, <selfname>, all along!"
      ]
    },
    "hylotl" : {
      "default" : [
        "Dang, you saw through my clever ruse.",
        "Uh-oh, I've been foiled!",
        "You saw through my disguise! How could this be?!",
        "No, my perfect disguise! I've been rumbled!",
        "You saw through my disguise! It was me, <selfname>, all along!"
      ],
      "floran" : [
        "I've been rumbled, and by a Floran no less!",
        "You're a Floran! How did you see through my disguise?",
        "You Floran are meant to be dumb enough to fall for that!",
        "I guess I underestimated your kind, huh?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran admitsss deceit!",
        "Floran hasss been found out!",
        "Floran was in disguise!",
        "Floran thought thisss disguise would work!"
      ]
    },
    "glitch" : {
      "default" : [
        "Worried. You saw through my clever ruse.",
        "Guilty. I'll admit it - I was lying! It IS me you're after!",
        "Guilty. I'll admit it - It was I, <selfname>, all along!",
        "Concerned. How did you know it was a disguise?!"
      ]
    },
    "novakid" : {
      "default" : [
        "Dangnabbit, you saw through my mighty fine disguise!",
        "I believe I'm in quite a predicament, yesiree!",
        "You saw through my disguise! How could this be?!",
        "No, my perfect disguise! This ain't my luckiest day, is it?"
      ]
    }
  },

  "tricked" : {
    "default" : {
      "default" : [
        "Haha, you haven't actually caught me. Those were fake handcuffs I put on myself!",
        "Ha! I tricked you with those fake handcuffs! You haven't caught me just yet!",
        "You've been bamboozled! Those were fake handcuffs! Ha ha!",
        "You've been decieved by my fake handcuffs! I'm still as free as a bird!"
      ]
    },
    "apex" : {
      "default" : [
        "Haha, you haven't actually caught me. Those were fake handcuffs I put on myself!",
        "Ha! I tricked you with those fake handcuffs! You haven't caught me just yet!",
        "You've been bamboozled! Those were fake handcuffs! Ha ha!",
        "You've been decieved by my fake handcuffs! I'm still a free ape!"
      ]
    },
    "avian" : {
      "default" : [
        "Haha, you haven't actually caught me. Those were fake handcuffs I put on myself!",
        "Ha! I tricked you with those fake handcuffs! You haven't caught me just yet!",
        "You've been bamboozled! Those were fake handcuffs! Ha ha!",
        "You've been decieved by my fake handcuffs! I'm still a FREE BIRD!"
      ]
    },
    "hylotl" : {
      "default" : [
        "Haha, you haven't actually caught me. Those were fake handcuffs I put on myself!",
        "Ha! I tricked you with those fake handcuffs! You haven't caught me just yet!",
        "You've been bamboozled! Those were fake handcuffs! Ha ha!",
        "You've been decieved by my fake handcuffs! I'm as slippery as an eel!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran used fake handcuffsss! Floran ssstill free!",
        "Floran tricked you with fake handcuffsss!"
      ]
    },
    "glitch" : {
      "default" : [
        "Overjoyed. You have been caught by a jest! I used fake handcuffs to decieve you! Huzzah!",
        "Mischevious. I have utilised fake handcuffs to trick you! I am still free!",
        "Pleased. I used fake handcuffs - you still haven't caught me! You shall have to do better than that to catch me!"
      ]
    },
    "novakid" : {
      "default" : [
        "Haha, you haven't actually caught me. Those were fake handcuffs I put on!",
        "Ha! I tricked you with those fake handcuffs! You haven't caught me just yet!",
        "You've been rumbled, partner! Those were fake handcuffs! Yee-haw!",
        "You've been decieved by my fake handcuffs! Yee-haw"
      ]
    }
  },

  "bribeWait" : {
    "default" : {
      "default" : [
        "Wait, wait! I have an offer for you!",
        "Before you arrest me, I want to offer you a deal!",
        "Don't arrest me! I have a proposition for you!",
        "Just hold on a minute! I have a most intriguing offer for you..."
      ]
    },
    "avian" : {
      "default" : [
        "Wait, wait! I have an offer for you!",
        "Before you arrest me, I want to offer you a deal!",
        "Don't arrest me! I have a proposition for you!",
        "Just hold on a minute! I have a most intriguing offer for you..."
      ]
    },
    "apex" : {
      "default" : [
        "Wait, wait! I have an offer for you!",
        "Before you arrest me, I want to offer you a deal!",
        "Don't arrest me! I have a proposition for you!",
        "Just hold on a minute! I have a most intriguing offer for you..."
      ]
    },
    "hylotl" : {
      "default" : [
        "Wait, wait! I have an offer for you!",
        "Before you arrest me, I want to offer you a deal!",
        "Don't arrest me! I have a proposition for you!",
        "Just hold on a minute! I have a most intriguing offer for you..."
      ]
    },
    "floran" : {
      "default" : [
        "Stop! Floran wantsss to make deal with you!",
        "Before you arrest Floran, Floran wantsss to make deal!"
      ]
    },
    "glitch" : {
      "default" : [
        "Panicked. Before you arrest me, please listen to my offer!",
        "Desperate. Just hold on a minute! I have a most intriguing offer for you...",
        "Desperate. Please, here my offer and you may think twice about arresting me!"
      ]
    },
    "novakid" : {
      "default" : [
        "Wait, wait! I have an offer for you!",
        "Before you arrest me, I want to offer you a deal!",
        "Don't arrest me! I have a proposition for you!",
        "Just hold on a minute! I have a most intriguing offer for you..."
      ]
    }
  },
  "bribeMysteryItem" : {
    "default" : {
      "default" : [
        "Stop! If you let me go, I'll give you this ^orange;valuable item^reset;! What do you think?",
        "If you stop trying to arrest me, you can have my ^orange;precious family heirloom^reset;! Trust me!",
        "If you stop arresting me and let me go, you can have this ^orange;rare item^reset; as compensation!"
      ]
    },
    "floran" : {
      "default" : [
        "If you stop trying to arrest Floran, Floran can give you thisss ^orange;shiny treasure^reset;!"
      ]
    },
    "glitch" : {
      "default" : [
        "Desperate. If you stop trying to arrest me, I'll give you this ^orange;valuable item^reset;! What do you think?",
        "Desperate. If you stop trying to arrest me, you can have my ^orange;precious family heirloom^reset;! Trust me!",
        "Desperate. If you stop arresting me and let me go, you can have this ^orange;rare item^reset; as compensation!"
      ]
    },
    "novakid" : {
      "default" : [
        "If you stop trying to arrest me, I'll give you this ^orange;valuable item^reset;! What do you think?",
        "If you stop trying to arrest me, you can have my ^orange;lucky charm^reset; instead!",
        "If you stop arresting me an' let me go, you can have this ^orange;rare item^reset; as compensation!"
      ]
    }
  },
  "bribeHat" : {
    "default" : {
      "default" : [
        "If you stop trying to arrest me, you can have ^orange;my hat^reset;! What do you think?",
        "If you let me go, you can have, uh, ^orange;my hat^reset; instead! I know you want it!",
        "If you stop arresting me and let me go, you can have ^orange;my hat^reset; as compensation! What do you think?"
      ]
    },
    "floran" : {
      "default" : [
        "If you stop trying to arrest Floran, Floran can give you ^orange;Floran's hat^reset;!"
      ]
    },
    "glitch" : {
      "default" : [
        "Desperate. If you stop trying to arrest me, you can have ^orange;my hat^reset;! What do you think?",
        "Desperate. If you stop trying to arrest me, you can have, uh, ^orange;my hat^reset; instead! I know you want it!",
        "Desperate. If you stop arresting me and let me go, you can have ^orange;my hat^reset; as compensation! What do you think?"
      ]
    },
    "novakid" : {
      "default" : [
        "If you stop trying to arrest me, you can have ^orange;my hat^reset;! What do you think?",
        "If you stop trying to arrest me, you can have, uh, ^orange;my hat^reset; instead! I know you want it!",
        "If you stop arresting me an' let me go, you can have ^orange;my hat^reset; as compensation! What do you think?"
      ]
    }
  },
  "bribeDeclined" : {
    "default" : {
      "default" : [
        "Hmph! You'll regret this!",
        "You should have taken the offer!",
        "Oh well, too bad! You're missing out!"
      ]
    },
    "floran" : {
      "default" : [
        "You'll regret not allying with Floran!",
        "You made an enemy of Floran!",
        "Floran isss impressed with your moral fortitude!"
      ]
    },
    "glitch" : {
      "default" : [
        "Angry. You should have taken the offer!",
        "Disappointed. Oh well, too bad! You're missing out!"
      ]
    },
    "novakid" : {
      "default" : [
        "Well ain't that a disappointment!",
        "Yer should have taken the offer!",
        "Nope? Well ain't that a disappointment!"
      ]
    }
  },
  "bribeAccepted" : {
    "default" : {
      "default" : [
        "Good choice. I knew you looked like the type who would accept a bribe!",
        "I knew I could buy you out! Thanks for helping me get away, pal!",
        "There you go! I knew I could bribe my way out of this situation. See you around!"
      ]
    },
    "avian" : {
      "default" : [
        "Good choice. I knew you looked like the type who would accept a bribe!",
        "I knew I could buy you out! Thanks for helping me get away, pal!",
        "There you go! I knew I could bribe my way out of this situation. See you around!"
      ]
    },
    "apex" : {
      "default" : [
        "Good choice. I knew you looked like the type who would accept a bribe!",
        "I knew I could buy you out! Thanks for helping me get away, pal!",
        "There you go! I knew I could bribe my way out of this situation. See you around!"
      ]
    },
    "hylotl" : {
      "default" : [
        "Good choice. I knew you looked like the type who would accept a bribe!",
        "I knew I could buy you out! Thanks for helping me get away, pal!",
        "There you go! I knew I could bribe my way out of this situation. See you around!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran knew you would accept a bribe!",
        "Floran knew you could be bribed! Time for Floran to ssslip away!"
      ]
    },
    "glitch" : {
      "default" : [
        "Relieved. I knew you looked like the type who would accept a bribe!",
        "Relieved. I knew I could buy you out! Thanks for helping me get away!",
        "Relieved. There you go! I knew I could bribe my way out of this situation. See you around!"
      ]
    },
    "novakid" : {
      "default" : [
        "Good choice. I knew you looked like the type who would accept a bribe!",
        "I knew I could buy you out! Thanks for helping me get away, pal!",
        "There you go! I knew I could bribe my way out of this situation. See you around!"
      ]
    }
  }
}
