{
  "human" : {
    "default" : {
      "default" : [
        "I've heard rumours of powerful alien artifacts, somewhere out there in space..."
      ]
    }
  },
  "floran" : {
    "default" : {
      "default" : [
        "Floran hear huge beasst was captured for this year's Hunt!",
        "Floran is a pretty good hunter - planning to compete thisss year.",
        "Floran wantss to be a Wrangler one day!",
        "Floran is the best! Well, sssecond best. You heard of Nuru?",
        "Floran hasss been hunting in the dark - good practice for Caverns.",
        "Floran really wants the fancy Hunt trophy!",
        "You're pretty ssscrawny; Floran bets you wouldn't make it out of the Caverns.",
        "Floran can't remember a word... It's the name of a big beasst. Ixylix? Oxulung?",
        "The Hunt is soon!",
        "You know about Nuru? She'ss best Floran!"
      ]
    }
  },
  "hylotl" : {
    "default" : {
      "default" : [
        "We Hylotl are great custodians of knowledge and information.",
        "There is a lot of value in the written word.",
        "I enjoy collecting books, it's a big part of Hylotl culture.",
        "Some relics still survive from the time all Hylotl resided on land.",
        "A long time ago, we Hylotl sunk some of our greatest monuments beneath the waves, to protect them.",
        "I'd like to become a librarian, but it's a lot of responsibility.",
        "We lost a lot to the Floran hoards, but some things survived.",
        "Protecting the wisdom of our ancestors sustain our culture.",
        "Isn't it wondrous when treasures from the past are newly rediscovered? This happens not infrequently among the Hylotl.",
        "It is said the Hylotl of the past kept vast repositories of books."
      ]
    }
  },
  "avian" : {
    "default" : {
      "default" : [
        "Our oldest and most impressive architecture is always centered around the worship of Kluex.",
        "The Avoscript mentions objects of great power. I don't know what they might be.",
        "A long time ago there were a lot of really big Avian temples. I think there's only one left now.",
        "We Avians have big trouble with temple robbers - there are some pretty desirable antiquities in the older temples.",
        "Some temples of Kluex have ancient guardians. But what are they guarding?",
        "Not all the temples of Kluex are attended by Stargazers, some ancient ones are left in the hands of caretakers.",
        "The depths of some temples are forbidden to all - it's how their secrets are protected.",
        "There are temples of Kluex all over the universe, but some are more sacred than others.",
        "I grew up hearing stories of items of immense power, bestowed by Kluex himself.",
        "I hope to one day visit the Great Sovereign Temple, but barely anyone knows where it is."
      ]
    }
  },
  "apex" : {
    "default" : {
      "default" : [
        "I hear there are plans to take down the Miniknog...",
        "Miniknog territory is vast, with many bases and command posts.",
        "The Miniknog guard all of our cultural heritage.",
        "People call me a conspiracy theorist, but I know the Miniknog have secrets.",
        "The Miniknog are always building new facilities for themselves, but they never close the old ones.",
        "I heard stories of strange things held in the depths of Miniknog facilities.",
        "Many say Big Ape has garnered huge wealth and a plethora of antiquities.",
        "Rebels attack the Miniknog often nowadays, targeting established bases...",
        "The Miniknog play their cards close to their chest - few know the extent of what they have and do.",
        "The Miniknog keep all the wealth and all the treasures."
      ]
    }
  },
  "glitch" : {
    "default" : {
      "default" : [
        "Jealous. A lot of old Glitch adventurers hoard the treasure they've found over the years.",
        "Sulky. Important Glitch relics tend to get handed from Glitch to Glitch, but I've never had one.",
        "Dreamy. I wonder what treasures I could amass if I travelled the universe. You hear such stories...",
        "Fanciful. I once heard of a keep owned by an oddball and filled with wonders.",
        "Scared. I have heard that purple robed cultist have been attacking a Glitch keep.",
        "Bitter. Have you heard of the Baron? He took all my money in a game of cards! As if he needs it, with all those treasures.",
        "Contemplative. Some Glitch keeps and castles hold ancient valuables within their walls.",
        "Wistful. I wish I had wondrous treasures... Some Glitch have some troves of riches!",
        "Worried. Have you heard of the Occasus? Apparently they're strange angry people who have been attacking a Glitch keep!",
        "Envious. I've heard stories of a Glitch who calls himself the Baron. Apparently he owns mounds of treasure!"
      ]
    }
  }
}
