{
  "converse" : {
    "default" : {
      "default" : [
        "威胁！不要尝试转移全视骑士的视线！",
        "殷勤。全视骑士乐于助人。",
        "邪恶。我们会回报给予我们家的人，只要机会合适…",
        "出神。眼睛的符号象征永恒的凝视。",
        "恐吓！没人能逃出全视骑士的视线！"
      ]
    }
  }，
  "severe" : {
    "default" : {
      "default" : [
          "生气！我在这看到个麻烦精！", 
          "失望。难道你看不到这个麻烦精吗？"       
      ]
    }
  }，
  "final" : {
    "default" : {
      "default" : [
          "恐吓！不尊重全视骑士可不是明智之举…",
          "威胁！也许你以为你的亵渎行为还没有被发现…" 
      ]
    }
  }，
  "beacon" : {
    "default" : {
      "default" : [
          "尊敬。需要我的服务吗？",
          "耐心。你是否需要全视骑士。",
          "敏锐。你似乎在找我？"
      ]
    }
  }，
  "rent" : {
    "default" : {
      "default" : [
          "欣赏！谢谢你的帮助！全视骑士是会回报你的慷慨的！",
          "感激。这是一个友谊的象征，作为送给我一个房子的回礼。"
      ]
    }
  }，
  "reattack" : {
    "default" : {
      "default" : [
        "紧逼。我看到你了！",
        "细心。我窥探到敌人在逼近！",
        "恐吓。你无法逃出我的视线！",
        "敌意。看着你自己败在我手中吧！",
        "生气。我已经看到我们的下一个目标！"
      ]
    }
  }，
  "attack" : {
    "default" : {
      "default" : [
        "威胁！我看到你了！",
        "敏锐，我侦查到一个敌人正在靠近！ ",
        "恐吓。你是逃不出我的视线的23333~",
        "敌视。瞧仔细了你是如何败在我手中的！",
        "愤怒！我已经看到下一个目标了！"
      ]
    }
  }，
  "killedTarget" : {
    "default" : {
      "default" : [
        "满意，这才算是一场配得上全视骑士的战斗。",
        "愉♂悦，这场战斗满足了我的战斗欲！",
        "不爽，我可以更早结束这一切…"
      ]
    }
  }，
  "lostTarget" : {
    "default" : {
      "default" : [
        "失望。我弄丢了我们的敌人…暂时的",
        "惊讶！他们躲开了我的视线？！"
      ]
    }
  }，
  "outOfSight" : {
    "default" : {
      "default" : [
        "惊讶！他们是如何逃开我的永恒凝视的！？",
        "震惊！他们躲开了我的射线…吗？"
      ]
    }
  }，
  "cantReach" : {
    "default" : {
      "default" : [
        "沮丧…敌人似乎不想和我们对肛",
        "生气…我们的敌人是个胆小鬼，他没胆子正面上我！"
      ]
    }
  }，
  "cheerOn" : {
    "default" : {
      "default" : [
        "沉思，也许我该做一个静静的旁观者…",
        "支持！我将见证这场胜利！",
        "支持！我将见证我们的敌人的败北！"
      ]
    }
  }
}