{
  "hail" : {
    "default" : {
    	"default" : [
	      "我盯着你呢。",
	      "直直地往前走，说你呢。",
	      "我们不能容忍坏分子。",
	      "向前走。"
      ]
    },
    "glitch" : {
      "default" : [
        "严厉。请你保持嗅觉设备的清洁。"
      ],
      "human" : [
        "谨慎。规矩点，肉块人。",
        "礼貌。很高兴见到你，人类。",
        "愉快。祝你愉快，人类。",
        "怀疑。你来这里有什么目的，人类？",
        "虚伪。见到你真好。",
        "无经验。呃，一个肉乎乎的怪物！"
      ],
      "avian" : [
        "不确定。大鸟指引着你吗...？",
        "礼貌。你好呀，翼族人。",
        "热情。和平与你同在，有羽毛的朋友。",
        "快乐。欢迎，鸟人朋友！",
        "不确定。这里通常见不到翼族人。",
        "悠闲。看到你的另一面了，小鸟。"
      ],
      "floran" : [
        "警惕。欢迎。爱捅的叶族朋友。",
        "乐观。我相信你不会有任何麻烦的。",
        "惊奇。一个文明的叶族人！欢迎！",
        "谨慎。你不会出问题...对吧？",
        "严厉。 注意你的行为，植物生物。",
        "热情。叶族人的到来让我欣喜不已。"
      ],
      "apex" : [
        "支持。你好，大个猿人。",
        "严格。现在，别让你和你的毛发惹麻烦。",
        "阴谋。你在这里是安全的，猿人。",
        "热情。随时欢迎你的到来，猿人。",
        "偏执。我希望你没把科技发展部的人引过来，猿人。",
        "肯定。我相信你已经摆脱了受压迫的日子！"
      ],
      "hylotl" : [
        "伪善。祝你今天过得愉快，鲛人朋友！",
        "轻视。别把自己的命丢了，鲛人。",
        "鄙视。我看你要出事。",
        "厌烦。我想听更多关于你们文化的方方面面，行了吧。",
        "冷漠。闭嘴，傻鱼。",
        "谴责。我相信你们在这里只会让人尴尬。"
      ],
      "glitch" : [
        "关心。多加小心，被放逐者。",
        "威胁。在我们这里没有你的朋友，被放逐者。",
        "友善。不是所有人对你们的事情无动于衷，被放逐者。",
        "关心。你不该来这里，被放逐者。",
        "警告。你的自由意识在这里可能惹祸上身，被放逐者。",
        "不安。我希望你们新得到的自由依然鼓励你行为良好。"

      ]
    },
    "human" : {
      "default" : [
        "看好你自己，陌生人。",
        "欢迎，旅行者。"
      ],
      "apex" : [
        "别惹麻烦，陌生人。",
        "别担心，朋友，这里没有科技发展部的爪牙。"
      ],
      "avian" : [
        "哇偶！一个翼族人，嗨，看这里。",
        "我希望你们翼族人知道如何遵守人类的法律。"
      ],
      "floran" : [
        "一个叶族人！哇噢！请不要吃我，哈哈。",
        "嘿，朋友，请尽量别捅也别吃任何人。",
        "我想知道就着沙拉酱吃你会不会好吃..."
      ],
      "glitch" : [
        "哇噢，一个电子人！你可以给我一个油罐吗？",
        "是电子人发明的扳手和扳手攻击吗？"
      ],
      "hylotl" : [
        "欢迎，鲛人，十分欢迎。"
      ],
      "human" : [
        "嗨，朋友，你来自哪个殖民地？",
        "嘿！欢迎，旅行者。"
      ]
    },
    "floran" : {
      "default" : [
        "别别别惹麻烦，否则叶族人就把你吃掉。"
      ],
      "apex" : [
        "叶族人搞不懂你的胡胡胡子。"
      ],
      "avian" : [
        "叶族人想知道翼族鸟神是否是鸡肉味儿的。",
        "翼族人不不不要惹麻烦，否则叶族人就把你烤了吃。"
      ],
      "human" : [
        "注意你的行行行为...人类。"
      ],
      "hylotl" : [
        "叶族人想捅捅捅点什么...",
        "叶族人想吃鲛人肉...",
        "鲛人要么听话，要么被吃掉。",
        "鲛人的眼眼眼睛特好吃..."
      ],
      "glitch" : [
        "叶族人曾吃过一次电子人，不好吃。",
        "电子人很幸运，因为他们不好吃。",
        "电子人要听话，不然就把你拆了。"
      ],
      "floran" : [
        "叶族人不要惹麻烦，要不然叶族人就吃掉...叶族人？叶族人迷惑了。",
        "懦弱的叶叶叶族麻烦制造者最美味了。"
      ]
    },
    "apex" : {
      "default" : [
        "你是间谍吗？等等，不，别回答。",
        "保持沉默，旅行者，不要惹麻烦。",
        "*嘘* 科技发展部在监视我们，小心。",
        "欢迎，旅行者，大猿人万岁！",
        "放规矩一点，陌生人。",
        "*嘘* 在每个时钟后面都有摄像头，小心。",
        "请别惹麻烦，如果你这么做了，科技发展部会带走我的家人。",
        "假如你惹麻烦的话，你会得到去科技发展部度假的单程车票。",
        "大猿人万寿无疆！对吧，陌生人？",
        "如果你惹了麻烦，大猿人会想方设法来惩罚你的，旅行者。",
        "除了那些他不爱的人之外，大猿人爱世界上的所有人。",
        "欢迎，旅行者！记好了，闭上你的嘴和眼睛，别看别问。",
        "欢迎，陌生人。科技发展部在保护我们。"
      ]
    },
    "hylotl" : {
      "default" : [
        "欢迎，旅行者，请膜拜我们精美的建筑设计吧。",
        "嘿，陌生人，别惹麻烦。",
        "咻，我还以为你是一个叶族人呢，别鬼鬼祟祟的。",
        "欢迎，陌生人。我们很友好，但请你先把鼻子弄干净。",
        "如果你认识任何叶族人，别把他们引到这儿来。",
        "小心点，别把我们美丽的桌椅弄坏。",
        "如果你打算在这里制造麻烦，请二思，或者三思。",
        "欢迎，陌生人，你是来欣赏我们的文化的？"
      ],
      "floran" : [
        "噢，看啊，一个叶族人，你会乖乖听话的，对吧？",
        "只是一个警告，在这里我们不欢迎你这种人。",
        "我的双亲给我经过你们种族的故事，都不是什么好故事。",
        "哦不不不，一个叶族人，请不要捅我，也别吃我，我不喜欢这样。",
        "你在这里逗留的时候尽量别破坏任何东西，能做到吗？",
        "一个文明的叶族人？值得怀疑，不要惹麻烦，否则你会后悔的。",
        "植物人？讨厌的东西，和肮脏的人类一样，我们会注意你的。",
        "你们的母星上居然还有椅子？算了，反正我们的是最好的。",
        "看，一个叶族人，这让我们的感情接受不了，嘘嘘。"
      ]
    },
    "avian" : {
      "default" : [
        "欢迎，旅行者！我必须警告你--我们这里没人崇拜克鲁西斯。",
        "你好！你有关于阿沃斯的消息么？",
        "管好你自己，陌生人。我们刚磨好我们的长枪。",
        "哦，一个旅行者，我希望你过得愉快。",
        "你好，陌生人。在这里逗留期间尽量不要弄坏任何东西。",
        "欢迎！有机会的话一定要参观我们的市场。",
        "希望你不是祭司们派来的间谍，我们对他们可不会客气...",
        "欢迎来到我们小小的领地，陌生人。",
        "只要你不杀人放火，你就会受到欢迎。",
        "我们是热爱和平的人，只要你不想着传播克鲁西斯的信仰。"
      ]
    }
  },
  "swordwarning1" : {
    "default" : {
    	"default" : [
	      "在你受伤之前，你最好把武器收起来。",
	      "在你惹上麻烦，眼睛被挖出来之前，把武器收起来。",
	      "别逼我没收你的武器","没必要和自己过不去。",
	      "不需要摆出威胁的样子。",
	      "亮出武器是明显的挑衅。"
      ]
    },
    "floran" : {
      "default" : [
        "叶族人捅捅捅的更准、更快。收起武器。",
        "当别人想捅捅捅的时候叶族人不想捅捅捅。"
      ]
    },
    "glitch" : {
      "default" : [
        "愤怒。收起武器。"
      ],
      "human" : [
        "威胁。收起你的武器，肉口袋。",
        "威胁。在你受伤之前，把武器入鞘。"
      ],
      "avian" : [
        "谨慎。是什么原因让你拔出武器，小鸟？",
        "警惕。一个拔出武器的翼族人离受伤只有一羽之遥。"
      ],
      "floran" : [
        "同情。你可能没有这个概念，但请收好你的武器。",
        "紧张。你在这里不会有麻烦的，不需要武器。"
      ],
      "apex" : [
        "安慰。在这里你不会受到科技发展部的威胁，收起武器吧。",
        "愤怒。在我们把你误认为科技发展部的间谍之前，收起武器。"
      ],
      "hylotl" : [
        "轻蔑。你究竟打算如何处理你的武器？把它收起来。",
        "嘲讽。这里可没有睡莲需要雕刻，把武器收起来。"
      ],
      "glitch" : [
        "被放逐者，亮出刀剑武器被视为侵略行为，老实一点。",
        "你当了那么长时间被放逐者，连我们的规矩都忘了是吗？收起武器。"
      ]
    }
  },
  "gunwarning1" : {
    "default" : {
    	"default" : [
	      "在你把自己的眼睛射爆之前，把枪收起来。",
	      "这可不是狂野西部--收起你的枪。",
	      "别拿着那东西晃来晃去。",
	      "把枪收起来，现在。",
	      "请把枪收起来。"
      ]
    },
    "floran" : {
      "default" : [
        "叶族人不喜欢能能能射的东西，收起来。",
        "能能能射的东西让叶族人嘶嘶嘶，收起来。"
      ]
    },
    "glitch" : {
      "default" : [
        "愤怒。收枪入套。"
      ],
      "human" : [
        "威胁。把枪放下，肉块。",
        "威胁。好战的人类在我们的村庄里最好把枪放下。"
      ],
      "avian" : [
        "告知。还不到猎鸭的季节。把你的武器收起来。",
        "不确定。究竟有什么原因需要一个翼族人拔枪？请把它收起来。"
      ],
      "floran" : [
        "惊讶。用枪的叶族人？有个性啊。不管怎么说，收枪入套。",
        "惊慌。你知道自己拿的是枪吗？它会哔，不会捅，把它收起来。"
      ],
      "apex" : [
        "安慰。在这里你不会受到科技发展部的迫害，把枪放下。",
        "急躁。我向你保证我们不是某只巨猿的间谍，把枪放下。"
      ],
      "hylotl" : [
        "逗乐。那是枪，不是玩具，把它放下。",
        "怀疑。鲛人拿着枪就像电子人涂防晒霜一样没有作用，把它收起来吧。"
      ],
      "glitch" : [
        "被放逐者，拔枪在这里视同侵略，规矩一点。",
        "你当了那么长时间被放逐者，连我们的规矩都忘了是吗？把枪放下。"
      ]
    }
  },
  "swordwarning2" : {
    "default" : {
    	"default" : [
	      "我告诉过你放下武器！",
	      "这是第二次警告--别让我再说一遍，放下武器。",
	      "你在考验我的耐心。收起武器。",
	      "不要用那把武器...耍剑...把它放下。",
	      "汝剑利，吾剑未尝不利。"
      ]
    },
    "floran" : {
      "default" : [
        "叶族人说说说，把武器收起来。",
        "叶族人对客人非常失望，嘶嘶嘶。"
      ]
    },
    "glitch" : {
      "default" : [
        "愤怒。收刀入鞘，我再说一遍！"
      ],
      "human" : [
        "乖戾。你的听觉传感器出毛病了吗？放下武器！",
        "易怒。你想让我发怒吗，人类。放下武器！"
      ],
      "avian" : [
        "关心。也许你没听见，收起武器。",
        "紧张。我不想攻击你，但是如果你一意孤行不放下武器的话，我别无选择。"
      ],
      "floran" : [
        "害怕。我们的意思是你没有恶意，我们只是希望你不要捅人。",
        "窘迫。叶族人拿着武器会让人误会，我们再强调一遍，放下武器。"
      ],
      "apex" : [
        "泄气。妄想只会把你吞噬，放下武器，冷静一下。",
        "烦躁。如果你不立即把武器丢掉，我们就呼叫科技发展部！"
      ],
      "hylotl" : [
        "愉快。好呀，就这么拿着武器吧，好给我们一个动手的借口...",
        "暴怒。在我们怀疑你会用武器之前，把武器丢掉。"
      ],
      "glitch" : [
        "你的人品快要用欠费了，被放逐者，把武器收起来，现在。",
        "如果让我再看见那件武器，我就要修理你。"
      ]
    }
  },
  "gunwarning2" : {
    "default" : {
    	"default" : [
	      "这是第二次警告--别让我再说一遍，放下武器。",
	      "别让枪走火了，我再说一遍。",
	      "请放下枪，你让我们感到紧张。",
	      "你吓到大家了，我说，把枪扔掉。"
      ]
    },
    "floran" : {
      "default" : [
        "叶族人不喜欢枪，但出手比你更快，把它收好。",
        "叶族人会先开开开枪，再问问题，把枪收起来。"
      ]
    },
    "glitch" : {
      "default" : [
        "生气。我强调一下，收起你的武器。"
      ],
      "human" : [
        "烦躁。我听说过你们的'误伤事故'，把枪收起来。",
        "乖戾。是你的枪套坏了，还是你不能遵守我们的法律？"
      ],
      "avian" : [
        "困惑。如果你不需要枪，就把它扔掉。",
        "怀疑。你不可能百发百中的，翼族人，听话，把武器收起来。"
      ],
      "floran" : [
        "迟疑。如果你不把枪收起来，我们不得不把你缴械。",
        "窘迫。你不打算开枪，对吧？在有人受伤之前把枪入套。"
      ],
      "apex" : [
        "严厉。以某只巨猿的名义，把枪扔掉！",
        "警告。也许你是某只巨猿的间谍，把枪收起来，我们会放你走的。"
      ],
      "hylotl" : [
        "高兴。在你伤到自己的鳞片之前，收起你的枪。",
        "兴奋。我们再说一遍，收起你的枪，鲛人。否则我们就把你喂鱼。"
      ],
      "glitch" : [
        "别让我们再说第二遍，被放逐者，把枪放下。",
        "反抗就是你们被放逐者被放逐的原因。现在就把枪放下！"
      ]
    }
  },
  "swordwarning3" : {
    "default" : {
    	"default" : [
	      "最后一次警告你，放下武器！",
	      "别让我杀了你！",
	      "你要摊上大事了！"
      ]
    },
    "floran" : {
      "default" : [
        "现在叶族人生气了，你不会喜欢生气的叶族人的。",
        "警告你，叶族人要捅捅捅了。"
      ]
    },
    "glitch" : {
      "default" : [
        "爆发。最后通牒，不放下武器就是死路一条！"
      ]
    }
  },
  "gunwarning3" : {
    "default" : {
    	"default" : [
	      "这是最后通牒，放下武器！",
	      "别让我杀了你！",
	      "你摊上大事了！"
      ]
    },
    "floran" : {
      "default" : [
        "现在叶族人生气了，你不会喜欢生气的叶族人的。",
        "警告你，叶族人要捅捅捅了。"
      ]
    },
    "glitch" : {
      "default" : [
        "爆发。最后通牒，不放下武器就是死路一条！"
      ]
    }
  },
	"weaponSheathed" : {
	  "default" : {
    	"default" : [
	   		"谢谢。现在你可以走了。"
      ]
    },
	  "floran" : {
	    "default" : [
	      "叶族人满满满意了。"
	    ]
	  },
	  "glitch" : {
	    "default" : [
	      "感激。谢谢你！"
	    ]
	  }
	},
  "comeBack" : {
    "default" : {
      "default" : [
        "你，回来！",
        "回来！",
        "我告诉你，别让我盯上你！"
      ]
    },
    "floran" : {
      "default" : [
        "捅捅捅时已到！",
        "叶族人要让你生生生不如死！"
      ]
    },
    "glitch" : {
      "default" : [
        "狂热。不服从，就去死！",
        "渴望。觉得走运吗，废物？",
        "无情。消灭，抹杀。"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "入侵者！"
      ]
    },
    "human" : {
      "default" : [
        "入侵者！",
        "发现敌人了！",
        "消灭他们！",
        "开火！",
        "发现目标！",
        "这是你最后一次擅闯禁地了！",
        "我使用高爆子弹，专为你准备！",
        "我瞄得很准！除了刚才。",
        "快快受死！",
        "大鱼吃小鱼，猜猜你是哪个？",
        "你能带多少子弹？就让我们来看看吧。",
        "你逃不掉了！",
        "我希望你已经写好遗书了！",
        "看着你后面！这便是你即将来临的毁灭！",
        "准备死吧，渣滓！",
        "我即死亡，陌生人。",
        "明年今天就是你的忌日！",
        "敌人在12点方向！"
      ]
    },
    "glitch" : {
      "default" : [
        "有敌人。入侵者！",
        "恐吓。跪下然后请求我们的仁慈吧！",
        "自信。今天你死定了！",
        "自大。你应该很好对付。",
        "嗜血。别死得太快了；我要好好享受这个过程！",
        "激动。终于，一个值得一战的对手！",
        "威胁。你选错入侵的城堡了！",
        "大胆。过来证明你的气概！",
        "恶毒，我会追上你的！",
        "狂怒。准备受死，入侵者！",
        "轻视。你令人作呕！"
      ]
    },
    "apex" : {
      "default" : [
        "入侵者！",
        "荣耀归于大猿人！",
        "杀死他们！",
        "保安！我们有一个入侵者了！",
        "看起来我们找到了一个新的实验对像。",
        "保安！",
        "你会成为一个不错的标本的。",
        "为了科学！",
        "我希望你和你的大脑连得不那么紧！",
        "滚开！"
      ]
    }
  }
}