{
  "hail" : {
    "default" : {
    	"default" : [
	      "我一直盯着你呢。",
	      "你，规矩点。",
	      "我们不会容许有不法之徒在这儿。",
	      "往前走。"
      ]
    },
    "glitch" : {
      "default" : [
        "严厉。让你的嗅觉设备保持清洁。"
      ],
      "human" : [
        "谨慎。守规矩点，肉人。",
        "礼貌。见到你很高兴，人类。",
        "高兴。玩的愉快，人类。",
        "多疑。你抱着某种目的而来吗，人类？",
        "虚伪。见到你真是太好了。",
        "生疏。呃，一个肉质的怪物！"
      ],
      "avian" : [
        "不确定。愿大鸟引导你。。。？",
        "礼貌。你好啊，翼族人。",
        "欢迎。祝你平安，长羽毛的那谁。",
        "高兴。欢迎，鸟类朋友！",
        "犹豫。我们这儿不常见到翼族人。",
        "轻松。在这边又看到你了，鸟人。"
      ],
      "floran" : [
        "警惕。欢迎，我们坚定的叶族友人。",
        "乐观。我相信你不会制造任何麻烦。",
        "敬畏。一个文明的叶族人！欢迎！",
        "寡言。你不会有问题……是吗？",
        "严厉。老实点，植物生物。",
        "热情。叶族人的到来让我欣喜不已。"
      ],
      "apex" : [
        "支持。你好，大个猿人。",
        "坚决。你和你的毛发都不要惹麻烦，喂。",
        "阴谋。你在这很安全，猿人。",
        "热情。随时欢迎你的到来，猿人。",
        "疑惧。希望你不会把科学发展部的爪牙引来，猿猴。",
        "积极。我相信你被压迫的日子已然远去了！"
      ],
      "hylotl" : [
        "伪善。祝你今天过得愉快，鲛人朋友！",
        "不屑。别把自己的命丢了，鲛人。",
        "鄙视。我看你摊上事儿了。",
        "厌烦。我绝对真的很想听更多关于你们文化的东西。",
        "冷漠。闭嘴，傻鱼。",
        "谴责。我确信你在这只是为了让我们彼此尴尬。"
      ],
      "glitch" : [
        "担忧。小心点儿，流浪者。",
        "恐吓。我们这没有你的朋友，流浪者。",
        "友善。不是所有人都对你的遭遇无动于衷，流浪者。",
        "关心。你不该来这里。流浪者？",
        "警告。你的自由意志在这可能会招致麻烦，流浪者。",
        "忧虑。愿你初获的自由仍鼓舞你前行。"

      ]
    },
    "human" : {
      "default" : [
        "小心点儿，陌生人。",
        "欢迎，旅行者。"
      ],
      "apex" : [
        "别惹麻烦，陌生人。",
        "别担心，在这你将免遭科学发展部的威胁。"
      ],
      "avian" : [
        "哇！一只翼族人！你好啊。",
        "希望你们翼族人知晓如何遵守人类的规矩。"
      ],
      "floran" : [
        "一个叶族人！哇奥！请不要吃了我！哈哈。",
        "你好啊，朋友。尽量别戳或者吃掉任何人。",
        "我想知道配上牧场调料你会不会很好吃……"
      ],
      "glitch" : [
        "哇奥，一个电子人！能给我一罐润滑油吗？",
        "电子人会觉得扳手和板钳具有冒犯性吗？"
      ],
      "hylotl" : [
        "欢迎，鲛人，十分欢迎！"
      ],
      "human" : [
        "嗨，朋友！你来自哪一个殖民地？",
        "嘿！欢迎，旅行者。"
      ]
    },
    "floran" : {
      "default" : [
        "别惹惹惹麻烦，不然叶族人会吃吃吃掉你。"
      ],
      "apex" : [
        "叶族人不理解你的胡须须须。"
      ],
      "avian" : [
        "叶族人想知知知道翼族的鸟神吃起来会不会很美味。",
        "翼族人不要惹麻烦，否则他们会被吃吃吃掉。"
      ],
      "human" : [
        "规矩点，人类……"
      ],
      "hylotl" : [
        "叶族人想戳戳戳点什么……",
        "叶族人渴望鲛人的肉……",
        "鲛人要么听话，要么被吃吃吃掉。",
        "鲛人的眼睛睛睛特别美味……"
      ],
      "glitch" : [
        "叶族人曾经吃吃吃过一个电子人，不推荐尝试。",
        "电子人很幸运，因为他们不好吃吃吃。",
        "电子人要么听话，要么被拆掉。"
      ],
      "floran" : [
        "叶族人不要惹麻烦，不然叶族人就会吃掉……叶族人？叶族人有点困惑。",
        "软弱的制造麻烦的叶族人最好吃吃吃了。"
      ]
    },
    "apex" : {
      "default" : [
        "你是间谍吗？等等，别，不要回答。",
        "保持沉默，旅行者，不要惹麻烦。",
        "*嘘* 科学发展部在监视我们，小心。",
        "欢迎，旅行者，大猿人万岁！",
        "放规矩一点，陌生人。",
        "*嘘* 在每个时钟后面都有摄像头，小心。",
        "请别惹麻烦，否则科学发展部会带走我的家人。",
        "如果你惹了麻烦的话，就会得到去科学发展部度假的单程票。",
        "大猿万岁！是吧，陌生人？",
        "如果你惹了麻烦，大猿会设法惩罚你的，旅行者。",
        "大猿爱所有人，除了他不爱的那些。",
        "欢迎，旅行者！记住：保持缄默，目视前方。",
        "欢迎，陌生人。科学发展部在保护着我们。"
      ]
    },
    "hylotl" : {
      "default" : [
        "欢迎，旅行者，请惊叹于我们精美的建筑设计吧。",
        "嘿，陌生人，别惹麻烦。",
        "唷，我还以为是个叶族人呢，别鬼鬼祟祟的。",
        "欢迎，陌生人。我们很友好，但请你先把鼻子弄干净。",
        "如果你认识任何叶族人，别把他们引到这儿来。",
        "小心点，别把我们美丽的桌椅弄坏。",
        "如果你打算在这里制造麻烦，请二思，或者三思。",
        "欢迎，陌生人，你是仰慕我们的文化而来的吗？"
      ],
      "floran" : [
        "噢，看啊，一个叶族人，你会乖乖听话的，对吧？",
        "只是一个警告，我们这儿不欢迎你这种人。",
        "我的父母曾给我讲过你们的故事，都不是那么动听。",
        "哦不不不，一个叶族人。请不要捅我，也别吃我，我不喜欢那样。",
        "逗留在这的时候不要破坏任何东西，可以吗？",
        "一个文明的叶族人？值得怀疑，不要惹麻烦，否则你会后悔的。",
        "植物人？讨厌的东西，和肮脏的人类一样，我们会注意你的。",
        "你们母星上还有椅子？算了，反正我们的更好。",
        "看，一个叶族人，感情上难以接受，噫。"
      ]
    },
    "avian" : {
      "default" : [
        "欢迎，旅行者！我必须警告你——我们这儿不崇拜克鲁西斯。",
        "你好！有关于阿沃斯的消息么？",
        "管好自己，陌生人，我们的长枪刚刚磨利。",
        "哦，一个旅行者，希望你过得愉快。",
        "你好，陌生人。在逗留期间不要弄坏任何东西。",
        "欢迎！有机会的话一定要来看看我们的市场。",
        "希望你不是祭司们派来的间谍，我们对他们可不会客气……",
        "欢迎来到我们小小的领地，陌生人。",
        "只要你不杀人放火，在这里就会受到欢迎。",
        "我们热爱和平，只要你不想着传播克鲁西斯的信仰。"
      ]
    }
  },
  "weaponwarning1" : {
    "default" : {
    	"default" : [
	      "在你受伤之前，你最好把武器收起来。",
	      "别逼我没收你的武器。",
	      "你没有必要威胁谁。",
	      "亮出武器是明显的挑衅。"
      ]
    },
    "floran" : {
      "default" : [
        "叶族人戳戳戳的更准、更快。收起武器"
      ]
    },
    "glitch" : {
      "default" : [
        "愤怒。收起武器。"
      ],
      "human" : [
        "威胁。收起你的武器，人肉皮囊。",
        "威胁。在你受伤之前，把武器收起来。"
      ],
      "avian" : [
        "谨慎。是什么原因让你拔出武器，鸟类？",
        "警惕。一个拔出武器的翼族人离受伤只有一羽之遥。"
      ],
      "floran" : [
        "同情。这在你看来也许是个异域观念，但请收好你的武器。",
        "紧张。在这里不会有麻烦的，你不需要武器。"
      ],
      "apex" : [
        "安慰。在这里你不会受到科技发展部的威胁，收起武器吧。",
        "愤怒。在我们把你误认为科技发展部的间谍之前收起武器。"
      ],
      "hylotl" : [
        "轻蔑。你究竟打算如何处理你的武器？把它收起来。",
        "嘲讽。这里可没有睡莲需要雕刻，把武器收起来。"
      ],
      "glitch" : [
        "流浪者，亮出刀剑会被视为侵略行为，老实一点。",
        "你流浪了那么久以至于忘了我们的规矩吗？收起武器。"
      ]
    }
  },
  "weaponwarning2" : {
    "default" : {
    	"default" : [
	      "我告诉过你放下武器！",
	      "这是第二次警告——别让我再说一遍，放下武器。",
	      "你在考验我的耐心。收起武器。",
        "请收起武器。你使我们很紧张。"
      ]
    },
    "floran" : {
      "default" : [
        "叶族人说，立立立刻把武器收起来。",
        "叶族人对客人非常失望，嘶嘶嘶。"
      ]
    },
    "glitch" : {
      "default" : [
        "愤怒。收刀入鞘，我再说一遍！"
      ],
      "human" : [
        "乖戾。你的听觉传感器出毛病了吗？放下武器！",
        "易怒。你想让我发怒吗，人类。放下武器！"
      ],
      "avian" : [
        "关心。也许你没听见，收起武器。",
        "紧张。我不想攻击你，但是如果你一意孤行不放下武器的话，我别无选择。"
      ],
      "floran" : [
        "害怕。我们无意伤害你，只是希望你不要捅人。",
        "窘迫。叶族人拿着武器会让人误会，我们再强调一遍，放下武器。"
      ],
      "apex" : [
        "失望。妄想只会把你吞噬，放下武器，冷静一下。",
        "烦躁。如果你不立即把武器丢掉，我们就呼叫科技发展部！"
      ],
      "hylotl" : [
        "愉快。好呀，就这么拿着武器吧，好给我们一个动手的借口……",
        "暴怒。在我们怀疑你会用武器之前，把它丢掉。"
      ],
      "glitch" : [
        "你的人品快要用欠费了，流浪者，把武器收起来，现在。",
        "如果让我再看见那件武器，我就要修理你。"
      ]
    }
  },
  "weaponwarning3" : {
    "default" : {
    	"default" : [
	      "最后一次警告，放下武器！",
	      "别逼我杀了你！",
	      "你已经命悬一线了！"
      ]
    },
    "floran" : {
      "default" : [
        "现在叶族人生气了，你不会喜欢生气的叶族人的。",
        "警告你，叶族人要捅捅捅了。"
      ]
    },
    "glitch" : {
      "default" : [
        "爆发。最后通牒，不放下武器就是死路一条！"
      ]
    }
  },
	"weaponSheathed" : {
	  "default" : {
    	"default" : [
	   		"谢谢。现在你可以走了。"
      ]
    },
	  "floran" : {
	    "default" : [
	      "叶族人很满满满意。"
	    ]
	  },
	  "glitch" : {
	    "default" : [
	      "感激。谢谢你。"
	    ]
	  }
	},
  "comeBack" : {
    "default" : {
      "default" : [
        "你，回来！",
        "回来！",
        "我告诉你，别让我盯上你！"
      ]
    },
    "floran" : {
      "default" : [
        "捅捅捅时间！",
        "叶族人要让你生生生不如死！"
      ]
    },
    "glitch" : {
      "default" : [
        "狂热。不服从，就去死！",
        "渴望。觉得走运吗，废物？",
        "无情。消灭，抹杀。"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "入侵者！"
      ]
    },
    "human" : {
      "default" : [
        "入侵者！",
        "发现敌人了！",
        "消灭他们！",
        "开火！",
        "发现目标！",
        "这是你最后一次入侵！",
        "我使用高爆子弹，专为你准备",
        "我瞄得很准！除了刚才。",
        "快快受死！",
        "大鱼吃小鱼，猜猜你是哪个？",
        "你能带多少子弹？就让我们来看看吧。",
        "你逃不掉了！",
        "我希望你已经写好遗书了！",
        "看看身后！那是你将迎来的毁灭！",
        "准备赴死吧，渣滓！",
        "我即死亡，陌生人。",
        "明年今天就是你的忌日！",
        "十二点钟方向发现敌人！"
      ]
    },
    "glitch" : {
      "default" : [
        "敌对。入侵者！",
        "恐吓。跪下请求我们的仁慈吧！",
        "自信。今天你死定了！",
        "自大。你应该很好对付。",
        "嗜血。别死得太快了；我要好好享受这个过程！",
        "激动。终于，一个值得一战的对手！",
        "威胁。你选错入侵的城堡了！",
        "大胆。过来证明你的气概！",
        "恶毒，我会追上你的！",
        "狂怒。准备受死，入侵者！",
        "轻视。你令人作呕！"
      ]
    },
    "apex" : {
      "default" : [
        "入侵者！",
        "荣耀归于大猿人！",
        "杀死他们！",
        "保安！这儿有一个入侵者！",
        "看起来我们有了一个新的实验材料！",
        "保安！",
        "你会成为一个不错的标本的。",
        "为了科学！",
        "希望你和你的大脑连得不那么紧！",
        "滚开！"
      ]
    }
  }
}