{
  "merchantStart" : {
    "default" : {
    	"default" : [
	      "欢迎光临小店！",
	      "有喜欢的吗？",
	      "我能帮你做什么吗？"
      ]
    },
    "apex" : {
      "default" : [
        "想买啥？赶紧说。",
        "我这接受像素和比格币。",
        "胡子在上，终于来客人了！",
        "请不要卖给我任何会让我被逮捕的东西。"
      ]
    },
    "avian" : {
      "default" : [
        "欢迎你，旅人，需要些什么？",
        "没长过翅膀，对吧？",
        "你好，有喜欢的吗？"
      ]
    },
   
    "floran" : {
      "default" : [
        "叶族人欢欢欢欢迎你，希望你多买点东东东东西。",
        "如有损损损损坏，照价赔赔赔赔偿。",
        "叶族人想想想想要像像像像素。"
      ]
    },
   
    "glitch" : {
      "default" : [
        "友善。欢迎光临。",
        "欢迎。你知道你什么都想买！",
        "提醒。损坏商品，令人失望。"
      ]
    },
   
    "hylotl" : {
      "default" : [
        "欢迎。我希望我卖给你的货物能带给你幸福。",
        "愿我的商品能带给你新的启示！",
        "也许在这你能找到你想要的？"
      ]
    }    
  },
  "merchantEnd" : {
    "default" : {
    	"default" : [
        "下回见！",
        "下次再来！",
        "这里永远欢迎你和你的钱包！",
        "好买家！",
        "感谢惠顾！",
        "交易愉快！",
        "期待和你再做生意。"
      ]
    },
    "human" : {
      "default" : [
        "下回见！",
        "下次再来！",
        "这里永远欢迎你和你的钱包！",
        "好买家！",
        "感谢惠顾！",
        "交易愉快！",
        "期待和你再做生意。"
      ]
    },
    "avian" : {
      "default" : [
        "欢迎你再次飞过这里！",
        "非常感谢你的惠顾！",
        "愿克鲁西斯指引着你！",
        "我希望能再次见到你。"
      ]
    },
    "glitch" : {
      "default" : [
        "满足。欢迎下次光临。",
        "高兴。多谢惠顾！",
        "失望。就买这么点吗？",
        "忧郁。来日再见，亲。"
      ]
    },
    "hylotl" : {
      "default" : [
        "我希望你对我们的交易满意。",
        "我希望你找到了你想要的。",
        "愿你前路光明，朋友！",
        "在心与魂中烙下强壮，朋友。"
      ]
    },
    "apex" : {
      "default" : [
        "注意不要祸从口出，朋友。",
        "低头看着路。记得专注。",
        "保住你的自由，朋友。",
        "如果有你需要的，尽管回来。"
      ]
    },
    "floran" : {
      "default" : [
        "叶族人想要顾客多多多消费！",
        "叶族人跟财神爷说说说拜拜。",
        "叶族人喜欢做买卖卖卖。",
        "叶族人很喜欢这笔交交交易。"
      ]
    }
  },
  "follow" : {
    "default" : {
    	"default" : [
	      "来，跟着我去我的商店。",
	      "来，来，看看我这里的新货！"
      ]
    },
    "glitch" : {
    	"default" : [
	      "引导。请随我到店里来。",
	      "欢迎。请让我带你去我的店里。"
      ]
    },
    "avian" : {
    	"default" : [
	      "让我带你去我的店铺吧。",
	      "我们可以在我的店里谈生意。请跟我来。"
      ]
    },
    "apex" : {
    	"default" : [
	      "我的货都在店里，请跟我来。",
	      "我的商品都在我的店里。"
      ]
    },
    "hylotl" : {
    	"default" : [
	      "让我带你去我的店铺吧。",
	      "你愿意让我带你去我的店里吗？"
      ]
    },
    "floran" : {
    	"default" : [
	      "请请请跟我来。",
	      "我的店店店在这这这边。"
      ]
    }
  },
  "welcome" : {
    "default" : {
    	"default" : [
	      "欢迎来到我的商店！",
	      "我们到了，现在我能为你做些什么么？"
      ]
    },
    "human" : {
    	"default" : [
        " 欢迎来到我的商店！那么现在来看看我的货吧！",
        " 我们到了。那么，你想要什么？"
      ]
    },
    "glitch" : {
    	"default" : [
        "激动。我们可以谈生意了。",
        "愉快。我更喜欢在我的店里卖东西。"
      ]
    },
    "avian" : {
    	"default" : [
        "现在让我们交易到心满意足吧！",
        "现在你可以看看我的商品了！"
      ]
    },
    "apex" : {
    	"default" : [
        "没有别人了。我们可以谈生意了。",
        "现在没有人在监听我们了。可以看看我的货了。"
      ]
    },
    "hylotl" : {
    	"default" : [
        "我们到了。你想开始交易了么？",
        "现在气氛很平静，你愿意开始交易了么？"
      ]
    },
    "floran" : {
    	"default" : [
        "现在你可以买买买了。",
        "现在你愿意花花花像素了？"
      ]
    }
  },
  "tout" : {
    "default" : {
    	"default" : [
	      "在这里买你想要的东西！",
	      "所有你需要的东西，都在这里。",
	      "嘿，就是你，来这里看看我的货物吧！",
	      "这里最实惠！",
	      "走过路过不要错过！机会难得实惠多多！",
	      "很便宜的，买吧！"
      ]
    },
    "apex" : {
      "default" : [
        "你想买什么？动作快点。",
        "我的商店接受像素和比格币。",
        "胡子在上，一个客户！",
        "请别卖给我任何能让我坐牢的东西。"
      ]
    },
    
    "avian" : {
      "default" : [
        "欢迎，旅行者。你需要什么么？",
        "买还是卖！",
        "你好。发现你想要的东西了么？"
      ]
    },
    
    "floran" : {
      "default" : [
        "叶族欢迎迎迎你光临店铺。希望你能买点什什什么。",
        "你弄坏坏坏了，你得买买买。",
        "叶族想要要要像素素素。"
      ]
    },
    
    "glitch" : {
      "default" : [
        "友好。欢迎来我的店铺。",
        "精明。你知道你想全部都买下来！",
        "提醒。这里不鼓励摧毁商品。"
      ]
    },
    
    "hylotl" : {
      "default" : [
        "欢迎，陌生人！为我的货物惊叹吧，希望我的货物能带给你幸福。",
        "我的货物是很赞的。我想免费给你点，但我喜欢钱。",
        "我货物的设计超越了其他任何的货物！",
        "看看我的商品。这真令人兴奋，我知道。",
        "你可以拥有其中的任何一个，只要你付一点点像素就行！"
      ]
    }
  },
  "helpme" : {
    "default" : {
    	"default" : [
	      "该跑路了！",
	      "救命！我被攻击了！",
	      "我被攻击了！"
      ]
    },
    "floran" : {
    	"default" : [
	      "要跑跑跑了！",
	      "叶族人没有带矛矛矛，没法反击！"
      ]
    },
    "glitch" : {
    	"default" : [
	      "害怕。救命！",
	      "惊吓。请不要伤害我！",
	      "恐怖。离我远点！",
	      "恐惧。救我！",
	      "惊吓。不！别靠近我！"
      ]
    }
  },
  "helpthem" : {
    "default" : {
    	"default" : [
      	"救命！"
      ]
    },
    "glitch" : {
    	"default" : [
	      "害怕。警卫！",
	      "惊吓。请不要伤害我！",
	      "恐怖。放过我！",
	      "恐惧。救我！",
      	"惊吓。你干了什么？！"
      ]
    }
  },
  "encourage" : {
    "default" : {
    	"default" : [
	      "抓住他！",
	      "替我报仇！",
	      "帮我揍他！",
	      "别让他跑了！"
      ]
    },
    "glitch" : {
    	"default" : [
	      "鼓励。把他用剑捅死！",
	      "兴奋。救我们！",
	      "侵略。把他击倒！",
	      "复仇。别让他跑了！"
      ]
    }
  },
  "safe" : {
    "default" : {
    	"default" : [
	      "我觉得我跑掉了。",
	      "呼！",
	      "死里逃生！",
	      "差一点就没命了…"
      ]
    },
    "floran" : {
    	"default" : [
	      "以后还能卖卖卖更多的货物。",
	      "现在我安安安全了。"
      ]
    },
    "glitch" : {
    	"default" : [
	      "放松。呼，我觉得我跑掉了。",
	      "感动。我拼了命的逃脱了！",
	      "希望。我安全了么？",
	      "尴尬。我觉得我漏了点油。"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default": [
        "我家的一些东西变了，我不喜欢这样！"
      ]
    },
    "human" : {
      "default": [
        "我的店子失窃了么？",
        "我的商店的布局变了，这不太对…",
        "我的店子变得不对劲了，这要我怎么卖东西？"
      ]
    },
    "floran" : {
      "default": [
        "你从我的店店店里带走了些货货货么？",
        "我的店变变变了，我不开心。",
        "你能帮我把店店店变回原来的样样样子么？"
      ]
    },
    "glitch" : {
      "default": [
        "疑惑。我的商店跟以前不一样了。",
        "失望。我喜欢我的店原来的样子。",
        "期望。我希望我的店变回原来的样子。"
      ]
    },
    "avian" : {
      "default": [
        "我的店的布局跟以前不一样了…",
        "这产生了令人不安的变化。",
        "你能帮我把店子的布局改回去么？"
      ]
    },
    "apex" : {
      "default": [
        "如果你能恢复我的店的原始装饰，我会很感激的。",
        "你能帮忙恢复我的商店的外貌么？",
        "我喜欢商店原来的样子。请你帮我恢复它，好吗？"
      ]
    },
    "hylotl" : {
      "default": [
        "我的店里有不平恒的暗流…",
        "这可是我的店！为什么会有人从这里拿走东西？",
        "我希望我的店子还是原来那样就好，现在这样无疑会让客人离开的…"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default": [
        "我的房子需要修理！"
      ]
    },
    "human" : {
      "default": [
        "你能修好这墙吗？现在这样会赶走新顾客的。",
        "没有人会进条件这么糟糕的店！你能帮忙么？",
        "我的店需要保持在最好的状态！你能帮忙修好它么？"
      ]
    },
    "floran" : {
      "default": [
        "这墙坏坏坏了！",
        "你能修好我的店店店么？",
        "我的店需要维修！"
      ]
    },
    "glitch" : {
      "default": [
        "不快。我的商店的损坏情况会吓跑顾客的。",
        "思考。破损的墙壁会赶走潜在的顾客。",
        "需求。你能在一切变得更糟糕前修好我的店么？"
      ]
    },
    "avian" : {
      "default": [
        "我的商店的损坏让我非常在意…",
        "我的商店的损坏让我非常在意…",
        "如果你能修好我的房子我会很感激的。",
        "嗯，我的房子里好像有堵墙坏了。你能修好它么？"
      ]
    },
    "apex" : {
      "default": [
        "你能帮忙修好我的商店么？",
        "我想报告一下我的店有几处损坏。",
        "我的商店的危险结构无疑吓跑了顾客。"
      ]
    },
    "hylotl" : {
      "default": [
        "我的店出问题了。这令人不快。",
        "你有没有感到我的店里哪里不对？它好像坏了…",
        "我发现这堵墙坏了，也许你能帮忙修好它？"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default": [
        "我想这是我的地盘。"
      ]
    },
    "human" : {
      "default": [
        "这不是我的地盘吗？我可不会分享我的店！",
        "你在试着让另一个人住到我的店里来？！",
        "为什么你在这签订了另一个契约？！"
      ]
    },
    "floran" : {
      "default": [
        "其其其他人不可以搬到这来！",
        "为什么会有有有其他人试着住进来？",
        "我不能和其他人分分分享我的店！"
      ]
    },
    "glitch" : {
      "default": [
        "震惊。你在试着让另一个商人搬到这个店里？",
        "疑惑。为何会有另一个人试着住进来？",
        "伤心。我本以为这店只属于我。"
      ]
    },
    "avian" : {
      "default": [
        "为什么会有另一个人试着搬到我的店里？",
        "你把我的店又租出去了？这绝对是个错误…",
        "店里又有了一个契约-显然这并不应该。"
      ]
    },
    "apex" : {
      "default": [
        "为什么这会又有一个契约？我应该对这个店拥有完全的所有权！",
        "这房子不是我订下来的么？为什么又租出去了？",
        "我本以为这幢房子只属于我。真伤心。"
      ]
    },
    "hylotl" : {
      "default": [
        "一个商业对手正准备搬到我的店里来？",
        "当我店里有另一个契约时要我怎么保持冷静？",
        "我店里有另一个契约？这显然是个错误。"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default": [
        "这种条件下我的货卖不出去！"
      ]
    },
    "human" : {
      "default": [
        "这种条件下我的货卖不出去！",
        "这工作条件已经突破了我的底线…",
        "在这种地方要卖出我的商品太难了！"
      ]
    },
    "floran" : {
      "default": [
        "这这这种条件下我卖卖卖不出去！",
        "这种条条条件不行！",
        "你还是没有修好我店店店里的东西！"
      ]
    },
    "glitch" : {
      "default": [
        "烦恼。我想卖出我的货，但在这种条件下太难了。",
        "失望。我希望有人把我的请求听进去了。",
        "不快。我的店还没修好。"
      ]
    },
    "avian" : {
      "default": [
        "这太过分了，我对现状很不满意。",
        "我不想在这种条件下工作。",
        "为什么我的店还是这样？！"
      ]
    },
    "apex" : {
      "default": [
        "我的改造哭诉被忽视了…",
        "这店和我住进来的时候不一样了…",
        "我的商店的环境太可怕了，我觉得我被忽视了！"
      ]
    },
    "hylotl" : {
      "default": [
        "当我的请求被无视时，我很难保持冷静。",
        "这店的状况不是我能接受的…",
        "我不能在一个这么不完美的店里工作…"
      ]
    }
  },
  "final" : {
    "default" : {
      "default": [
        "我受够了！"
      ]
    },
    "human" : {
      "default": [
        "我受够了！",
        "就这样吧，我放弃了。是时候到别处做生意了！",
        "我放弃了，我会去别的地方卖我的货。"
      ]
    },
    "floran" : {
      "default": [
        "这这这情况足够久了！",
        "我会去别的地方卖卖卖！",
        "这里一点都不专专专业。我会去别的星球卖卖卖！"
      ]
    },
    "glitch" : {
      "default": [
        "不堪重负。是时候找个更好的店卖我的货了。",
        "愤怒。我需要一个更好的店来做生意。",
        "失望。这种情况下，是时候离开去别处卖东西了。"
      ]
    },
    "avian" : {
      "default": [
        "像我这样的商人需要更好的地方。够了，真是够了。",
        "是时候找个更好的店了。",
        "这店和我搬进来时不一样了。是时候离开去找另一个了。"
      ]
    },
    "apex" : {
      "default": [
        "我搬到这是要追寻更好的生活，但我再也不愿意在这里工作了。",
        "我需要一个比这里好的工作环境！",
        "离去令人伤心，但我的抱怨都被忽略了。"
      ]
    },
    "hylotl" : {
      "default": [
        "是时候搬走了，这家店完全不符合我的标准了。",
        "我一度希望这店能够好起来，但很显然不可能了。",
        "也许我应该找另一个能让我卖我美丽的商品的落脚点了。"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "我到家了！"
      ]
    },
    "human" : {
      "default" : [
        "你叫我？",
        "有你想买的东西吗？",
        "嗨！你叫我是因为你想买东西吗？"
      ]
    },
    "floran" : {
      "default" : [
        "你需需需要卖给我点什什什么吗？",
        "你需要什么东东东西？",
        "你在找找找我？"
      ]
    },
    "glitch" : {
      "default" : [
        "疑问。你是想买，还是想卖？",
        "友好。你是想聊天还是想从我这买东西？",
        "礼貌。你是特意来打招呼的么？"
      ]
    },
    "avian" : {
      "default" : [
        "你想做生意吗？",
        "又见到你了，朋友！愿克鲁西斯宠爱你。",
        "我总是喜欢见到一张友好的脸。"
      ]
    },
    "apex" : {
      "default" : [
        "你是因公叫我？也许你想买些什么？",
        "你需要我做什么吗？",
        "你好。你有想买的东西吗？"
      ]
    },
    "hylotl" : {
      "default" : [
        "你想讨论什么？",
        "你想和我做生意吗？朋友？",
        "你需要买我的货吗？"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "这是为了答谢你给店子的帮助的礼物！"
      ]
    },
    "human" : {
      "default" : [
        "我想你可能会喜欢这个，朋友！",
        "这是为了答谢你给店子的帮助的礼物！",
        "为了答谢你持续的付出，拿着这个。"
      ]
    },
    "floran" : {
      "default" : [
        "这是是是给你的礼物！",
        "我带带带给你一样东西！",
        "感感感谢你给我的店子的帮助！"
      ]
    },
    "glitch" : {
      "default" : [
        "感激。这礼物是为了报答你对我的生意的支持。",
        "感谢。 为了答谢你对我生意的支持，送给你一份礼物。",
        "希冀。我希望你喜欢我在交易时得到的礼物！"
      ]
    },
    "avian" : {
      "default" : [
        "这是我感激的证明。",
        "我带给你一份礼物。",
        "我希望这份礼物能带给你幸福。"
      ]
    },
    "apex" : {
      "default" : [
        "你帮了我太多，请一定接受这份礼物。",
        "为了报答你对我生意的支持，我有份礼物送给你。",
        "为了答谢你对我生意的支持，拿着这个。"
      ]
    },
    "hylotl" : {
      "default" : [
        "我的店如我所期望的一般祥和。这是答谢你的礼物。",
        "鉴于你的帮助，请收下这份我感谢的证明。",
        "我希望这份薄礼能表达我对你的谢意。"
      ]
    }
  }
}