{
  "reattack" : {
    "default" : {
      "default" : [
        "谷가가가가！",
        "가가가가가！"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "谷가가가가！",
        "가가가가가∼",
        "像가가가가！"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "谷가가가가！谷가가가가！",
        "谷谷谷谷가가가가！"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "谷가가가가？",
        "가가가가가∼"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "谷가가가가？",
        "像가가가가？！"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "谷가가가가！",
        "像가가가가！"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "像가가가가！",
        "가가가가가！",
        "谷가가가가！"
      ]
    }
  }
}