{
  "converse": {
    "default" : {
      "default": [ 
        "我和你没什么好说的。"
      ]
    },
    "apex" : {
      "default" : [
        "你看上去不像科技发展部的人…"
      ],
      "human" : [
        "啊，看到我们当中有人类真是再好不过了。"
      ],
      "apex" : [
        "你冒险回到这里，贱民。"
      ],
      "avian" : [
        "你好，翼族人。"
      ],
      "floran" : [
        "一个叶族人。哦。"
      ],
      "glitch" : [
        "你好啊，电子人。"
      ],
      "hylotl" : [
        "你好啊，鲛人。"
      ]
    },
    "hylotl" : {
      "default" : [
        "我不确定我是否想知道你到底是谁。"
      ],
      "human" : [
        "哦，你好。有光滑的皮肤的人。"
      ],
      "apex" : [
        "不要靠得太近，猿族人。你身上有味道。"
      ],
      "avian" : [
        "你好，翼族人。"
      ],
      "floran" : [
        "滚！"
      ],
      "glitch" : [
        "哦，一个机器人。"
      ],
      "hylotl" : [
        "啊，终于有个会欣赏我的人来了。"
      ]
    },
    "avian" : {
      "default" : [
        "愿你有幸福的一天，陌生人。"
      ],
      "human" : [
        "你好，人类。"
      ],
      "apex" : [
        "你好，猿族人。"
      ],
      "avian" : [
        "你好，翼族同胞。"
      ],
      "floran" : [
        "噢…一个叶族。"
      ],
      "glitch" : [
        "你好啊，电子人。"
      ],
      "hylotl" : [
        "噢，一个鲛人。"
      ]
    },
    "human" : {
      "default" : [
        "祝你有美好的一天。"
      ],
      "human" : [
        "哟！",
        "嘿，很高兴见到你。"
      ],
      "apex" : [
        "一只会说话的猴子。酷。"
      ],
      "avian" : [
        "嘿，是只大鸟！"
      ],
      "floran" : [
        "一个生命力顽强的巨型三裂行走植物！"
      ],
      "glitch" : [
        "喔，赞，一个机器人。"
      ],
      "hylotl" : [
        "哦嘿，一条大鱼。"
      ]
    },
    "floran" : {
      "default" : [
        "奇奇奇怪的东西。"
      ],
      "human" : [
        "肉人！"
      ],
      "apex" : [
        "叶族人想从猴子人的拥抱中逃脱。"
      ],
      "avian" : [
        "鸟人！"
      ],
      "floran" : [
        "叶族人！"
      ],
      "glitch" : [
        "叶族人欢迎金属人！"
      ],
      "hylotl" : [
        "咝咝~~"
      ]
    },
    "glitch" : {
      "default" : [
        "疑惑。你是什么物种？"
      ],
      "human" : [
        "优越。弱小的人类。"
      ],
      "apex" : [
        "震惊。长满毛的生物！"
      ],
      "avian" : [
        "查询。请问你的羽毛是自己组装的，还是由工匠安装的？"
      ],
      "floran" : [
        "友好。你好，植物人。"
      ],
      "glitch" : [
        "友好。你好，朋友。"
      ],
      "hylotl" : [
        "怀疑。对于一个生活在水下的物种，你闻起来不怎么干净。"
      ]
    }
  },
  "flee" : {
    "helpme" : {
      "default" : {
        "default" : [
          "帮帮我！",
          "救命！",
          "我被搭讪了！"
        ]
      },
      "glitch" : {
        "default" : [
        "恐惧。帮帮我！",
          "惊吓。请不要伤害我。",
          "咒骂。我被搭讪了。",
          "害怕。离我远点儿！",
          "惊悚。救命！",
          "震惊。不！离我远点儿！"
        ]
      },
      "floran" : {
        "default" : [
          "到了刺刺刺的时间了！",
          "叶族人受伤了！",
          "叶族人还没准备好打猎！"
        ]
      }
    },
    "helpthem" : {
      "default" : {
        "default" : [
          "你都干了些什么？！"
        ]
      },
      "glitch" : {
        "default" : [
          "恐惧。谁来救我！",
          "惊吓。请不要伤害我！",
          "害怕。请离开我！",
          "惊悚。救命！",
          "震惊。你干了什么？！",
          "正义。我会写邮件抗议！"
        ]
      },
      "floran" : {
        "default" : [
          "到了刺刺刺的时间了！",
          "叶族人受伤了！",
          "叶族人还没准备好打猎！"
        ]
      }
    },
    "encourage" : {
      "default" : {
        "default" : [
          "抓住他们！",
          "我要报仇！",
          "替我抓住他们！",
          "别让他们跑了！"
        ]
      },
      "glitch" : {
        "default" : [
          "激励。把他们全砍死！",
          "激动。我要报仇！",
          "侵略。把他打倒！",
          "复仇。别让他们跑了！"
        ]
      },
      "floran" : {
        "default" : [
          "刺刺刺死入侵者！",
          "叶族人开始报复了！",
          "碾碎他们！"
        ]
      }
    },
    "safe" : {
      "default" : {
        "default" : [
          "呼，我觉得我跑掉了。",
          "我拼了命逃跑！",
          "这里安全么？"
        ]
      },
      "glitch" : {
        "default" : [
          "泄气。呼。我觉得我跑掉了。",
          "感激。我拼了命逃跑！",
          "如意。如果我能继续坚持的话。",
          "希望。我安全了么？",
          "尴尬。我觉得我漏了点油。"
        ]
      },
      "floran" : {
        "default" : [
          "叶族人现在安安安全了。",
          "叶族人总算是没有被刺刺刺到。",
          "叶族人手上没有武器是他们的幸运。",
          "救赎！"
        ]
      }
    }
  }
}