{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!"
      ]
    },
    "glitch" : {
      "default" : [
        "Aggressive. This time you will not escape."
      ]
    },
    "floran" : {
      "default" : [
        "Floran will ssstop you this time!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Hold right where you are, law breaking dreg!"
      ]
    },
    "floran" : {
      "default" : [
        "asdasd"
      ]
    },
    "glitch" : {
      "default" : [
        "Dutiful. I will take you to space jail!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "You have the right to remain dead."
      ]
    },
    "glitch" : {
      "default" : [
        "Sad. Killing was not necessary."
      ]
    },
    "floran" : {
      "default" : [
        "Criminalsss should have surrendered..."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "We'll find you!"
      ]
    },
    "glitch" : {
      "default" : [
        "Patient. I'll just wait here 'til you come back."
      ]
    },
    "floran" : {
      "default" : [
        "Floran iss good protector, will find prey!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "We'll find you!"
      ]
    },
    "glitch" : {
      "default" : [
        "Patient. I'll just wait here 'til you come back."
      ]
    },
    "floran" : {
      "default" : [
        "Floran iss good protector, will find prey!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "They're getting away!"
      ]
    },
    "glitch" : {
      "default" : [
        "Irritated. They perp is beyond my reach!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran isss not fasst enough!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Take down the criminal scum!"
      ]
    },
    "glitch" : {
      "default" : [
        "Encouraging. Handcuff them!"
      ]
    },
    "floran" : {
      "default" : [
        "Capture the criminalsss!"
      ]
    }
  }
}
