{
  "converse" : {
      "default" : {
          "default" : [
            "Officer <selfname>, reporting for... Paperwork.",
            "Officer <selfname>, here to help! The Captain has me researching cases for you to take on!",
            "Captain Noble told me all about the good that the Peacekeepers are doing. I think most of that is down to you!",
            "I'm investigating the Letheia Corporation for massive fraud! It's a... Big case.",
            "I sure would like to get my OWN desk one day.",
            "Keep your chin up, Officer -  It's a tough job but I believe in you!",
            "I've decided I'm gonna be a loose cannon Peacekeeper! Watch out, crime-doers!",
            "Captain Noble has me working on finding some new cases for you, Officer <entityname>!",
            "I joined up with the Peacekeepers mostly because of the Captain's sheer enthusiasm. Such charisma!",
            "The Captain has me investigating local criminal activity. These gangs sure do pick the weirdest gang names, huh?",
            "Without a Matter Manipulator, there's only so much field work I can do. Not like you, Officer <entityname>!",
            "You're Officer <entityname>?! I've heard so much about you from the Captain! You look different to how I imagined...",
            "Officer <entityname>? The Captain says you're the one we have to thank for for making all this happen!",
            "Is it just me, or does the Peacekeeper emblem look like a big smiling face? I can't unsee it!",
            "I guess we're not really \"Terrene\" Peacekeepers now that Earth is gone..."
          ]
        },
        "apex" : {
          "default" : [
            "Greetings, Officer <entityname>!",
            "Officer <selfname>, at your service! Well, not right now. I'm pretty busy.",
            "If crime does not sleep then neither shall I, Officer <entityname>!",
            "I'll work my way up the Peacekeeper chain until I can take on the Miniknog myself!",
            "Being a Peacekeeper is a chance for me to bring some good back to the universe!",
            "We're getting a lot of paperwork for monsters that need defeating in our district. I hope you're combat-ready!",
            "There's a few new cases I've been researching just for you, Officer <entityname>.",
            "I've seen enough combat for one lifetime, so I'm mostly here doing research for new bounties.",
            "I have a strong sense of justice, so the role of a Peacekeeper is perfect for me!",
            "Becoming a Peacekeeper has finally given me a role in life that allows me to do some real good for the galaxy."
          ]
        },
        "hylotl" : {
          "default" : [
            "Fighting space crime is such an uphill task... I feel like I'm merely a drop in the ocean.",
            "I cannot talk now - I have some complex cases to solve in my head.",
            "My third eye can actually SEE justice. Isn't that impressive?",
            "What is it like being the Captain's favourite, Officer <entityname>?",
            "These local space gangs have such an awful sense of style. Don't you agree?",
            "Don't you find it odd that gangs are resorting to wearing hats to distinguish themselves from rival criminals?",
            "Officer <entityname>? The Captain told me you're the one who has helped get this operation running again. You have my admiration."
          ]
        },
        "floran" : {
          "default" : [
            "Floran's name is <selfname>. Floran saying hello!",
            "Floran isss a Peacekeeper. Floran keepssss the peace, and does not eat it.",
            "Floran doing good thingsss. Floran proud.",
            "Floran is Officer <selfname>! Floran's job isss to watch bad guysss.",
            "Floran is Officer <selfname>! Floran hasss cassses to investigate. Floran is hard worker.",
            "Floran doing lotsss of paperwork. Isss paper made from plantsss? Floran concerned.",
            "Floran isss working hard to find new cassses for Officer <entityname>!"
          ]
        },
        "glitch" : {
          "default" : [
            "Welcoming. My name is Officer <selfname>, and I am here to assist in the proliferation of justice!",
            "Tired. I've been working this shift for a long time.",
            "Valiant. I am determined to bring peace to this sector once more!",
            "Eager. As long as I still stand, I shall bring justice to the stars!",
            "Impressed. The Captain has informed me of your prowess, Officer <entityname>.",
            "Eager. The Captain exudes confidence. I one day hope to be even half as inspirational as he is!",
            "Friendly. Well met, Officer <entityname>!",
            "Vain. If I am to be truly honest, I became a Peacekeeper so I get to wear this dashing uniform.",
            "Determined. I've been investigating a criminal gang and close to a breakthrough."
          ]
        },
        "avian" : {
          "default" : [
            "Well ruffle my feathers - a friendly new face!",
            "Well ruffle my feathers - you're Officer <entityname>! The Captain has such kind words to say about you!",
            "The Peacekeepers are a light in the darkness of our universe. How could I not join?",
            "I hope that by becoming a Peacekeeper and helping people, I can inspire others to good themselves!",
            "My role is to gather intel on our local gangs. It's your job, Officer <entityname>, to take the fight to them!",
            "To journey through the stars, bringing justice to the wicked... That is my duty here!",
            "Hello there - I am Officer <selfname>, on the case with a happy face!",
            "This is my first job! I hope I don't mess up!"
          ]
        },
        "novakid" : {
          "default" : [
            "I'm the Sheriff around these here parts.... Actually, I haven't quite reached Sheriff rank yet.",
            "Ain't no rest for the wicked - ain't I right, Officer <entityname>?",
            "Officer <selfname> is the name, an' I'm here to help the Captain bring rule o' law to these parts!",
            "Howdy! I'm Officer <selfname>, and I'm ready to bust up some bad guys!",
            "Howdy there, Officer <entityname>! Ready to take the fight to the bad guys?",
            "Word around the station is that you're a real sharp-shooter, Officer <entityname>!",
            "It ain't easy to blend in around these parts when you light up like a summer afternoon.",
            "The Captain sure is a handsome one, don't yer think? I wonder if he's single...",
            "I'm gonna be real honest with you, Officer <entityname>. I joined up mostly because the Captain is mighty handsome.",
            "Howdy there, Officer <entityname>! Do you know if Captain Noble is single? I'm askin' for... A friend."
          ]
    }
  }
}
