{
  "attack" : {
    "default" : {
    	"default" : [
      "自由，难道不是另一种形式的奴役吗？"
      ]
    },
    "apex" : {
      "default" : [
        "叛军士兵正在渗透！警告！",
        "你一定是反叛者的人！",
        "你将会迅速死去，反叛者！",
        "你们的暴动很快就会失败的，反叛者！",
        "反叛者正在潜入！",
        "叛乱者！不要以为你能击败我们！",
        "我看见你了，反叛者！",
        "死吧，反叛者！",
        "叛军士兵正在尝试潜入！",
        "你将不能活着离开这里，反叛者渣滓！",
        "警告！反叛者正在尝试潜入！"
      ]
    }
  }
}