{
  "attack" : {
    "default" : {
      "default" : [
        "入侵者！"
      ]
    },
    "novakid" : {
      "default" : [
        "射击练习时间！",
        "我会把你打成筛子！",
        "吃枪子吧！",
        "为什么我的枪不能装更多子弹？",
        "砰砰砰！",
        "我想要把更大的枪！",
        "滚回这，败类！我要杀了你！",
        "旅行者真是完美的练习靶啊!",
        "快点去死,追逐的游戏让我感觉无聊了。",
        "我的手枪能带来痛苦！",
        "我听不到你的尖叫！",
        "啊咕!我想要把大枪！",
        "瞬间爆炸，完成单杀！",
        "枪指向…敌人？说明书没写明白啊。",
        "人生是不一样的，特别是你手上没枪的时候！",
        "最后，一击毙命！"
      ]
    },
    "floran" : {
      "default" : [
        "我会击击击杀你！",
        "你逃不过我的视视视线！",
        "我会打得你浑身是洞洞洞，外外外来者！",
        "想躲过我的射射射击你还不够快快快！",
        "你躲不了我的！",
        "我占据地利，外外外来者！",
        "我的准头比你好，外外外来者！",
        "在这个隧隧隧道中你不可能幸幸幸存的！因为你是个外外外来者！"
      ]
    }
  }
}