{
  "stateTypes" : {
    "movement" : {
      "priority" : 0,
      "default" : "idle",

      "states" : {
        "idle" : {
          "frames" : 8,
          "mode" : "loop"
        },
        "spawn" : {
          "frames" : 16,
          "mode" : "transition",
          "transition" : "idleOpen"
        },
        "idleOpen" : {
          "frames" : 1
        },
        "close" : {
          "frames" : 8,
          "mode" : "transition",
          "transition" : "resetStart"
        },
        "resetStart" : {
          "frames" : 8,
          "mode" : "transition",
          "transition" : "reset"
        },
        "reset" : {
          "frames" : 8,
          "mode" : "transition",
          "transition" : "resetEnd"
        },
        "resetEnd" : {
          "frames" : 8,
          "mode" : "transition",
          "transition" : "idle"
        }
      }
    }
  },

  "partTypes" : {
    "body" : {
      "position" : [0, 0],
      "zlevel" : 0,
      "states" : {
        "movement" : {
          "idle" : "<base>:idle.<frame>",
          "spawn" : "<base>:spawn.<frame>",
          "idleOpen" : "<base>:close.1",
          "close" : "<base>:close.<frame>",
          "resetStart" : "<base>:resetStart.<frame>",
          "reset" : "<base>:reset.<frame>",
          "resetEnd" : "<base>:resetEnd.<frame>"
        }
      }
    }
  }
}
