{
  "onShowSound" : [
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/confirmation/header.png",
      "fileBody" : "/interface/confirmation/body.png",
      "fileFooter" : "/interface/confirmation/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/confirmation/shine.png",
      "position" : [0, 20],
      "zlevel" : -1
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Confirmation",
      "subtitle" : "",
      "size" : 12,
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "ok" : {
      "type" : "button",
      "base" : "/interface/popup/acceptup.png",
      "hover" : "/interface/popup/acceptover.png",
      "position" : [135, 38],
      "caption" : "Okay"
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/popup/declineup.png",
      "hover" : "/interface/popup/declineover.png",
      "position" : [55, 38],
      "caption" : "Cancel"
    },
    "message" : {
      "type" : "label",
      "position" : [10, 120],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 218,
      "lineSpacing" : 1.0,
      "value" : "",
      "color" : "white"
    }
  }
}
