{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "马纳提康", "罗提克", "呼牛", "格拉西斯", "夏立", "夏徳科", "死灵尼克斯", "泰克拉奇" ],
      [ { "mode" : "alts" }, "星", "冲击", "普赛", "暴动", "头骨", "海啸", "力量", "星系", "波", "月亮", "爪", "焦点", "结点", "月神", "破碎", "聚", "像素", "泰拉", "恒星", "风暴", "星球", "完美", "灵魂", "心", "山", "恐怖", "星云", "雨云", "天空", "天", "海洋", "以太", "现实", "物质", "光", "空", "聚变", "相", "黎明", "黄昏", "流", "气旋", "原子", "星芒", "彗星", "看守", "号叫", "脉冲" ],
      [ { "mode" : "alts" }, "锥子", "长枪", "矛", "棍", "粉碎", "通条", "穿刺机", "武装", "戟", "槊", "刺", "戳" ]
    ]
  ]
}
