{
  "newAssignmentDistance" : [200, 250],

  "bountyRanks" : [
    {
      "threshold" : 0,
      "description" : "Rank I: Hopeful Hunter",
      "icon" : "/interface/scripted/bountyboard/rank1.png",
      "systemTypes" : ["whitestar"],
      "bounties" : {
        "minorSpecial" : ["cyberspace", "minorMonster", "minorPlanet"],
        "minorPlanet" : ["minorMonster", "minorPlanet"],
        "minor" : ["minorMonster", "minorMonster", "minorPlanet", "minorSpace"],
        "major" : ["majorGang"],
        "capstone" : ["capstone1"]
      },
      "rewardMultipliers" : {
        "money" : 1.0,
        "rank" : 1.0
      }
    },
    {
      "threshold" : 115, // player has 150 after capstone
      "description" : "Rank II: Aspiring Apprehender",
      "icon" : "/interface/scripted/bountyboard/rank2.png",
      "systemTypes" : ["orangestar"],
      "bounties" : {
        "minorSpecial" : ["cyberspace", "minorMonster", "minorPlanet"],
        "minorPlanet" : ["minorMonster", "minorPlanet"],
        "minor" : ["minorMonster", "minorMonster", "minorPlanet", "minorSpace"],
        "major" : ["majorGang"],
        "capstone" : ["capstone2"]
      },
      "rewardMultipliers" : {
        "money" : 1.5,
        "rank" : 2.0
      }
    },
    {
      "threshold" : 330, // player has 400 after capstone
      "description" : "Rank III: Dependable Deputy",
      "icon" : "/interface/scripted/bountyboard/rank3.png",
      "systemTypes" : ["yellowstar"],
      "bounties" : {
        "minorSpecial" : ["cyberspace", "minorMonster", "minorPlanet"],
        "minorPlanet" : ["minorMonster", "minorPlanet"],
        "minor" : ["minorMonster", "minorMonster", "minorPlanet", "minorSpace"],
        "major" : ["majorGang"],
        "capstone" : ["capstone3"]
      },
      "rewardMultipliers" : {
        "money" : 2.0,
        "rank" : 4.0
      }
    },
    {
      "threshold" : 760, // player has 900 after capstone
      "description" : "Rank IV: Seasoned Sleuth",
      "icon" : "/interface/scripted/bountyboard/rank4.png",
      "systemTypes" : ["bluestar"],
      "bounties" : {
        "minorSpecial" : ["cyberspace", "minorMonster", "minorPlanet"],
        "minorPlanet" : ["minorMonster", "minorPlanet"],
        "minor" : ["minorMonster", "minorMonster", "minorPlanet", "minorSpace"],
        "major" : ["majorGang"],
        "capstone" : ["capstone4"]
      },
      "rewardMultipliers" : {
        "money" : 2.5,
        "rank" : 8.0
      }
    },
    {
      "threshold" : 1620, // player has 1900 after capstone
      "description" : "Rank V: Proven Peacekeeper",
      "icon" : "/interface/scripted/bountyboard/rank5.png",
      "systemTypes" : ["redstar"],
      "bounties" : {
        "minorSpecial" : ["cyberspace", "minorMonster", "minorPlanet"],
        "minorPlanet" : ["minorMonster", "minorPlanet"],
        "minor" : ["minorMonster", "minorMonster", "minorPlanet", "minorSpace"],
        "major" : ["majorGang"],
        "capstone" : ["majorCapstone"]
      },
      "rewardMultipliers" : {
        "money" : 3.0,
        "rank" : 16.0
      },
      "pointsToCapstone" : 1440
    }
  ],

  "finalAssignment" : {
    "description" : "Rank V: Proven Peacekeeper",
    "icon" : "/interface/scripted/bountyboard/rank5.png",
    "systemTypes" : ["redstar"],
    "gang" : {
      "name" : "Apocalyptic Occasus Cult",
      "hat" : "cultisthead",
      "species" : ["human"]
    },
    "bounties" : {
      "minorSpecial" : ["cyberspace", "minorMonster", "minorPlanet"],
      "minorPlanet" : ["minorMonster", "minorPlanet"],
      "minor" : ["minorMonster", "minorMonster", "minorPlanet", "minorSpace"],
      "major" : ["majorGang"],
      "capstone" : ["occasusCommander"]
    },
    "rewardMultipliers" : {
      "money" : 3.0,
      "rank" : 16.0
    },
    "pointsToCapstone" : 1440
  },

  "tutorialAssignment" : {
    "description" : "Rank I: Hopeful Hunter",
    "icon" : "/interface/scripted/bountyboard/rank1.png",
    "systemTypes" : ["whitestar"],
    "bounties" : {
      "minorSpecial" : ["cyberspace", "minorMonster", "minorPlanet"],
      "minorPlanet" : ["minorMonster", "minorPlanet"],
      "minor" : ["minorMonster", "minorMonster", "minorPlanet", "minorSpace"],
      "major" : ["majorGang"],
      "capstone" : ["tutorialCapstone"]
    },
    "gang" : {
      "name" : "Rowdy Peace Disturbers",
      "hat" : "grouchohead"
    },
    "rewardMultipliers" : {
      "money" : 1.0,
      "rank" : 1.0
    },
    "pointsToCapstone" : 0
  },

  "bountyTypes" : {
    // minors
    "minorMonster" : {
      "poster" : "minor",
      "questConfig" : {
        "arcType" : "minor",
        "targetType" : "monster",
        "preBountyQuest" : "pre_bounty_minor_monster",
        "questCategories" : ["planet"],
        "rewards" : {
          "money" : 350,
          "rank" : 5,
          "credits" : 1
        }
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "posterColor" : "minorColor"
      }
    },
    "minorPlanet" : {
      "poster" : "minor",
      "questConfig" : {
        "arcType" : "minor",
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty_minor_npc",
        "questCategories" : ["planet"],
        "rewards" : {
          "money" : 350,
          "rank" : 5,
          "credits" : 1
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "posterColor" : "minorColor"
      }
    },
    "minorSpace" : {
      "poster" : "minor",
      "questConfig" : {
        "arcType" : "minor",
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty_minor_npc",
        "questCategories" : ["anomaly", "ship"],
        "rewards" : {
          "money" : 350,
          "rank" : 5,
          "credits" : 1
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "posterColor" : "minorColor"
      }
    },

    // special minor bounties
    "cyberspace" : {
      "poster" : "minor",
      "questConfig" : {
        "arcType" : "major",
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty_minor_npc",
        "questCategories" : ["planet", "anomaly", "ship"],
        "endStep" : "cyberspace",
        "stepCount" : [1, 1],
        "rewards" : {
          "money" : 350,
          "rank" : 5,
          "credits" : 1
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "posterColor" : "minorColor"
      }
    },
    "fuel_bounty" : {
      "poster" : "minor",
      "questConfig" : {
        "arcType" : "major",
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty_minor_npc",
        "questCategories" : ["planet", "anomaly", "ship"],
        "endStep" : "fuel_bounty",
        "stepCount" : [1, 1],
        "rewards" : {
          "money" : 350,
          "rank" : 5,
          "credits" : 1
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "posterColor" : "minorColor"
      }
    },

    // majors
    "majorGang" : {
      "poster" : "major",
      "questConfig" : {
        "arcType" : "major",
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty",
        "questCategories" : ["planet", "anomaly", "ship"],
        "rewards" : {
          "money" : 1000,
          "rank" : 25,
          "credits" : 3
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "captureType" : "majorText",
        "posterColor" : "majorColor"
      }
    },
    "majorCapstone" : {
      "poster" : "major",
      "questConfig" : {
        "arcType" : "major",
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty",
        "questCategories" : ["planet", "anomaly", "ship"],
        "endStep" : "capture_bounty",
        "stepCount" : [1, 1],
        "rewards" : {
          "money" : 1000,
          "rank" : 25,
          "credits" : 5
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "captureType" : "capstoneText",
        "posterColor" : "majorColor"
      }
    },

    // capstones
    "capstone1" : {
      "poster" : "major",
      "questConfig" : {
        "arcType" : "major",
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty_capstone",
        "questCategories" : ["planet", "anomaly", "ship"],
        "endStep" : "capstone_1",
        "stepCount" : [1, 1],
        "rewards" : {
          "money" : 2500,
          "rank" : 25,
          "credits" : 5
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "captureType" : "capstoneText",
        "posterColor" : "majorColor"
      }
    },
    "capstone2" : {
      "poster" : "major",
      "questConfig" : {
        "arcType" : "major",
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty_capstone",
        "questCategories" : ["planet", "anomaly", "ship"],
        "endStep" : "capstone_2",
        "stepCount" : [1, 1],
        "rewards" : {
          "money" : 2500,
          "rank" : 25,
          "credits" : 5
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "captureType" : "capstoneText",
        "posterColor" : "majorColor"
      }
    },
    "capstone3" : {
      "poster" : "major",
      "questConfig" : {
        "arcType" : "major",
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty_capstone",
        "questCategories" : ["planet", "anomaly", "ship"],
        "endStep" : "capstone_3",
        "stepCount" : [1, 1],
        "rewards" : {
          "money" : 2500,
          "rank" : 25,
          "credits" : 5
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "captureType" : "capstoneText",
        "posterColor" : "majorColor"
      }
    },
    "capstone4" : {
      "poster" : "major",
      "questConfig" : {
        "arcType" : "major",
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty_capstone",
        "questCategories" : ["planet", "anomaly", "ship"],
        "endStep" : "capstone_4",
        "stepCount" : [1, 1],
        "rewards" : {
          "money" : 2500,
          "rank" : 25,
          "credits" : 5
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "captureType" : "capstoneText",
        "posterColor" : "majorColor"
      }
    },
    "occasusCommander" : {
      "poster" : "major",
      "questConfig" : {
        "arcType" : "major",
        "target" : {
          "type" : "monster",
          "name" : "Asra Nox",
          "monster" : {
            "monsterType" : "cultistboss",
            "parameters" : {
              "shortdescription" : "Asra Nox"
            }
          },
          "portraitCenter" : [0.0, 0.0],
          "portraitScale" : 1.0
        },
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty",
        "questCategories" : ["planet", "anomaly", "ship"],
        "stepCount" : [3, 3],
        "endStep" : "cultist_mission",
        "rewards" : {
          "money" : 2500,
          "rank" : 25,
          "credits" : 10
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "captureType" : "capstoneText",
        "posterColor" : "majorColor"
      }
    },
    "tutorialCapstone" : {
      "poster" : "major",
      "questConfig" : {
        "arcType" : "major",
        "target" : {
          "type" : "npc",
          "name" : "Captain Ignoble",
          "species" : "novakid",
          "typeName" : "ignobletarget",
          "parameters" : {}
        },
        "targetType" : "npc",
        "preBountyQuest" : "pre_bounty",
        "questCategories" : ["planet"],
        "stepCount" : [2, 2],
        "endStep" : "tutorial_bounty",
        "rewards" : {
          "money" : 50,
          "rank" : 25,
          "credits" : 1
        },
        "useGang" : true
      },
      "randomTags" : {
        "wantedImage" : "wantedImage",
        "captureType" : "capstoneText",
        "posterColor" : "majorColor"
      }
    }
  }
}