{
  "npc" : {
    "type" : "npc",
    "species" : [ "human", "hylotl", "avian", "glitch", "novakid", "apex", "floran" ],
    "typeName" : "bountytarget",
    "parameters" : {}
  },

  "behaviorModifiers" : {
    "scared" : [
      {
        "type" : "notification",
        "behavior" : { "name" : "bounty-flee" }
      }
    ],
    "crazy" : [
      {
        "type" : "notification",
        "behavior" : { "name" : "bounty-crazy" }
      }
    ],
    "deceptive" : [
      {
        "type" : "notification",
        "behavior" : { "name" : "bounty-disguise-capture" }
      }
    ],
    "tricky" : [
      {
        "type" : "notification",
        "behavior" : { "name" : "bounty-trick" }
      }
    ],
    "bribe" : [
      {
        "type" : "notification",
        "behavior" : { "name" : "bounty-bribe" }
      }
    ]
  },

  "prefix" : [
    "Evil ",
    "Rowdy ",
    "Tricky ",
    "Speedy ",
    "Shady ",
    "Nasty ",
    "Reckless ",
    "Slippery ",
    "Killer ",
    "Screamin' ",
    "Sniper ",
    "Calamity ",
    "Grimey ",
    "Quiet ",
    "Slick ",
    "Stormin' ",
    "Two-gun ",
    "Sneaky ",
    "Smooth ",
    "Chief ",
    "Hot-wire ",
    "Shootin' ",
    "Mayhem ",
    "Sulky ",
    "Fast ",
    "Moderate ",
    "Big ",
    "Tiny ",
    "General ",
    "Doctor ",
    "Professor ",
    "Captain ",
    "Jolly ",
    "Master ",
    "The Great ",
    "Pink ",
    "Rude ",
    "Slicin' ",
    "Lonely ",
    "Original ",
    "Improved ",
    "Fresh ",
    "Dangerous ",
    "Funny ",
    "Two-hand ",
    "Quick Draw ",
    "Turbo ",
    "Icy ",
    "Wild ",
    "Mad ",
    "Talented ",
    "Radical ",
    "Chaotic "
  ],

  "suffix" : [
    " the Mangler",
    " the Good",
    " the Bad",
    " the Ugly",
    " the Weird",
    " the Fixer",
    " the Sparrow",
    " the Squealer",
    " the Kid",
    " the Shadow",
    " the Great",
    " the Rat",
    " the Snitch",
    " the Brute",
    " the Jerk",
    " the Machine",
    " the Enigma",
    " the Deadeye",
    " the Frontman",
    " the Showstopper",
    " the Rogue",
    " the Hacker",
    " the Operator",
    " the Muscle",
    " the Ace",
    " the Fox",
    " Slimez",
    " Hawkins",
    " Tight-lips",
    " Hammer",
    " Papercut",
    " Gruber",
    " Quick",
    " Slick",
    " Esquire",
    " Grey",
    " Lecter",
    " Soze",
    " Wrench",
    " Shot",
    " Wolf",
    " Hackerman",
    " Jones",
    " Incognito",
    " Dagger",
    " Chaos"
  ]
}
