{
  "nameSource" : "/quests/bounty/monsternamegen.config:names",

	"monsters" : {
    "poisonnutmidge" : {
      "portraitCenter" : [0.0, -0.5],
      "portraitScale" : 1
    },
    "albinopoptop" : {
      "portraitCenter" : [0.0, 0.0],
      "portraitScale" : 1.0
    },
    "albinoadultpoptop" : {
      "portraitCenter" : [-1.0, -1.0],
      "portraitScale" : 1.0
    },
    "icecrustoise" : {
      "portraitCenter" : [0.0, 0.5],
      "portraitScale" : 1
    },
    "electrictintic" : {
      "portraitCenter" : [-0.25, 0.0],
      "portraitScale" : 1
    },
    "poisonbatong" : {
      "portraitCenter" : [0.0, 1.375],
      "portraitScale" : 1
    },
    "firespookit" : {
      "portraitCenter" : [0.0, 0.0],
      "portraitScale" : 1
    },
    "icepeblit" : {
      "portraitCenter" : [0.0, 0.25],
      "portraitScale" : 1
    },
    "iceiguarmor" : {
      "portraitCenter" : [-0.5, 0.5],
      "portraitScale" : 1
    },
    "poisonscaveran" : {
      "portraitCenter" : [-0.75, 0.625],
      "portraitScale" : 1
    },
    "electricvoltip" : {
      "portraitCenter" : [-0.25, 0.0],
      "portraitScale" : 1
    },
    "icefennix" : {
      "portraitCenter" : [-0.5, 0.0],
      "portraitScale" : 1
    },
    "firelilodon" : {
      "portraitCenter" : [-0.25, 0.0],
      "portraitScale" : 1
    },
    "electricpetricub" : {
      "portraitCenter" : [0.0, 0.0],
      "portraitScale" : 1
    },
    "electricquagmutt" : {
      "portraitCenter" : [0.0, 0.25],
      "portraitScale" : 1
    },
    "poisonparatail" : {
      "portraitCenter" : [0.0, 1.0],
      "portraitScale" : 1
    },
    "firewisper" : {
      "portraitCenter" : [-0.125, 0.625],
      "portraitScale" : 1
    },
    "electricskimbus" : {
      "portraitCenter" : [-0.25, 0.375],
      "portraitScale" : 1
    },
    "poisonpulpin" : {
      "portraitCenter" : [-0.125, 0.5],
      "portraitScale" : 1
    },
    "electriccapricoat" : {
      "portraitCenter" : [-0.5, 0.0],
      "portraitScale" : 1
    },
    "iceringram" : {
      "portraitCenter" : [0.0, 0.5],
      "portraitScale" : 1
    },
    "firebobot" : {
      "portraitCenter" : [-0.125, -0.25],
      "portraitScale" : 1
    },
    "poisonpipkin" : {
      "portraitCenter" : [0.0, 1.0],
      "portraitScale" : 1
    },
    "firemonopus" : {
      "portraitCenter" : [-0.25, 0.5],
      "portraitScale" : 1
    },
    "icesnaggler" : {
      "portraitCenter" : [-0.5, 0.0],
      "portraitScale" : 1
    },
    "fireoculob" : {
      "portraitCenter" : [-0.25, 0.0],
      "portraitScale" : 1
    },
    "icemiasmop" : {
      "portraitCenter" : [-0.25, 0.75],
      "portraitScale" : 1
    },
    "poisonsporgus" : {
      "portraitCenter" : [-0.25, 0.5],
      "portraitScale" : 1
    },
    "iceagrobat" : {
      "portraitCenter" : [0.0, 1.0],
      "portraitScale" : 1
    },
    "firesqueem" : {
      "portraitCenter" : [0.0, 0.0],
      "portraitScale" : 1
    },
    "electricsnaunt" : {
      "portraitCenter" : [-0.125, 0.0],
      "portraitScale" : 1
    },
    "firepteropod" : {
      "portraitCenter" : [-0.25, 0.875],
      "portraitScale" : 1
    },
    "electriccrutter" : {
      "portraitCenter" : [0.0, 0.0],
      "portraitScale" : 1
    },
    "poisonsnuffish" : {
      "portraitCenter" : [0.0, 0.375],
      "portraitScale" : 1
    },
    "icecrabcano" : {
      "portraitCenter" : [0.0, 0.5],
      "portraitScale" : 1
    },
    "poisonpyromantle" : {
      "portraitCenter" : [0.0, 0.375],
      "portraitScale" : 1
    },
    "electricignome" : {
      "portraitCenter" : [0.0, 0.5],
      "portraitScale" : 1
    },
    "poisonsmoglin" : {
      "portraitCenter" : [-1.5, -0.75],
      "portraitScale" : 1
    },
    "electricanglure" : {
      "portraitCenter" : [0.0, 0.0],
      "portraitScale" : 1
    },
    "firelumoth" : {
      "portraitCenter" : [0.0, 1.375],
      "portraitScale" : 1
    },
    "fireoogler" : {
      "portraitCenter" : [-1.0, -0.75],
      "portraitScale" : 1
    },
    "icenarfin" : {
      "portraitCenter" : [-0.5, 0.0],
      "portraitScale" : 1
    },
    "firetoumingo" : {
      "portraitCenter" : [-0.25, -0.25],
      "portraitScale" : 1
    },
    "poisontrictus" : {
      "portraitCenter" : [-0.25, 0.0],
      "portraitScale" : 1
    },
    "poisonmandraflora" : {
      "portraitCenter" : [-0.5, 0.0],
      "portraitScale" : 1
    },
    "poisonbulbop" : {
      "portraitCenter" : [0.0, 0.875],
      "portraitScale" : 1
    },
    "icehypnare" : {
      "portraitCenter" : [0.0, 0.0],
      "portraitScale" : 1
    },
    "electricyokat" : {
      "portraitCenter" : [-0.25, -0.25],
      "portraitScale" : 1
    },
    "iceorbide" : {
      "portraitCenter" : [-0.5, -0.375],
      "portraitScale" : 1
    },
    "firetaroni" : {
      "portraitCenter" : [-0.25, -0.25],
      "portraitScale" : 1
    },
    "electrichemogoblin" : {
      "portraitCenter" : [-0.5, 0.0],
      "portraitScale" : 1
    },
    "poisonbobfae" : {
      "portraitCenter" : [-0.25, 0.5],
      "portraitScale" : 1
    },
    "firegosmet" : {
      "portraitCenter" : [-0.6, 0.5],
      "portraitScale" : 1
    }
  }
}
