{
  "beamout" : {
    "npc" : {
      "typeName" : "gangmember"
    },
    "behaviorOverrides" : [
      {
        "type" : "notification",
        "behavior" : {
          "name" : "bounty-beamout",
          "parameters" : {
            "quest" : "<questId>",
            "dialog" : "/quests/bounty/clue_bounties.config:beamout.clues.<clueType>.dialog"
          }
        }
      }
    ],
    "clues" : {
      "planetBounty" : {
        "dialog" : {
          "beamout" : {
            "default" : {
              "default" : [
                "I've been found - beam me up, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "The Peacekeepers are here! I better make my way to ^orange;<next.coordinate.name>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "avian" : {
              "default" : [
                "I've been found - beam me out, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "I've been spotted - time to fly! I better make my way to ^orange;<next.coordinate.name>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "apex" : {
              "default" : [
                "My position is compromised - beam me out, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "Alert! I've been spotted! Proceeding to ^orange;<next.coordinate.name>^reset;!",
                "<randomName>, beam me out! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "hylotl" : {
              "default" : [
                "They have found me - beam me out, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "Uh-oh, I've been spotted! better make my way to ^orange;<next.coordinate.name>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "floran" : {
              "default" : [
                "Time for Floran to essscape to ^orange;<next.coordinate.name>^reset;!",
                "Floran isss going to ^orange;<next.coordinate.name>^reset;!",
                "Floran needsss to fly to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "glitch" : {
              "default" : [
                "Worried. I've been found - beam me out, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "Panicked. I have been spotted! better make my way to ^orange;<next.coordinate.name>^reset;!",
                "Worried. <randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "novakid" : {
              "default" : [
                "I ain't gettin' caught this easily - beam me out, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "Dagnabbit, I've been spotted! better make my way to ^orange;<next.coordinate.name>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my trail! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            }
          }
        },
        "message" : "Well, I guess they just told us exactly where they're goin'. You'd better make your way on over to ^green;<next.coordinate.name>^reset;."
      },
      "shipBounty" : {
        "dialog" : {
          "beamout" : {
            "default" : {
              "default" : [
                "I've been found - beam me up, <randomName>! Where? To ^orange;<next.coordinate.systemName>^reset;, of course!",
                "The Peacekeepers are here! I better make my way to ^orange;<next.coordinate.systemName>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.systemName>^reset;!"
              ]
            },
            "avian" : {
              "default" : [
                "I've been found - beam me out, <randomName>! Where? To ^orange;<next.coordinate.systemName>^reset;, of course!",
                "I've been spotted - time to fly! I better make my way to ^orange;<next.coordinate.systemName>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.systemName>^reset;!"
              ]
            },
            "apex" : {
              "default" : [
                "My position is compromised - beam me out, <randomName>! Where? To ^orange;<next.coordinate.systemName>^reset;, of course!",
                "Alert! I've been spotted! Proceeding to ^orange;<next.coordinate.systemName>^reset;!",
                "<randomName>, beam me out! Take me to ^orange;<next.coordinate.systemName>^reset;!"
              ]
            },
            "hylotl" : {
              "default" : [
                "They have found me - beam me out, <randomName>! Where? To ^orange;<next.coordinate.systemName>^reset;, of course!",
                "Uh-oh, I've been spotted! better make my way to ^orange;<next.coordinate.systemName>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.systemName>^reset;!"
              ]
            },
            "floran" : {
              "default" : [
                "Time for Floran to essscape to ^orange;<next.coordinate.systemName>^reset;!",
                "Floran isss going to ^orange;<next.coordinate.systemName>^reset;!",
                "Floran needsss to fly to ^orange;<next.coordinate.systemName>^reset;!"
              ]
            },
            "glitch" : {
              "default" : [
                "Worried. I've been found - beam me out, <randomName>! Where? To ^orange;<next.coordinate.systemName>^reset;, of course!",
                "Panicked. I have been spotted! better make my way to ^orange;<next.coordinate.systemName>^reset;!",
                "Worried. <randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.systemName>^reset;!"
              ]
            },
            "novakid" : {
              "default" : [
                "I ain't gettin' caught this easily - beam me out, <randomName>! Where? To ^orange;<next.coordinate.systemName>^reset;, of course!",
                "Dagnabbit, I've been spotted! better make my way to ^orange;<next.coordinate.systemName>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my trail! Take me to ^orange;<next.coordinate.systemName>^reset;!"
              ]
            }
          }
        },
        "message" : "Mighty convenient that the target told us where they're goin'! You'd better make your way on over to ^green;<next.coordinate.systemName>^reset;."
      },
      "scan" : {
        "dialog" : {
          "beamout" : {
            "default" : {
              "default" : [
                "I've been found - beam me up, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "The Peacekeepers are here! I better make my way to ^orange;<next.coordinate.name>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "avian" : {
              "default" : [
                "I've been found - beam me out, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "I've been spotted - time to fly! I better make my way to ^orange;<next.coordinate.name>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "apex" : {
              "default" : [
                "My position is compromised - beam me out, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "Alert! I've been spotted! Proceeding to ^orange;<next.coordinate.name>^reset;!",
                "<randomName>, beam me out! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "hylotl" : {
              "default" : [
                "They have found me - beam me out, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "Uh-oh, I've been spotted! better make my way to ^orange;<next.coordinate.name>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "floran" : {
              "default" : [
                "Time for Floran to essscape to ^orange;<next.coordinate.name>^reset;!",
                "Floran isss going to ^orange;<next.coordinate.name>^reset;!",
                "Floran needsss to fly to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "glitch" : {
              "default" : [
                "Worried. I've been found - beam me out, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "Panicked. I have been spotted! better make my way to ^orange;<next.coordinate.name>^reset;!",
                "Worried. <randomName>, beam me out! There's a Peacekeeper on my tail! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "novakid" : {
              "default" : [
                "I ain't gettin' caught this easily - beam me out, <randomName>! Where? To ^orange;<next.coordinate.name>^reset;, of course!",
                "Dagnabbit, I've been spotted! better make my way to ^orange;<next.coordinate.name>^reset;!",
                "<randomName>, beam me out! There's a Peacekeeper on my trail! Take me to ^orange;<next.coordinate.name>^reset;!"
              ]
            }
          }
        },
        "message" : "Criminals sure do love to talk loudly about their plans! You'd better make your way on over to ^green;<next.coordinate.name>^reset;."
      }
    }
  },
  "disguise" : {
    "npc" : {
      "type" : "bounty",
      "parameters" : {
        "behavior" : "villager",
        "damageTeamType" : "friendly"
      }
    },
    "behaviorOverrides" : [
      {
        "type" : "notification",
        "behavior" : {
          "name" : "bounty-disguise",
          "parameters" : {
            "quest" : "<questId>",
            "dialog" : "/quests/bounty/clue_bounties.config:disguise.clues.<clueType>.dialog"
          }
        }
      }
    ],
    "clues" : {
      "diversion" : {
        "dialog" : {
          "interact" : {
            "default" : {
              "default" : [
                "You're looking for the infamous and attractive <bounty.name>? I hear they've been hanging around ^orange;<next.coordinate.name>^reset;.",
                "Are you searching for <bounty.name>, famous bad guy? Word on the street is that they were last seen on ^orange;<next.coordinate.name>^reset;!",
                "You're looking for <bounty.name>? I've heard of them! From what I am told, you might see them around ^orange;<next.coordinate.name>^reset;.",
                "Are you the Peacekeeper looking for <bounty.name>? Well luckily I can help you out - they're on ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "avian" : {
              "default" : [
                "You're looking for <bounty.name>? I hear they've been hanging around ^orange;<next.coordinate.name>^reset;.",
                "Are you lookin' for that notorious criminal, <bounty.name>? Word on the street is that they were last seen on ^orange;<next.coordinate.name>^reset;!",
                "You're looking for <bounty.name>? I've heard of them! From what I am told, you might see them around ^orange;<next.coordinate.name>^reset;.",
                "Are you the Peacekeeper looking for <bounty.name>? Well luckily I can help you out - they're on ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "apex" : {
              "default" : [
                "I hear a lot of gossip - you're looking for <bounty.name>? I hear they've been hanging around ^orange;<next.coordinate.name>^reset;.",
                "Are you lookin' for that notorious criminal, <bounty.name>? Word on the street is that they were last seen on ^orange;<next.coordinate.name>^reset;!",
                "You're looking for <bounty.name>? I've heard of them! From what I am told, you might see them around ^orange;<next.coordinate.name>^reset;.",
                "Are you the Peacekeeper looking for <bounty.name>? Well luckily I can help you out - they're on ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "hylotl" : {
              "default" : [
                "<bounty.name>? I've encountered that fiend on my travels. I last saw them around ^orange;<next.coordinate.name>^reset;.",
                "Are you lookin' for that notorious criminal, <bounty.name>? Word on the street is that they were last seen on ^orange;<next.coordinate.name>^reset;!",
                "You're looking for <bounty.name>? I may know of their whereabouts! From what I am told, you might see them around ^orange;<next.coordinate.name>^reset;.",
                "Are you the Peacekeeper looking for <bounty.name>? Well luckily I can help you out - they're on ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran hasss seen criminal! Floran sssaw them on ^orange;<next.coordinate.name>^reset;.",
                "Floran hasss seen <bounty.name>! Floran sssaw them on ^orange;<next.coordinate.name>^reset;.",
                "Floran knowssss where crime perssson isss! Crime perssson is on ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "glitch" : {
              "default" : [
                "Helpful. I have seen that scoundrel you're looking for. I would never forget a face like that! I hear they've been hanging around ^orange;<next.coordinate.name>^reset;.",
                "Helpful. Are you looking for that infamous vagabond, <bounty.name>? Word on the street is that they were last seen on ^orange;<next.coordinate.name>^reset;!",
                "Helpful. You're looking for <bounty.name>? I've heard of them! From what I am told, you might see them around ^orange;<next.coordinate.name>^reset;.",
                "Helpful. Are you the Peacekeeper looking for <bounty.name>? Well luckily I can help you out - they're on ^orange;<next.coordinate.name>^reset;!"
              ]
            },
            "novakid" : {
              "default" : [
                "I've seen that vagabond you're looking for - I got an eye for wrongdoers. I hear they've been hanging around ^orange;<next.coordinate.name>^reset;.",
                "Are you lookin' for that famous wrongdoer, <bounty.name>? Word around the saloon is that they were last seen on ^orange;<next.coordinate.name>^reset;!",
                "You're lookin' for <bounty.name>? I've heard o' them! From what I hear, you might see them around ^orange;<next.coordinate.name>^reset;.",
                "Are you the Peacekeeper lookin' for <bounty.name>? Lucky for you, I can help you out - they're on ^orange;<next.coordinate.name>^reset;!"
              ]
            }
          }
        },
        "message" : "What a helpful member of the galactic public! Looks like you have your next destination - ^orange;<next.coordinate.name>^reset;!"
      }
    }
  }
}
