{
	"bunkerconsole2" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine tip-off if I ever heard one!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location?! Roll yer wagon over to ^green;<next.coordinate.name>^reset;, before it's too late!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The perp must have a space hideout in the ^green;<next.coordinate.name>^reset; system... You know what to do!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : ">QUERY: [LOCATION] ^green;<next.coordinate.systemName>^reset; [VAULT.CODE] ^green;<password>^reset;",
      "message" : "The code is <password>! Let's get back to that vault, partner!"
    }
  },
  "lunarbaseconsole" : {
    "planetClue" : {
      "dialog" : ">QUERY RETURNED: The most recent delivery was from ^green;<next.coordinate.name>^reset;",
      "message" : "You heard the computer! You need to roll on down to ^green;<next.coordinate.name>^reset;!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The time is now, partner!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : ">INFORMATION: The ^green;<next.coordinate.systemName>^reset; Vault Code = ^green;<password>^reset;",
      "message" : "The code is <password>! You better go back to that vault, partner!"
    }
  },
  "stationconsole" : {
    "planetClue" : {
      "dialog" : ">REQUEST: The [HIDEOUT] is [CONFIRMED] to be at ^green;<next.coordinate.name>^reset;",
      "message" : "Mighty fine work, partner! Did they teach yer computer hackin' back on Earth? Better head to ^green;<next.coordinate.name>^reset;!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : ">VAULT LOCATION: ^green;<next.coordinate.systemName>^reset; Vault Code ^green;<password>^reset; is set to expire in [999] Days",
      "message" : "Who would have guessed that the vault code is <password>? You better go back to that vault, partner!"
    }
  },
  "industrialcomputer" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? This trail is hotter than my desire for justice!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : ">QUERY: [LOCATION] ^green;<next.coordinate.systemName>^reset; [VAULT.CODE] ^green;<password>^reset;",
      "message" : "The code is <password>! Let's get back to that vault, partner!"
    }
  },
  "industrialdisplay" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine lead, doesn't it?"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : ">QUERY: [LOCATION] ^green;<next.coordinate.systemName>^reset; [VAULT.CODE] ^green;<password>^reset;",
      "message" : "The code is <password>! Let's get back to that vault, partner!"
    }
  },
  "tier3switch" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine tip-off if I ever heard one!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : ">QUERY: [LOCATION] ^green;<next.coordinate.systemName>^reset; [VAULT.CODE] ^green;<password>^reset;",
      "message" : "The code is <password>! Let's get back to that vault, partner!"
    }
  },
  "tier4switch" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine tip-off if I ever heard one!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : ">INFORMATION: The ^green;<next.coordinate.systemName>^reset; Vault Code = ^green;<password>^reset;",
      "message" : "The code is <password>! You better go back to that vault, partner!"
    }
  },
  "tier5switch" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine tip-off if I ever heard one!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : ">IT'S ME, THE COMPUTER: ^green;<next.coordinate.systemName>^reset; Vault Code = ^green;<password>^reset;",
      "message" : "The code is <password>? Thanks, computer! You better go back to that vault, partner!"
    }
  },
  "tier6switch" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine tip-off if I ever heard one!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : ">INFORMATION: The ^green;<next.coordinate.systemName>^reset; Vault Code = ^green;<password>^reset;",
      "message" : "The code is <password>! You better go back to that vault, partner!"
    }
  },
  "outpostsecurityconsole" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? You better head on over, partner!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : ">COMPUTER WORDS: ^green;<next.coordinate.systemName>^reset; Vault Code = ^green;<password>^reset;",
      "message" : "The code is <password>! You better go back to that vault, partner!"
    }
  },
  "apexconsole1" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine tip-off if I ever heard one!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : "[BEEP BOOP] The ^green;<next.coordinate.systemName>^reset; Vault Code = ^green;<password>^reset; [BEEP BOOP]",
      "message" : "The code is <password>! You better go back to that vault, partner!"
    }
  },
  "outpostconsole" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine tip-off if I ever heard one!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : "[BEEP BOOP] The ^green;<next.coordinate.systemName>^reset; Vault Code = ^green;<password>^reset; [BEEP BOOP]",
      "message" : "The code is <password>! You better go back to that vault, partner!"
    }
  },
  "officecomputer" : {
    "planetClue" : {
      "dialog" : ">PREVIOUS DELIVERY LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine tip-off if I ever heard one!"
    },
    "planetBounty" : {
      "dialog" : ">INFORMATION REQUEST: <bounty.name> is currently residing on ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">CLASSIFIED SYSTEM NAME: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [CONFIRMED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : "[LOGIN_COMPLETE] The ^green;<next.coordinate.systemName>^reset; Vault Code = ^green;<password>^reset; [BEEP BOOP]",
      "message" : "The code is <password>! You better go back to that vault, partner!"
    }
  },
  "darkcomputer" : {
    "tutorial" : {
      "dialog" : "<bounty.name> is [LOCATED] on [PLANET] ^green;<next.coordinate.name>^reset;"
    },
    "planetClue" : {
      "dialog" : "[QUERY_LOCATION] COMPLETE: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine tip-off if I ever heard one!"
    },
    "planetBounty" : {
      "dialog" : ">USER: ^green;<bounty.name>^reset; >LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">HIDEOUT_SYSTEM LOCATION: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [LOCATED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : "[WELCOME_NEW_USER] The ^green;<next.coordinate.systemName>^reset; Vault Code = ^green;<password>^reset; [BEEP BOOP]",
      "message" : "The code is <password>! You better go back to that vault, partner!"
    }
  },
  "astroconsole" : {
    "tutorial" : {
      "dialog" : "<bounty.name> is [LOCATED] on [PLANET] ^green;<next.coordinate.name>^reset;"
    },
    "planetClue" : {
      "dialog" : "[QUERY_LOCATION] COMPLETE: ^green;<next.coordinate.name>^reset;",
      "message" : "^green;<next.coordinate.name>^reset;? That sounds like a mighty fine tip-off if I ever heard one!"
    },
    "planetBounty" : {
      "dialog" : ">USER: ^green;<bounty.name>^reset; >LOCATION: ^green;<next.coordinate.name>^reset;",
      "message" : "You found the target's location? You better trek on over to ^green;<next.coordinate.name>^reset;!"
    },
    "spaceClue" : {
      "dialog" : ">HIDEOUT_SYSTEM LOCATION: ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target must have intel hidin' in the ^green;<next.coordinate.name>^reset; system... The trail is still hot!"
    },
    "spaceBounty" : {
      "dialog" : "<bounty.name> is [LOCATED] in [SYSTEM] ^green;<next.coordinate.systemName>^reset;",
      "message" : "The target is hidin' out somewhere in space over in ^green;<next.coordinate.name>^reset;. You know what to do, partner!"
    },
    "vaultClue" : {
      "dialog" : "[WELCOME_NEW_USER] The ^green;<next.coordinate.systemName>^reset; Vault Code = ^green;<password>^reset; [BEEP BOOP]",
      "message" : "The code is <password>! You better go back to that vault, partner!"
    }
  }
}