{
  "scanclue1" : {
    "tutorial" : {
      "description" : "^#60b8ea;[SIGNATURE TRACE COMPLETE: ^yellow;UPLOADING CO-ORDINATES^#60b8ea;]"
    },
    "planetClue" : {
      "description" : "^#60b8ea;[SIGNATURE TRACE COMPLETE: ^yellow;UPLOADING CO-ORDINATES^#60b8ea;]",
      "message" : "Your ^orange;Matter Manipulator^white; has a trace on one of <bounty.name>'s goons! They are currently on <next.coordinate.name>!"
    },
    "planetBounty" : {
      "description" : "^#60b8ea;[DNA SAMPLE CONFIRMED: ^yellow;UPLOADING CO-ORDINATES^#60b8ea;]",
      "message" : "Your ^orange;Matter Manipulator^white; has a lock on <bounty.name>! Their signature trace leads to a planet in <next.coordinate.systemName>. Head on over to <next.coordinate.name>!"
    },
    "spaceClue" : {
      "description" : "^#60b8ea;[DNA SAMPLE CONFIRMED: ^yellow;UPLOADING CO-ORDINATES^#60b8ea;]",
      "message" : "Your ^orange;Matter Manipulator^white; has a trace on one of <bounty.name>'s henchmen! They currently appear to be on a station in <next.coordinate.systemName>!"
    },
    "spaceBounty" : {
      "description" : "^#60b8ea;[SIGNATURE TRACE COMPLETE: ^yellow;UPLOADING CO-ORDINATES^#60b8ea;]",
      "message" : "Your ^orange;Matter Manipulator^white; has traced <bounty.name>'s signature! It seems to lead to a remote station in <next.coordinate.systemName>!"
    }
  },
  "scanclue2" : {
    "tutorial" : {
      "description" : "^#60b8ea;[SIGNATURE TRACE COMPLETE: ^yellow;UPLOADING CO-ORDINATES^#60b8ea;]"
    },
    "planetClue" : {
      "description" : "^#60b8ea;[SIGNATURE TRACE COMPLETE: ^yellow;UPLOADING CO-ORDINATES^#60b8ea;]",
      "message" : "Your ^orange;Matter Manipulator^white; has a trace on one of <bounty.name>'s goons! They are currently on <next.coordinate.name>!"
    },
    "planetBounty" : {
      "description" : "^#60b8ea;[DNA SAMPLE CONFIRMED: ^yellow;UPLOADING CO-ORDINATES^#60b8ea;]",
      "message" : "Your ^orange;Matter Manipulator^white; has a lock on <bounty.name>! Their signature trace leads to a planet in <next.coordinate.systemName>. Head on over to <next.coordinate.name>!"
    },
    "spaceClue" : {
      "description" : "^#60b8ea;[DNA SAMPLE CONFIRMED: ^yellow;UPLOADING CO-ORDINATES^#60b8ea;]",
      "message" : "Your ^orange;Matter Manipulator^white; has a trace on one of <bounty.name>'s henchmen! They currently appear to be on a station in <next.coordinate.systemName>!"
    },
    "spaceBounty" : {
      "description" : "^#60b8ea;[SIGNATURE TRACE COMPLETE: ^yellow;UPLOADING CO-ORDINATES^#60b8ea;]",
      "message" : "Your ^orange;Matter Manipulator^white; has traced <bounty.name>'s signature! It seems to lead to a remote station in <next.coordinate.systemName>!"
    }
  }
}