{
  "audiodisc" : {
    "diversion" : [
      {
        "parameters" : {
          "radioMessages" : [
            "...Are you recording this? Good. <bounty.name> says there's been a change of plan...",
            "We're to head to <next.coordinate.name> instead! You got that?"
          ]
        },
        "message" : "Well that is a mighty fine lead! I think you need to hurry your hide over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...You ended up WHERE? No, didn't get you get the notice? We aren't meant to BE there anymore!",
            "Meet me at <next.coordinate.name> instead. We have Peacekeepers on our tail!"
          ]
        },
        "message" : "Looks like they're half a step ahead of us - but it's seemin' like we can catch 'em at <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And because of that, <bounty.name> is heading to <next.coordinate.name> instead, okay?",
            "...And don't leave a recording of this conversation behind by accident again!"
          ]
        },
        "message" : "It's just our luck that wrong-doers ain't so smart, huh? Y'all better head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And I just get lonely sometimes, you know? I find that recording myself talking makes me feel better.",
            "But enough of that, I need to meet up with <bounty.name> on <next.coordinate.name>."
          ]
        },
        "message" : "..Well, I guess that's a good enough lead. Sounds like <next.coordinate.name> is your next destination, partner!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And <bounty.name> really didn't believe me when I explained what happened with the Penguins...",
            "...So that's why I'm running late! I'll meet up with you at <next.coordinate.name>..."
          ]
        },
        "message" : "That's a tip-off if I ever heard one! I suppose you best be headin' to <next.coordinate.name>, next!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...Didn't you hear? We're being followed. We have to throw the Peacekeepers off the lead...",
            "...Bring the goods to <next.coordinate.name> instead..."
          ]
        },
        "message" : "They're slick, but they ain't slick enough to throw us off! Onward-bound to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And that's when I found this blank CD, so I thought I'd record my voice and see what I sound like...",
            "...My voice sounds super weird! Anyway, I'll bring the goods to <next.coordinate.name> now..."
          ]
        },
        "message" : "These varmints ain't too smart, are they? You better head to <next.coordinate.name>, partner!"
      }
    ],
    "planetClue" : [
      {
        "parameters" : {
          "radioMessages" : [
            "...Are you recording this? Good. <bounty.name> says there's been a change of plan...",
            "We're to head to <next.coordinate.name> instead! You got that?"
          ]
        },
        "message" : "Well that is a mighty fine lead! I think you need to hurry your hide over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...You ended up WHERE? No, didn't get you get the notice? We aren't meant to BE there anymore!",
            "Meet me at <next.coordinate.name> instead. We have Peacekeepers on our tail!"
          ]
        },
        "message" : "They're right - we're certainly on their tail! Seems like we can catch 'em at <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And because of that, <bounty.name> is heading to <next.coordinate.name> instead, okay?",
            "...And don't leave a recording of this conversation behind by accident again!"
          ]
        },
        "message" : "It's just our luck that wrong-doers ain't so smart, huh? Y'all better head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And I just get lonely sometimes, you know? I find that recording myself talking makes me feel better.",
            "But enough of that, I need to meet up with <bounty.name> on <next.coordinate.name>."
          ]
        },
        "message" : "...I didn't realise folks still used CDs! Looks like <next.coordinate.name> is your next destination, partner!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And <bounty.name> really didn't believe me when I explained the misunderstanding with the Miniknog...",
            "...So that's why I'm running late! I'll meet up with you at <next.coordinate.name>..."
          ]
        },
        "message" : "That's a tip-off if I ever heard one! I suppose you best be headin' to <next.coordinate.name> next!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...Didn't you hear? We're being followed. We have to throw the Peacekeepers off the lead...",
            "...Bring the goods to <next.coordinate.name> instead..."
          ]
        },
        "message" : "They're slick, but they ain't slick enough to throw us off! Onward-bound to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And that's when I found this blank CD, so I thought I'd record my voice and see what I sound like...",
            "...My voice sounds super weird! Anyway, I'll bring the goods to <next.coordinate.name> now..."
          ]
        },
        "message" : "I don't think we're dealin' with smart folks on this case. You better head to <next.coordinate.name>!"
      }
    ],
    "planetBounty" : [
      {
        "parameters" : {
          "radioMessages" : [
            "...Are you recording this? Good. <bounty.name> says there's been a change of plan...",
            "We're to head to <next.coordinate.name> instead! You got that?"
          ]
        },
        "message" : "Well that is a mighty fine lead! I think you need to hurry your hide over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...You ended up WHERE? No, didn't get you get the notice? We aren't meant to BE there anymore!",
            "Meet me at <next.coordinate.name> instead. We have Peacekeepers on our tail!"
          ]
        },
        "message" : "Looks like they're half a step ahead of us - but it's seemin' like we can catch 'em at <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And because of that, <bounty.name> is heading to <next.coordinate.name> instead, okay?",
            "...And don't leave a recording of this conversation behind by accident again!"
          ]
        },
        "message" : "It's just our luck that wrong-doers ain't so smart, huh? Y'all better head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And I'm scared of my feelings - because what if <bounty.name> Doesn't feel the same way about me? I AM just a lackey, afterall...",
            "Maybe I should confess my feelings to them on <next.coordinate.name>."
          ]
        },
        "message" : "..Well, I, uh, guess we have a lead. Sounds like <next.coordinate.name> is your next destination, partner!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And <bounty.name> really didn't buy that the Poptop ate all my paperwork...",
            "...So that's why I'm running late! I'll meet up with you at <next.coordinate.name>..."
          ]
        },
        "message" : "That's a tip-off if I ever heard one! I suppose you best be headin' to <next.coordinate.name>, next!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...Didn't you hear? We're being followed. We have to throw the Peacekeepers off the lead...",
            "...Bring the goods to <next.coordinate.name> instead..."
          ]
        },
        "message" : "They're slick, but they ain't slick enough to throw us off! Onward-bound to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And that's when I found this blank CD, so I thought I'd record my voice and see what I sound like...",
            "...My voice sounds super weird! Anyway, I'll bring the goods to <next.coordinate.name> now..."
          ]
        },
        "message" : "I don't think we're dealin' with sharp folks on this case. You better head to <next.coordinate.name>!"
      }
    ],
    "spaceBounty" : [
      {
        "parameters" : {
          "radioMessages" : [
            "...Are you recording this? Good. <bounty.name> says there's been a change of plan...",
            "We're to head to <next.coordinate.name> instead! You got that?"
          ]
        },
        "message" : "Well that is a mighty fine lead! I think you need to hurry your hide over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...You ended up WHERE? No, didn't get you get the notice? We aren't meant to BE there anymore!",
            "Meet me at <next.coordinate.name> instead. We have Peacekeepers on our tail!"
          ]
        },
        "message" : "Looks like they're half a step ahead of us - but it's seemin' like we can catch 'em at <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And because the smell wouldn't go away, <bounty.name> is heading to <next.coordinate.name> instead!",
            "...And don't leave a recording of this conversation behind by accident again!"
          ]
        },
        "message" : "It's just our luck that wrong-doers ain't so smart, huh? Y'all better head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And I just get lonely sometimes, you know? I find that recording myself talking makes me feel better.",
            "But enough of that, I need to meet up with <bounty.name> on <next.coordinate.name>."
          ]
        },
        "message" : "..Well, I guess that's a good enough lead. Sounds like <next.coordinate.name> is your next destination, partner!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And <bounty.name> wasn't happy about the coffee shortage, so I had to go and buy some...",
            "...So now I'm running late! I'll meet up with you at <next.coordinate.name>..."
          ]
        },
        "message" : "That's a tip-off if I ever heard one! I suppose you best be headin' to <next.coordinate.name>, next!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...Didn't you hear? We're being followed. We have to throw the Peacekeepers off the lead...",
            "...Bring the goods to <next.coordinate.name> instead..."
          ]
        },
        "message" : "They're slick, but they ain't slick enough to throw us off! Onward-bound to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And that's when I found this blank CD, so I thought I'd record my voice and see what I sound like...",
            "...This is what my voice sounds like? It's... Pretty lame! Anyway, I'll bring the goods to <next.coordinate.name> now..."
          ]
        },
        "message" : "I don't think we're dealin' with smart folks on this case. You better head to <next.coordinate.name>!"
      }
    ],
    "scan" : [
      {
        "parameters" : {
          "radioMessages" : [
            "...Are you recording this? Good. <bounty.name> says there's been a change of plan...",
            "We're to head to <next.coordinate.name> instead! You got that?"
          ]
        },
        "message" : "Well that is a mighty fine lead! I think you need to hurry your hide over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...You ended up WHERE? No, didn't get you get the notice? We aren't meant to BE there anymore!",
            "Meet me at <next.coordinate.name> instead. We have Peacekeepers on our tail!"
          ]
        },
        "message" : "Looks like they're half a step ahead of us - but it's seemin' like we can catch 'em at <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And because of that, <bounty.name> is heading to <next.coordinate.name> instead, okay?",
            "...And don't leave a recording of this conversation behind by accident again!"
          ]
        },
        "message" : "It's just our luck that wrong-doers ain't so smart, huh? Y'all better head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And I just get lonely sometimes, you know? I find that recording myself talking makes me feel better.",
            "But enough of that, I need to meet up with <bounty.name> on <next.coordinate.name>."
          ]
        },
        "message" : "..Well, I guess that's a good enough lead. Sounds like <next.coordinate.name> is your next destination, partner!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...I had some chores to do for <bounty.name>...",
            "...So I had to make a change of plans! I'll meet up with you at <next.coordinate.name>..."
          ]
        },
        "message" : "At least these criminals are still willin' to do their chores! You best be headin' to <next.coordinate.name>, next!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...Didn't you hear? We're being followed. We have to throw the Peacekeepers off the lead...",
            "...Bring the goods to <next.coordinate.name> instead..."
          ]
        },
        "message" : "Their plan might have worked if they didn't leave a trail! Onward-bound to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "...And that's when I found this blank CD, so I thought I'd record my voice and see what I sound like...",
            "...And it turns out I sound cooler in my head... Anyway, I'll bring the goods to <next.coordinate.name> now."
          ]
        },
        "message" : "I don't think we're dealin' with smart folks on this case. You better head to <next.coordinate.name>!"
      }
    ],
    "decoy" : [
      {
        "parameters" : {
          "radioMessages" : [
            "I hope you find this, Peacekeeper! This is <bounty.name>. Guess what?",
            "That was ME you spoke to earlier! It was a trick! I decieved you!"
          ]
        },
        "message" : "Dangnabbit, we've been taken on a ride! I think you need to hurry your hide back to the previous location!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "It is I, <bounty.name>! I have a message for you, Peacekeeper...",
            "I tricked you! The helpful citizen you met earlier was me all along! Your time has been truly wasted!"
          ]
        },
        "message" : "These criminals are masters of disguise... I think you should go back to your previous location and find this crook, partner!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "Hey, Peacekeeper! This is <bounty.name> - the helpful citizen you met earlier was actually me! Ha!",
            "You've been taken on a cruise of ruses! A trick trek! A deceit drive!"
          ]
        },
        "message" : "Dangnabbit, we've been taken on a ride! I think you need to hurry your hide back to the previous location!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "Do you recognise my voice, Peacekeeper?  - the helpful citizen you met earlier was I, <bounty.name>!",
            "Never forget the day that you were made a fool of!"
          ]
        },
        "message" : "What a mighty waste of Peacekeeper time! You better head back to your previous location an' teach this crook a lesson!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "I hope you find this, Peacekeeper! This is <bounty.name>. Guess what?",
            "That was ME you spoke to earlier! It was a ruse! You got GOT!"
          ]
        },
        "message" : "Tarnation - we've been taken on a ride! I think you need to hurry your hide back to the previous location!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "Greetings! it is I, <bounty.name>! I have a message for you, Peacekeeper...",
            "I tricked you! The helpful citizen you met earlier was me all along! I bet you feel embarassed now, huh?!"
          ]
        },
        "message" : "Why would they tell us where they are? Just to brag? You should go back to your earlier location and find this crook, partner!"
      },
      {
        "parameters" : {
          "radioMessages" : [
            "Hey, Peacekeeper! This is <bounty.name> - do you remember the helpful citizen you met earlier?",
            "IT WAS ME! IT WAS ME ALL ALONG, PEACEKEEPER!"
          ]
        },
        "message" : "Aw, son of a snuffish! I think you need to hurry your hide back to the previous location!"
      }
    ]
  },

  "papernote" : {
    "tutorial" : [
      {
        "parameters" : {
          "noteText" : "\n\nHowdy Peacekeeper,\n\nI regret to inform you that I, ^green;Captain Ignoble^reset;, am no longer residing in this particular residence.\n\n I've set up camp somwhere else <next.coordinate.preposition> <next.coordinate.name>.\n\nFind me if you can!"
        }
      }
    ],
    "diversion" : [
      {
        "parameters" : {
          "noteText" : "Lackey,\n\nThe goods are now <next.coordinate.preposition> <next.coordinate.name>.\nMake sure you aren't being followed.\n\nRegards,\n<bounty.name>"
        },
        "message" : "Always follow the paper trail, partner! It looks like <next.coordinate.name> is your next stop on this case."
      },
      {
        "parameters" : {
          "noteText" : "<bounty.name>'s To-do List\n\nª Buy milk\n\nª File taxes\n\nª Move to <next.coordinate.name>\n\nª Polish boots"
        },
        "message" : "It looks like these criminals are too organised for their own good! You should head on over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "noteText" : "Dear <bounty.name>,\n\nI'm sorry I forgot to bring the goods to you earlier.\nI'm on my way to meet you <next.coordinate.preposition> <next.coordinate.name>.\nPlease don't be mad.\n\n±"
        },
        "message" : "Conflict within a team will always be its downfall - let this be a lesson, partner! You should head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "noteText" : "Dear Diary,\n\nToday I helped <bounty.name> by taking some loot to <next.coordinate.name>.\nI hinted that I would like a raise for my recent hard-working efforts, but <bounty.name> didn't seem to notice.\nI should probably hide this page for now in case someone finds it."
        },
        "message" : "If you're gonna dispose of written evidence, you gotta do a better job than hidin' it! You should head on over to <next.coordinate.name>."
      }
    ],
    "planetClue" : [
      {
        "parameters" : {
          "noteText" : "Lackey,\n\nThe goods are now <next.coordinate.preposition> <next.coordinate.name>.\nMake sure you aren't being followed.\n\nRegards,\n<bounty.name>"
        },
        "message" : "Always follow the paper trail, partner! It looks like <next.coordinate.name> is your next stop on this case."
      },
      {
        "parameters" : {
          "noteText" : "<bounty.name>'s To-do List\n\nª Refuel ship\n\nª Launder money\n\nª Move to <next.coordinate.name>\n\nª Wash underwear"
        },
        "message" : "It looks like these criminals are too organised for their own good! You should head on over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "noteText" : "Dear <bounty.name>,\n\nI'm sorry I forgot to bring the goods to you earlier.\nI'm on my way to meet you <next.coordinate.preposition> <next.coordinate.name>.\nPlease don't be mad.\n\n»"
        },
        "message" : "Conflict within a team will always be its downfall - let this be a lesson, partner! You should head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "noteText" : "Dear Diary,\n\nToday I helped <bounty.name> by taking the loot to <next.coordinate.name>.\nI hope I'll get a raise soon!\nI should probably hide this page for now in case someone finds it."
        },
        "message" : "If you're gonna dispose of written evidence, you gotta do a better job than hidin' it! You should head on over to <next.coordinate.name>."
      }
    ],
    "planetBounty" : [
      {
        "parameters" : {
          "noteText" : "Lackey,\n\nThe goods are now <next.coordinate.preposition> <next.coordinate.name>.\nMake sure you aren't being followed.\n\nRegards,\n<bounty.name>"
        },
        "message" : "Always follow the paper trail, partner! It looks like <next.coordinate.name> is your next stop on this case."
      },
      {
        "parameters" : {
          "noteText" : "<bounty.name>'s To-do List\n\nª Iron uniform\n\nª Make salad for tomorrow's lunch\n\nª Proceed to <next.coordinate.name>\n\nª Buy milk and eggs"
        },
        "message" : "It looks like these criminals are too organised for their own good! You should head on over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "noteText" : "Dear <bounty.name>,\n\nI'm sorry I forgot to bring the goods to you earlier.\nI'm on my way to meet you <next.coordinate.preposition> <next.coordinate.name>.\nPlease don't be mad.\n\n§"
        },
        "message" : "Conflict within a team will always be its downfall - let this be a lesson, partner! You should head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "noteText" : "Dear Diary,\n\nToday I spent time with <bounty.name> on our way to <next.coordinate.name>.\nI made a joke, and <bounty.name> laughed!\nI hope someday <bounty.name> can see me as something more than just a hired goon «\n\nI should probably hide this page for now in case someone finds it."
        },
        "message" : "Can love bloom, even within galactic crime rings...? You should uh, head on over to <next.coordinate.name>."
      }
    ],
    "spaceBounty" : [
      {
        "parameters" : {
          "noteText" : "Lackey,\n\nThe goods are now <next.coordinate.preposition> <next.coordinate.name>.\nMake sure you aren't being followed.\n\nRegards,\n<bounty.name>"
        },
        "message" : "Always follow the paper trail, partner! It looks like <next.coordinate.name> is your next stop on this case."
      },
      {
        "parameters" : {
          "noteText" : "<bounty.name>'s To-do List\n\nª Go for morning jog\n\nª Make sandwich\n\nª Eat the sandwich\n\nª Proceed to <next.coordinate.name>"
        },
        "message" : "It looks like these criminals are too organised for their own good! You should head on over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "noteText" : "Dear <bounty.name>,\n\nI'm sorry I forgot to bring the goods to you earlier.\nI'm on my way to meet you <next.coordinate.preposition> <next.coordinate.name>.\nPlease don't be mad.\n\nº"
        },
        "message" : "Conflict within a team will always be its downfall - let this be a lesson, partner! You should head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "noteText" : "Dear Diary,\n\nToday I helped <bounty.name> by taking the loot to <next.coordinate.name>.\nI hope I'll get a raise soon!\nI should probably hide this page for now in case someone finds it."
        },
        "message" : "If you're gonna dispose of written evidence, you gotta do a better job than hidin' it! You should head on over to <next.coordinate.name>."
      }
    ],
    "spaceClue" : [
      {
        "parameters" : {
          "noteText" : "Lackey,\n\nThe goods are now <next.coordinate.preposition> <next.coordinate.name>.\nMake sure you aren't being followed.\n\nRegards,\n<bounty.name>"
        },
        "message" : "Always follow the paper trail, partner! It looks like <next.coordinate.name> is your next stop on this case."
      },
      {
        "parameters" : {
          "noteText" : "<bounty.name>'s To-do List\n\nª Fire incompetent lackeys\n\nª Hire better lackeys\n\nª Proceed to <next.coordinate.name>\n\nª Buy a new shirt"
        },
        "message" : "It looks like these criminals are too organised for their own good! You should head on over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "noteText" : "Dear <bounty.name>,\n\nI'm sorry I forgot to bring the goods to you earlier.\nI'm on my way to meet you <next.coordinate.preposition> <next.coordinate.name>.\nPlease don't be mad.\n\nð"
        },
        "message" : "Conflict within a team will always be its downfall - let this be a lesson, partner! You should head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "noteText" : "Dear Diary,\n\nToday I helped <bounty.name> by taking the loot to <next.coordinate.name>.\nI hope I'll get a raise soon!\nI should probably hide this page for now in case someone finds it."
        },
        "message" : "If you're gonna dispose of written evidence, you gotta do a better job than hidin' it! You should head on over to <next.coordinate.name>."
      }
    ],
    "scan" : [
      {
        "parameters" : {
          "noteText" : "Lackey,\n\nThe goods are now <next.coordinate.preposition> <next.coordinate.name>.\nMake sure you aren't being followed.\n\nRegards,\n<bounty.name>"
        },
        "message" : "Always follow the paper trail, partner! It looks like <next.coordinate.name> is your next stop on this case."
      },
      {
        "parameters" : {
          "noteText" : "<bounty.name>'s To-do List\n\nª Buy new shoes\n\nª Buy new socks that match new shoes\n\nª Move to to <next.coordinate.name>\n\nª Request feedback on new shoes and socks"
        },
        "message" : "It looks like these criminals are too organised for their own good! You should head on over to <next.coordinate.name>!"
      },
      {
        "parameters" : {
          "noteText" : "Dear <bounty.name>,\n\nI'm sorry I forgot to bring the goods to you earlier.\nI'm on my way to meet you <next.coordinate.preposition> <next.coordinate.name>.\nPlease don't be mad.\n\n±"
        },
        "message" : "Conflict within a team will always be its downfall - let this be a lesson, partner! You should head on over to <next.coordinate.name>."
      },
      {
        "parameters" : {
          "noteText" : "Dear Diary,\n\nToday I helped <bounty.name> by taking the loot to <next.coordinate.name>.\nI hope I'll get a raise soon!\nI should probably hide this page for now in case someone finds it."
        },
        "message" : "If you're gonna dispose of written evidence, you gotta do a better job than hidin' it! You should head on over to <next.coordinate.name>."
      }
    ],
    "decoy" : [
      {
        "parameters" : {
          "noteText" : "Hey Crew,\n\nYou're never gonna believe this!\nI TOTALLY fooled a Peacekeeper earlier by pretending to be someone else!\nThey were well and truly pranked.\n\nUntil next time,\n<bounty.name>"
        },
        "message" : "Dangit, they fooled us AND wrote a newsletter about it! Better head back to your previous location, partner!"
      },
      {
        "parameters" : {
          "noteText" : "Peacekeeper,\nIf you're reading this, I want you to know that the helpful stranger earlier...\n\nIt was ME, <bounty.name>!\n\nNever forget the moment that you were utterly bamboozled by my cunning.\n«"
        },
        "message" : "This varmint is gonna pay for their mockery! Head back to your previous location and catch this crook for good!"
      },
      {
        "parameters" : {
          "noteText" : "Dear Diary,\n\nEarlier I pretended I was someone else and a local Peacekeeper was totally fooled.\nThey were totally looking for me, too.\nI am officially a master of disguise and can blend into the shadows at will."
        },
        "message" : "This vagabond tricked us! Too bad that they wrote down their dirty work on a convenient piece of paper. Better head over to your previous location, partner!"
      },
      {
        "parameters" : {
          "noteText" : "Peacekeeper,\nI expect that you should discover this note in time.\n\nI want you to know it was me.\nThe civilian who assisted you earlier? \nIt was I, <bounty.name>!\n\nWhilst you still have a good chance of catching me, I don't want you ever to forget the name...\nª <bounty.name> ª"
        },
        "message" : "This rogue thinks they've humiliated us, don't they? Head back to your previous location and catch this varmint once and for all!"
      }
    ],

    "returnVaultItem" : [
      {
        "parameters" : {
          "noteText" : "Lackey,\n\nFor the last time, stop writing notes with the vault combination on around the vault!\nI can't even begin to explain to you why that's a bad idea!\n If you forget the code AGAIN, leave a reminder at our hideout <next.coordinate.preposition> <next.coordinate.name>, instead.\n\nRegards,\n<bounty.name>"
        },
        "message" : "So it looks like we need to go an' find this code, huh? And by \"we\", I mean \"you\". Get on over to <next.coordinate.name>, partner!"
      },
      {
        "parameters" : {
          "noteText" : "Note to self:\n\n<bounty.name> is getting really mad that I keep leaving notes around with the vault code written on them.\nAll remaining notes should be quietly stored <next.coordinate.preposition> <next.coordinate.name> instead."
        },
        "message" : "These folks ain't running the most secure operation, are they? Head on over to <next.coordinate.name> as soon as you can, partner!"
      },
      {
        "parameters" : {
          "noteText" : "<bounty.name>'s Vault Security Guide:\n\n1> Do not forget the vault code!\n\n2> Try not to write down the vault code\n\n>3> If you really forget the vault code, come to <next.coordinate.name> so you can memorise it again!"
        },
        "message" : "There's holes in even the most organised criminal operation, ain't there? Head on over to <next.coordinate.name> as soon as you can, partner!"
      }
    ],
    "returnVaultObject" : [
      {
        "parameters" : {
          "noteText" : "Important Notice!\n\nLackeys are requested to stop writing down the vault code on pieces of paper!\nThis is a huge security flaw, and waste of valuable, valuable paper!\n\nInstead, the code will be recorded in a digital format at our computer servers <next.coordinate.preposition> ^green;<next.coordinate.name>^reset;.\n\nHappy smuggling! - <bounty.name>"
        },
        "message" : "I guess ah appreciate their desire not to waste paper! You gotta look after the planet... Every planet. You should go an' check out <next.coordinate.name>."
      },
      {
        "parameters" : {
          "noteText" : "Due to a change in gang policy, we are now converting all records to a digital format for easier storage. Please go to our computer office <next.coordinate.preposition> <next.coordinate.name> in order to:\n\n> Review your financial records!\n\n> Recieve your bi-quarterly review!\n\n> Memorise the combinations to our security vaults!\n\n> Place an order for your required gang headwear!"
        },
        "message" : "I hope you're good with computers, because you gotta find that vault code! You should head to <next.coordinate.name>."
      }
    ],
    "returnVaultNpc" : [
      {
        "parameters" : {
          "noteText" : "Hi <bounty.name>,\n\nI forgot the code to the vault, so I am going to the hideout <next.coordinate.preposition> <next.coordinate.name> to ask the others for it.\nSorry for the inconvenience!"
        },
        "message" : "It sounds like <next.coordinate.name> is where you should start headin' towards, partner!"
      },
      {
        "parameters" : {
          "noteText" : "ª Gang Announcement ª\n\nThere have been several incidents of lackeys who have forgotten the code to open the vault.\nIf this happens to you, make your way to <next.coordinate.name> so you can be informed of the code.\nWhatever you do, don't write it down! It's a terrible security flaw!\n\n~ <bounty.name>"
        },
        "message" : "I hope you're ready to beat some information out of some low-lives! You better fly that ship o' yours to <next.coordinate.name>!"
      }
    ],
    "vaultClue" : [
      {
        "parameters" : {
          "noteText" : "Note to self:\n\nThe code for the vault <next.coordinate.preposition> <next.coordinate.name> is <password>.\n\nDon't leave this note somewhere again!"
        },
        "message" : "Always follow the paper trail, partner! It looks like <next.coordinate.name> is your next stop on this case."
      },
      {
        "parameters" : {
          "noteText" : "Confidential!\n\nThe code for the <next.coordinate.name> vault is as follows:\n<password>\n\n\nFor security, this note will self-ignite in 5 metaclicks.\nIf the self-igniting ink fails to activate after 5 metaclicks, please place note in the nearest open fire until the note is unreadable."
        },
        "message" : "Why are people usin' paper to write notes still? We have ships that can travel faster than light, I feel like we shouldn't be usin' paper anymore. It looks like <next.coordinate.name> is your next target."
      },
      {
        "parameters" : {
          "noteText" : "Dear Diary,\n\nToday <bounty.name> told me that the password to the vault is <password>!\nI felt so honoured. I will do my best not to divulge this secret to our enemies."
        },
        "message" : "I wonder what made these folks turn to a life of crime? It looks like <next.coordinate.name> is your next stop on this case, partner!"
      }
    ]
  }
}
