{
  "tutorial" : {
    "npc" : {
      "typeName" : "nobleclue"
    },
    "behaviorOverrides" : [
      {
        "type" : "notification",
        "behavior" : {
          "name" : "bounty-interrogate",
          "parameters" : {
            "quest" : "<questId>",
            "dialog" : "/quests/bounty/clue_npcs.config:tutorial.clues.<clueType>.dialog"
          }
        }
      }
    ],
    "clues" : {
      "tutorial" : {
        "dialog" : {
          "interrogateStart" : {
            "default" : {
              "default" : [
                "Don't think you can apprehend ^orange;Captain Ignoble^reset;, partn... adversary!"
              ]
            }
          },
          "interrogateEnd" : {
            "default" : {
              "default" : [
                "Uh-oh, I better split! Don't even think about tracking me down to my ^orange;real hideout^reset;, Peacekeeper!"
              ]
            }
          }
        }
      }
    }
  },

  "cultist1" : {
    "useBountyGang" : true,
    "npc" : {
      "typeName" : "hostile"
    },
    "behaviorOverrides" : [
      {
        "type" : "notification",
        "behavior" : {
          "name" : "bounty-interrogate",
          "parameters" : {
            "quest" : "<questId>",
            "dialog" : "/quests/bounty/clue_npcs.config:cultist1.clues.<clueType>.dialog"
          }
        }
      }
    ],
    "clues" : {
      "cultistClue1" : {
        "dialog" : {
          "interrogateStart" : {
            "default" : {
              "default" : [
                "You're out of luck, Peacekeeper - I'll never betray Nox's location!"
              ]
            }
          },
          "interrogateEnd" : {
            "default" : {
              "default" : [
                "Okay, so I don't know where ^orange;Nox^reset; is... But my colleague <next.coordinate.preposition> <next.coordinate.name> does!"
              ]
            }
          }
        },
        "message" : "We'd better go to <next.coordinate.name> - we're closing in on Nox!"
      }
    }
  },
  
  "cultist2" : {
    "useBountyGang" : true,
    "npc" : {
      "typeName" : "hostile"
    },
    "behaviorOverrides" : [
      {
        "type" : "notification",
        "behavior" : {
          "name" : "bounty-interrogate",
          "parameters" : {
            "quest" : "<questId>",
            "dialog" : "/quests/bounty/clue_npcs.config:cultist2.clues.<clueType>.dialog"
          }
        }
      }
    ],
    "clues" : {
      "cultistClue2" : {
        "dialog" : {
          "interrogateStart" : {
            "default" : {
              "default" : [
                "I heard word that you were coming, Peacekeeper! You won't get anything from me!"
              ]
            }
          },
          "interrogateEnd" : {
            "default" : {
              "default" : [
                "All right, enough. You want ^orange;Asra Nox^reset;? She's on the Starship ^orange;Dantalion^reset; - I'll give you the coordinates."
              ]
            }
          }
        },
        "message" : "Our scans indicate that the ^orange;Dantalion^reset; is a huge space vessel. This is it, partner! The big one!"
      }
    }
  },

  "interrogate" : {
    "useBountyGang" : true,
    "npc" : {
      "typeName" : "gangmember"
    },
    "behaviorOverrides" : [
      {
        "type" : "notification",
        "behavior" : {
          "name" : "bounty-interrogate",
          "parameters" : {
            "quest" : "<questId>",
            "dialog" : "/quests/bounty/clue_npcs.config:interrogate.clues.<clueType>.dialog"
          }
        }
      }
    ],
    "clues" : {
      "planetBounty" : {
        "dialog" : {
          "interrogateStart" : {
            "default" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "You're not getting anything from me!",
                "You won't make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "apex" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "I won't tell you anything!",
                "You'll never make a monkey out of me! I won't betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "I'll never break! <bounty.name> is relying on me!"
              ]
            },
            "avian" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "You're not getting anything from me!",
                "You won't make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "hylotl" : {
              "default" : [
                "Don't waste your time - I'll never tell you where <bounty.name> is!",
                "You're as naive as you look if you think I'll betray <bounty.name>!",
                "I am a Hylotl of honour! I will never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "I am loyal to my employer <bounty.name>!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran won't betray <bounty.name>!",
                "Floran isss loyal to <bounty.name>!",
                "Floran won't tell you where <bounty.name> isss!",
                "Floran works for <bounty.name>! Floran isss loyal!"
              ]
            },
            "glitch" : {
              "default" : [
                "Defiant. I'll never tell you where <bounty.name> is!",
                "Brave. You're not getting anything from me!",
                "Defiant. You won't make me talk! I'll never betray <bounty.name>!",
                "Loyal. I'll never give up <bounty.name>'s location!",
                "Loyal. You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "novakid" : {
              "default" : [
                "I ain't gonna tell you where <bounty.name> is!",
                "You ain't gettin' anythin' from me!",
                "You ain't gonna make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You ain't gettin' to <bounty.name>!"
              ]
            }
          },
          "interrogateEnd" : {
            "default" : {
              "default" : [
                "Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "apex" : {
              "default" : [
                "Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Fine, you've got me! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I've changed my mind - I'll squeal! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "avian" : {
              "default" : [
                "I know when I've been beaten! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Don't ruffle my feathers - I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "hylotl" : {
              "default" : [
                "I may have underestimated you! The one you are after, they're <next.coordinate.preposition> <next.coordinate.name>!",
                "Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran will tell! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Floran will sssqueal! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Floran changing mind! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "glitch" : {
              "default" : [
                "Intimidated. Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Exhausted. Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Defeated. I have changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"

              ]
            },
            "novakid" : {
              "default" : [
                "Alright, I ain't got no choice but to squeal! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Dangit! How'd I go and let myself get caught like this? They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            }
          }
        },
        "message" : "That kind of intimidation technique ain't in the Peacekeeper rule book, but it sure seemed mighty effective! On to ^orange;<next.coordinate.name>^reset;."
      },
      "spaceBounty" : {
        "dialog" : {
          "interrogateStart" : {
            "default" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "You're not getting anything from me!",
                "You won't make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "apex" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "I won't tell you anything!",
                "You'll never make a monkey out of me! I won't betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "I'll never break! <bounty.name> is relying on me!"
              ]
            },
            "avian" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "You're not getting anything from me!",
                "You won't make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "hylotl" : {
              "default" : [
                "Don't waste your time - I'll never tell you where <bounty.name> is!",
                "You're as naive as you look if you think I'll betray <bounty.name>!",
                "I am a Hylotl of honour! I will never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "I am loyal to my employer <bounty.name>!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran won't betray <bounty.name>!",
                "Floran isss loyal to <bounty.name>!",
                "Floran won't tell you where <bounty.name> isss!",
                "Floran works for <bounty.name>! Floran isss loyal!"
              ]
            },
            "glitch" : {
              "default" : [
                "Defiant. I'll never tell you where <bounty.name> is!",
                "Brave. You're not getting anything from me!",
                "Defiant. You won't make me talk! I'll never betray <bounty.name>!",
                "Loyal. I'll never give up <bounty.name>'s location!",
                "Loyal. You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "novakid" : {
              "default" : [
                "I ain't gonna tell you where <bounty.name> is!",
                "You ain't gettin' anythin' from me!",
                "You ain't gonna make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You ain't gettin' to <bounty.name>!"
              ]
            }
          },
          "interrogateEnd" : {
            "default" : {
              "default" : [
                "Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "apex" : {
              "default" : [
                "Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Fine, you've got me! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I've changed my mind - I'll squeal! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "avian" : {
              "default" : [
                "I know when I've been beaten! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Don't ruffle my feathers - I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "hylotl" : {
              "default" : [
                "I may have underestimated you! The one you are after, they're <next.coordinate.preposition> <next.coordinate.name>!",
                "Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran will tell! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Floran will sssqueal! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Floran changing mind! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "glitch" : {
              "default" : [
                "Intimidated. Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Exhausted. Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Defeated. I have changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"

              ]
            },
            "novakid" : {
              "default" : [
                "Alright, I ain't got no choice but to squeal! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Dangit! How'd I go and let myself get caught like this? They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            }
          }
        },
        "message" : "Physical intimidation isn't something I'm supposed to condone, but if it works, I ain't complainin'! Better head out to ^orange;<next.coordinate.name>^reset;!"
      },
      "planetClue" : {
        "dialog" : {
          "interrogateStart" : {
            "default" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "You're not getting anything from me!",
                "You won't make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "apex" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "I won't tell you anything!",
                "You'll never make a monkey out of me! I won't betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "I'll never break! <bounty.name> is relying on me!"
              ]
            },
            "avian" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "You're not getting anything from me!",
                "You won't make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "hylotl" : {
              "default" : [
                "Don't waste your time - I'll never tell you where <bounty.name> is!",
                "You're as naive as you look if you think I'll betray <bounty.name>!",
                "I am a Hylotl of honour! I will never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "I am loyal to my employer <bounty.name>!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran won't betray <bounty.name>!",
                "Floran isss loyal to <bounty.name>!",
                "Floran won't tell you where <bounty.name> isss!",
                "Floran works for <bounty.name>! Floran isss loyal!"
              ]
            },
            "glitch" : {
              "default" : [
                "Defiant. I'll never tell you where <bounty.name> is!",
                "Brave. You're not getting anything from me!",
                "Defiant. You won't make me talk! I'll never betray <bounty.name>!",
                "Loyal. I'll never give up <bounty.name>'s location!",
                "Loyal. You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "novakid" : {
              "default" : [
                "I ain't gonna tell you where <bounty.name> is!",
                "You ain't gettin' anythin' from me!",
                "You ain't gonna make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You ain't gettin' to <bounty.name>!"
              ]
            }
          },
          "interrogateEnd" : {
            "default" : {
              "default" : [
                "Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "apex" : {
              "default" : [
                "Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Fine, you've got me! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I've changed my mind - I'll squeal! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "avian" : {
              "default" : [
                "I know when I've been beaten! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Don't ruffle my feathers - I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "hylotl" : {
              "default" : [
                "I may have underestimated you! The one you are after, they're <next.coordinate.preposition> <next.coordinate.name>!",
                "Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran will tell! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Floran will sssqueal! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Floran changing mind! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "glitch" : {
              "default" : [
                "Intimidated. Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Exhausted. Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Defeated. I have changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"

              ]
            },
            "novakid" : {
              "default" : [
                "Alright, I ain't got no choice but to squeal! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Dangit! How'd I go and let myself get caught like this? They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            }
          }
        },
        "message" : "These modern day criminals sure seem susceptible to being beaten in armed combat! I suppose you need to make your way to ^orange;<next.coordinate.name>^reset;!"
      },
      "spaceClue" : {
        "dialog" : {
          "interrogateStart" : {
            "default" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "You're not getting anything from me!",
                "You won't make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "apex" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "I won't tell you anything!",
                "You'll never make a monkey out of me! I won't betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "I'll never break! <bounty.name> is relying on me!"
              ]
            },
            "avian" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "You're not getting anything from me!",
                "You won't make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "hylotl" : {
              "default" : [
                "Don't waste your time - I'll never tell you where <bounty.name> is!",
                "You're as naive as you look if you think I'll betray <bounty.name>!",
                "I am a Hylotl of honour! I will never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "I am loyal to my employer <bounty.name>!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran won't betray <bounty.name>!",
                "Floran isss loyal to <bounty.name>!",
                "Floran won't tell you where <bounty.name> isss!",
                "Floran works for <bounty.name>! Floran isss loyal!"
              ]
            },
            "glitch" : {
              "default" : [
                "Defiant. I'll never tell you where <bounty.name> is!",
                "Brave. You're not getting anything from me!",
                "Defiant. You won't make me talk! I'll never betray <bounty.name>!",
                "Loyal. I'll never give up <bounty.name>'s location!",
                "Loyal. You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "novakid" : {
              "default" : [
                "I ain't gonna tell you where <bounty.name> is!",
                "You ain't gettin' anythin' from me!",
                "You ain't gonna make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You ain't gettin' to <bounty.name>!"
              ]
            }
          },
          "interrogateEnd" : {
            "default" : {
              "default" : [
                "Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "apex" : {
              "default" : [
                "Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Fine, you've got me! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I've changed my mind - I'll squeal! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "avian" : {
              "default" : [
                "I know when I've been beaten! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Don't ruffle my feathers - I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "hylotl" : {
              "default" : [
                "I may have underestimated you! The one you are after, they're <next.coordinate.preposition> <next.coordinate.name>!",
                "Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran will tell! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Floran will sssqueal! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Floran changing mind! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "glitch" : {
              "default" : [
                "Intimidated. Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Exhausted. Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Defeated. I have changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"

              ]
            },
            "novakid" : {
              "default" : [
                "Alright, I ain't got no choice but to squeal! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Dangit! How'd I go and let myself get caught like this? They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            }
          }
        },
        "message" : "You were darn fearless there, partner! You should head on over to ^orange;<next.coordinate.name>^reset;!"
      },
      "scan" : {
        "dialog" : {
          "interrogateStart" : {
            "default" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "You're not getting anything from me!",
                "You won't make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "apex" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "I won't tell you anything!",
                "You'll never make a monkey out of me! I won't betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "I'll never break! <bounty.name> is relying on me!"
              ]
            },
            "avian" : {
              "default" : [
                "I'll never tell you where <bounty.name> is!",
                "You're not getting anything from me!",
                "You won't make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "hylotl" : {
              "default" : [
                "Don't waste your time - I'll never tell you where <bounty.name> is!",
                "You're as naive as you look if you think I'll betray <bounty.name>!",
                "I am a Hylotl of honour! I will never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "I am loyal to my employer <bounty.name>!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran won't betray <bounty.name>!",
                "Floran isss loyal to <bounty.name>!",
                "Floran won't tell you where <bounty.name> isss!",
                "Floran works for <bounty.name>! Floran isss loyal!"
              ]
            },
            "glitch" : {
              "default" : [
                "Defiant. I'll never tell you where <bounty.name> is!",
                "Brave. You're not getting anything from me!",
                "Defiant. You won't make me talk! I'll never betray <bounty.name>!",
                "Loyal. I'll never give up <bounty.name>'s location!",
                "Loyal. You aren't going to make me talk! I'll never betray <bounty.name>!"
              ]
            },
            "novakid" : {
              "default" : [
                "I ain't gonna tell you where <bounty.name> is!",
                "You ain't gettin' anythin' from me!",
                "You ain't gonna make me talk! I'll never betray <bounty.name>!",
                "I'll never give up <bounty.name>'s location!",
                "You ain't gettin' to <bounty.name>!"
              ]
            }
          },
          "interrogateEnd" : {
            "default" : {
              "default" : [
                "Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "apex" : {
              "default" : [
                "Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Fine, you've got me! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I've changed my mind - I'll squeal! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "avian" : {
              "default" : [
                "I know when I've been beaten! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Don't ruffle my feathers - I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "hylotl" : {
              "default" : [
                "I may have underestimated you! The one you are after, they're <next.coordinate.preposition> <next.coordinate.name>!",
                "Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran will tell! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Floran will sssqueal! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Floran changing mind! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            },
            "glitch" : {
              "default" : [
                "Intimidated. Fine, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Exhausted. Okay, okay, I'm willing to talk! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Defeated. I have changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"

              ]
            },
            "novakid" : {
              "default" : [
                "Alright, I ain't got no choice but to squeal! They're <next.coordinate.preposition> <next.coordinate.name>!",
                "Dangit! How'd I go and let myself get caught like this? They're <next.coordinate.preposition> <next.coordinate.name>!",
                "I changed my mind, I'll talk! They're <next.coordinate.preposition> <next.coordinate.name>!"
              ]
            }
          }
        },
        "message" : "The common crook ain't never gonna keep a secret for too long - which is mighty fortunate for us! Yer next lead is ^orange;<next.coordinate.name>^reset;!"
      },
      "vaultClue" : {
        "dialog" : {
          "interrogateStart" : {
            "default" : {
              "default" : [
                "I'll never tell you the ^orange;code^reset;!",
                "You want the ^orange;code^reset;? You're gonna have to fight for it!",
                "I ain't never gonna tell you the ^orange;code^reset; to the vault!",
                "You want me to tell you the ^orange;code^reset; to the vault? Too bad, I won't talk!",
                "I bet you want the ^orange;code^reset; to the vault, don't you? Too bad, punk!",
                "You want the ^orange;code^reset; to the vault? The only thing YOU'RE getting is a beating!"
              ]
            },
            "apex" : {
              "default" : [
                "I'll never tell you the ^orange;code^reset;!",
                "You want me to tell you our secret ^orange;code^reset;? Unfortunately for you, I won't break easily!",
                "I will never tell you the ^orange;code^reset; to the vault!",
                "You want me to tell you the ^orange;code^reset; to the vault? Too bad, I ain't talkin'!",
                "I bet you want the ^orange;code^reset; to the vault, don't you?",
                "You want me to give up our secret vault ^orange;code^reset;? Too bad - you won't make a monkey out of me!"
              ]
            },
            "avian" : {
              "default" : [
                "I'll never tell you the ^orange;code^reset;!",
                "You want the ^orange;code^reset;? You're gonna have to fight for it!",
                "I shall never tell you the ^orange;code^reset; to the vault!",
                "You want me to tell you the ^orange;code^reset; to the vault? Too bad, I ain't talkin'!",
                "I bet you want the ^orange;code^reset; to the vault, don't you? Too bad, punk!",
                "You want the ^orange;code^reset; to the vault? The only thing YOU'RE getting is a beating!"
              ]
            },
            "hylotl" : {
              "default" : [
                "I shall never reveal our secret ^orange;code^reset;!",
                "You want the ^orange;code^reset;? You'll have to duel me for it!",
                "I shall never tell you the ^orange;code^reset; to the vault!",
                "You want me to tell you the ^orange;code^reset; to the vault? Then you will be sorely disappointed!",
                "I bet you want the ^orange;code^reset; to the vault, don't you? Too bad, punk!",
                "You want the ^orange;code^reset; to the vault? The only thing YOU'RE getting is a beating!"
              ]
            },
            "floran" : {
              "default" : [
                "You want the ^orange;code^reset; to the sssecret place? Floran isssn't going to tell!",
                "Floran won't give you the ^orange;code^reset; to the sssecret place! Ssso give up!",
                "Floran's job isss to keep the ^orange;code^reset; sssecret! Ssso go away!"
              ]
            },
            "glitch" : {
              "default" : [
                "Righteous. Upon my honour, I shall defend our secret vault ^orange;code^reset; with my life!",
                "Eager. It is my task to keep the ^orange;code^reset; to the vault - I don't intend to fail!",
                "Concerned. You want the ^orange;code^reset; to the vault? I'm afraid you cannot have it!"
              ]
            },
            "novakid" : {
              "default" : [
                "I ain't never gonna tell you the vault ^orange;code^reset;!",
                "You want the ^orange;code^reset;? This ain't your lucky day, punk!",
                "You ain't gettin' the ^orange;code^reset; to the vault from me, you varmint!",
                "You want me to tell you the ^orange;code^reset; to the vault? Too bad, I ain't talkin'!",
                "I'm reckonin' you want the ^orange;code^reset; to the vault, don't you? Too bad, punk!",
                "You want the ^orange;code^reset; to the vault? The only thing YOU'RE gettin' is shot full o' holes!"
              ]
            }
          },
          "interrogateEnd" : {
            "default" : {
              "default" : [
                "Okay, okay, I'll talk! The code to the vault is ^orange;<password>^reset;!",
                "I changed my mind, I'll give you the vault code! It's ^orange;<password>^reset;!",
                "Don't hurt me! The vault code is ^orange;<password>^reset; - don't let anyone know I told you!",
                "Stop! I'll tell you, jeez. The vault code is ^orange;<password>^reset;.",
                "Fine, I'll tell you, just stop attacking me already! The vault code is ^orange;<password>^reset;, okay?!"
              ]
            },
            "avian" : {
              "default" : [
                "Okay, okay, I'll talk! The code to the vault is ^orange;<password>^reset;!",
                "I changed my mind, I'll give you the vault code! It's ^orange;<password>^reset;!",
                "Don't hurt me! The vault code is ^orange;<password>^reset; - don't let anyone know I told you!",
                "Stop! I'll tell you, jeez. The vault code is ^orange;<password>^reset;.",
                "Fine, I'll tell you, just stop attacking me already! The vault code is ^orange;<password>^reset;, okay?!"
              ]
            },
            "apex" : {
              "default" : [
                "Okay, okay, I'll talk! The code to the vault is ^orange;<password>^reset;!",
                "I changed my mind, I'll give you the vault code! It's ^orange;<password>^reset;!",
                "Don't hurt me! The vault code is ^orange;<password>^reset; - don't let anyone know I told you!",
                "Stop! I'll tell you, jeez. The vault code is ^orange;<password>^reset;.",
                "Fine, I'll tell you, just stop attacking me already! The vault code is ^orange;<password>^reset;, okay?!"
              ]
            },
            "hylotl" : {
              "default" : [
                "Okay, okay, I'll talk! The code to the vault is ^orange;<password>^reset;!",
                "I changed my mind, I'll give you the vault code! It's ^orange;<password>^reset;!",
                "Don't hurt me! The vault code is ^orange;<password>^reset; - don't let anyone know I told you!",
                "Stop! I'll tell you, jeez. The vault code is ^orange;<password>^reset;.",
                "Fine, I'll tell you, just stop attacking me already! The vault code is ^orange;<password>^reset;, okay?!"
              ]
            },
            "floran" : {
              "default" : [
                "Floran sssuddenly willing to talk! The vault code isss ^orange;<password>^reset;!",
                "Floran sssurrenders! Vault code isss ^orange;<password>^reset;... Now don't hurt Floran more!",
                "You want vault code? Floran can give you it if you leave Floran alone! It'sss ^orange;<password>^reset;!"
              ]
            },
            "glitch" : {
              "default" : [
                "Scared. I concede! The code to the vault is ^orange;<password>^reset;!",
                "Intimidated. I have changed my mind, I'll shall tell you the vault code! It's ^orange;<password>^reset;!",
                "Intimidated. Don't hurt me! The vault code is ^orange;<password>^reset; - don't let anyone know I told you!",
                "Scared. I surrender! Please do not hurt me further! The vault code is ^orange;<password>^reset;."
              ]
            },
            "novakid" : {
              "default" : [
                "Okay, okay, I'll talk! The code to the vault is ^orange;<password>^reset;!",
                "I changed my mind, I'll give you the vault code! It's ^orange;<password>^reset;!",
                "Don't hurt me! The vault code is ^orange;<password>^reset; - don't let anyone know I told yer!",
                "Stop! I'll tell you, jeez. The vault code is ^orange;<password>^reset;.",
                "I ain't willin' to die just to keep a secret! The vault code is ^orange;<password>^reset;, okay?!"
              ]
            }
          }
        },
        "message" : "^orange;<password>^reset;, huh? Keep that in mind when you go to the vault on ^orange;<next.coordinate.name>^reset;!"
      }
    }
  }
}
