{
  "biomePools" : {
    "default" : [
      "safehouse",
      "vault",
      "undergroundsafehouse",
      "undergroundvault",
      "minor_spawn",
      "tutorialclues",
      "tutorialbounty",
      "undergroundtutorialclues",
      "undergroundtutorialbounty",
      "fueldepot",
      "undergroundfueldepot"
    ],
    "ocean" : [
      "safehouse",
      "vault",
      "boat",
      "boatvault",
      "undergroundsafehouse",
      "undergroundvault",
      "minor_spawn",
      "tutorialclues",
      "tutorialbounty",
      "undergroundtutorialclues",
      "undergroundtutorialbounty",
      "fueldepot",
      "undergroundfueldepot"
    ],
    "toxic" : [
      "safehouse",
      "vault",
      "boat",
      "boatvault",
      "undergroundsafehouse",
      "undergroundvault",
      "minor_spawn",
      "tutorialclues",
      "tutorialbounty",
      "undergroundtutorialclues",
      "undergroundtutorialbounty",
      "fueldepot",
      "undergroundfueldepot"
    ],
    "arctic" : [
      "safehouse",
      "vault",
      "boat",
      "boatvault",
      "undergroundsafehouse",
      "undergroundvault",
      "minor_spawn",
      "tutorialclues",
      "tutorialbounty",
      "undergroundtutorialclues",
      "undergroundtutorialbounty",
      "fueldepot",
      "undergroundfueldepot"
    ],
    "magma" : [
      "safehouse",
      "vault",
      "boat",
      "boatvault",
      "undergroundsafehouse",
      "undergroundvault",
      "minor_spawn",
      "tutorialclues",
      "tutorialbounty",
      "undergroundtutorialclues",
      "undergroundtutorialbounty",
      "fueldepot",
      "undergroundfueldepot"
    ]
  },

  "dungeons" : {
    "bountycamp": {
      "type" : "surface",
      "tags" : [ "clue_item", "clue_npc" ]
    },
    "safehouse": {
      "type" : "surface",
      "tags" : [ "clue_item", "clue_object", "clue_npc", "clue_scan", "npc_bounty" ]
    },
    "vault": {
      "type" : "surface",
      "tags" : [ "vault" ]
    },
    "boat" : {
      "type" : "ocean",
      "tags" : [ "clue_item", "clue_npc", "clue_object", "clue_scan", "npc_bounty" ]
    },
    "boatvault" : {
      "type" : "ocean",
      "tags" : [ "vault" ]
    },
    "undergroundsafehouse": {
      "type" : "surface",
      "tags" : [ "clue_item", "clue_object", "clue_npc", "clue_scan", "npc_bounty" ]
    },
    "undergroundvault": {
      "type" : "surface",
      "tags" : [ "vault" ]
    },
    "minor_spawn" : {
      "type" : "surface",
      "tags" : [ "monster_bounty", "minor" ]
    },
    "tutorialclues" : {
      "type" : "surface",
      "tags" : [ "tutorial_clue" ]
    },
    "tutorialbounty" : {
      "type" : "surface",
      "tags" : [ "tutorial_bounty" ]
    },
    "undergroundtutorialclues" : {
      "type" : "surface",
      "tags" : [ "tutorial_clue" ]
    },
    "undergroundtutorialbounty" : {
      "type" : "surface",
      "tags" : [ "tutorial_bounty" ]
    },
    "fueldepot" : {
      "type" : "surface",
      "tags" : [ "fuel_bounty" ]
    },
    "undergroundfueldepot" : {
      "type" : "surface",
      "tags" : [ "fuel_bounty" ]
    }
  }
}
