{
  "genericPrefix" : [
    "Grand",
    "Super",
    "Mega",
    "Ultra",
    "Prime",
    "Yellow", // remove colours?
    "Orange", // remove colours?
    "Blue", // remove colours?
    "Fresh",
    "Cool",
    "Criminal",
    "Prestigious",
    "Slow",
    "Strange",
    "Crazy",
    "Tunnel",
    "Rockin'",
    "Daring",
    "Secret",
    "Flashy",
    "Screaming",
    "Wild",
    "Street",
    "Rowdy",
    "Sly",
    "Scary",
    "Mad",
    "Silent",
    "Silver",
    "Steel",
    "Metal",
    "Night",
    "Heavy",
    "Lost",
    "Bad",
    "Funny",
    "Flash",
    "Killer",
    "Littering",
    "Odd",
    "Raging",
    "Sporty",
    "Best",
    "Worst",
    "Low",
    "High",
    "Top",
    "Bottom",
    "Normal",
    "Interesting",
    "Apocalyptic",
    "Gold",
    "Original",
    "Smoking",
    "Jumping",
    "Ugly",
    "Holy",
    "Damned",
    "Dangerous",
    "Risky",
    "Sketchy",
    "Divine",
    "Grim",
    "United",
    "Dastardly",
    "Fightin'",
    "Wayward",
    "Big",
    "Galactic",
    "Unpredictable",
    "Anonymous",
    "Unknown",
    "Insane",
    "Blazin'",
    "Great",
    "Death",
    "Deadly",
    "Dynamic",
    "Home",
    "Lazy",
    "Marginal",
    "Usual",
    "Pretty",
    "Raw",
    "Rich",
    "Skinny",
    "Social",
    "North",
    "East",
    "South",
    "West",
    "Sweet"
  ],

  "hatPrefix" : {
    "bananahead" : [
      "Peeling",
      "Slippery"
    ],
    "bunnyhead" : [
      "Bunny",
      "Hopping",
      "Springy"
    ],
    "mughathead" : [
      "Frothy",
      "Brew"
    ],
    "plumeknighthead" : [
      "Honourable",
      "Chivalrous"
    ],
    "bearhead" : [
      "Growling",
      "Grizzly"
    ],
    "hobohead" : [
      "Cardboard",
      "Box"
    ],
    "symbiotehead" : [
      "Assimilated",
      "Symbiotic"
    ],
    "clocktophathead" : [
      "Time",
      "Clock"
    ],
    "dinosaurhead" : [
      "Jurassic",
      "Prehistoric"
    ],
    "deadbeathornshead" : [
      "Horned"
    ],
    "glasses2head" : [ // monocle
      "Posh",
      "Classy",
      "Snooty"
    ],
    "giantbowhead" : [
      "Adorable",
      "Precious"
    ],
    "winterscarfhead" : [
      "Cozy",
      "Woolen"
    ],
    "glasses4head" : [
      "Knowledgeable",
      "Smart",
      "Brainy",
      "Educated",
      "Science",
      "Scholarly"
    ],
    "safetyhelmethead" : [
      "Safe"
    ],
    "vikinghead" : [
      "Plunderin'",
      "Raidin'"
    ],
    "skullmaskhead" : [
      "Spooky",
      "Edgy"
    ],
    "eyepatchhead" : [
      "One-eyed",
      "Winking"
    ],
    "sunglasses1head" : [
      "Rad",
      "Cool",
      "Professional"
    ],
    "buccaneerhead" : [
      "Seafarin'",
      "Seafaring"
    ],
    "bettyhead" : [
      "Mystery"
    ],
    "kittyhead" : [
      "Meowin'",
      "Purring"
    ],
    "fedorahead" : [
      "Intelligent"
    ],
    "glitchroyalhead" : [
      "King",
      "Royal"
    ],
    "plaguedoctorhead" : [
      "Plague",
      "Creepy"
    ],
    "tophathead" : [
      "Gentlemen"
    ],
    "horsehead" : [
      "Horsey"
    ],
    "venetianmaskhead" : [
      "Carnival"
    ],
    "plainhoodhead" : [
      "Hooded"
    ],
    "bevhead" : [
      "Party",
      "Sesh"
    ],
    "frostcrownhead" : [
      "Frosty",
      "Cold",
      "Icy",
      "Frozen",
      "Chill"
    ],
    "deepdiverhead" : [
      "Deep",
      "Sunken",
      "Deep-Sea"
    ],
    "wizardhead" : [
      "Magical"
    ],
    "sheephead" : [
      "Fleecy",
      "Barnyard"
    ],
    "sabertoothhelm" : [
      "Sabertooth"
    ],
    "coolshadeshead" : [
      "Trendy",
      "Stylish"
    ],
    "ladyhathead" : [
      "Foppish"
    ],
    "pharaohhead" : [
      "Ancient"
    ],
    "sharkhead" : [
      "Sharktooth"
    ],
    "spacebirdhead" : [
      "Galactic"
    ],
    "teddyhead" : [
      "Teddy"
    ]
  },

  "genericMid" : [
    " Reaper",
    " Gun",
    " Slayer",
    " Rough",
    " Beat",
    " Slugger",
    " Thug",
    " Trader",
    " Rover",
    " Slammer",
    " Radical",
    " Bandit",
    " Hunter",
    " Fighter",
    " Criminal",
    " Rider",
    " Gunner",
    " Angel",
    " Demon",
    " Bullet",
    " Shooter",
    " Pistol",
    " Snake",
    " Smuggler",
    " Runner",
    " Bolt",
    " Blade",
    " Devil",
    " Crime",
    " Monster",
    " Wrecker",
    " Brute",
    " Enforcer",
    " Sport",
    " Worker",
    " Fool",
    " Bad",
    " Super",
    " Rope",
    " Drifter",
    " Danger",
    " Money",
    " Grip",
    " Venom",
    " Style",
    " Mode",
    " Prophet",
    " Player",
    " Suspect",
    " Rebel",
    " Rocker",
    " Deviant",
    " Assassin"
  ],

  "hatMid" : {
    "bananahead" : [
      " Banana",
      " Potassium"
    ],
    "bunnyhead" : [
      " Hopper"
    ],
    "mughathead" : [
      " Froth",
      " Brew"
    ],
    "plumeknighthead" : [
      " Knight"
    ],
    "bearhead" : [
      " Bear"
    ],
    "hobohead" : [
      " Hobo"
    ],
    "symbiotehead" : [
      " Hivemind",
      " Symbiote"
    ],
    "househathead" : [
      " House",
      " Property"
    ],
    "ironavianhelmethead" : [
      " Rocket"
    ],
    "mushroomhead" : [
      " Mushroom",
      " Toadstool",
      " Fungi"
    ],
    "gagnosehead" : [
      " Clown",
      " Comedian"
    ],
    "jesterhead" : [
      " Joke"
    ],
    "kathoodhead" : [
      " Cat"
    ],
    "gladiatorhead" : [
      " Gladiator"
    ],
    "weldershelmethead" : [
      " Welder"
    ],
    "vikinghead" : [
      " Plunderer",
      " Viking"
    ],
    "skullmaskhead" : [
      " Skull",
      " Terror"
    ],
    "deepdiverhead" : [
      " Diver"
    ],
    "buccaneerhead" : [
      " Sailor",
      " Pirate"
    ],
    "tigerhead" : [
      " Tiger"
    ],
    "glitchroyalhead" : [
      " King",
      " Royal"
    ],
    "plaguedoctorhead" : [
      " Doctor"
    ],
    "valkyriehelm" : [
      " Valkyrie"
    ],
    "sharkhead" : [
      " Shark"
    ],
    "horsehead" : [
      " Horse"
    ],
    "m1helmethead" : [
      " Soldier"
    ],
    "scientisthead" : [
      " Nerd",
      " Scholar"
    ],
    "tvhelmethead" : [
      " Television"
    ],
    "buzzyhead" : [
      " Bee"
    ],
    "wizardhead" : [
      " Wizard",
      " Magician"
    ],
    "hotholidayhead" : [
      " Santa"
    ],
    "sheephead" : [
      " Herder",
      " Sheep"
    ],
    "dinosaurhead" : [
      " Dino"
    ],
    "coolshadeshead" : [
      " Trendsetter"
    ],
    "divingmaskhead" : [
      " Scuba",
      " Diver",
      " Swimmer"
    ],
    "captainshead" : [
      " Captain"
    ],
    "pharaohhead" : [
      " Pharaoh",
      " Sphinx"
    ],
    "pipehat" : [
      " Steam"
    ]
  },

  "suffix" : [
    "s",
    "s",
    "s",
    "s",
    "s",
    "s",
    "s",
    "s",
    "s",
    "s",
    "z",
    "z",
    "z",
    "z",
    " Crew",
    " Gang",
    " Posse",
    " Band",
    " Boys",
    " Company",
    " Syndicate",
    " Associates",
    " Association",
    " Group",
    " Kids",
    " Club",
    " Squad",
    " Clan",
    " Society",
    " Crowd",
    " People",
    " Class",
    " Faction",
    " Party",
    " Troop",
    " Assembly",
    " Bunch",
    " Cartel",
    " Circle",
    " Clique",
    " Lot",
    " League",
    " Pack",
    " Platoon",
    " Trust",
    " Troupe",
    " Legion",
    " Coven",
    " Friends",
    " Buddies",
    " Pals",
    " Collective",
    " Folks",
    " Team",
    " Entourage",
    " Council",
    " Order",
    " Ring",
    " Brigade",
    "s & Co.",
    " Fellowship",
    " Cult",
    " Militia",
    " Union",
    " Family",
    " Mafia",
    " Mob",
    " Force",
    " Punks"
  ]
}
