{
  "assignmentMinSystems" : 4,
  "assignmentMinWorlds" : 25,
  "assignmentMaxSize" : 90,
  "excludePlanetTypes" : [
    "barren",
    "moon",
    "magma",
    "garden"
  ],

  "categories" : [
    "planet",
    "anomaly",
    "ship"
  ],

  "passwords" : [
    [10.7, "1234"],
    [6.0, "1111"],
    [1.9, "0000"],
    [1.2, "1212"],
    [0.75, "7777"],
    [0.6, "1004"],
    [0.6, "2000"],
    [0.5, "4444"],
    [0.5, "2222"],
    [0.5, "6969"],
    [0.45, "9999"],
    [0.4, "3333"],
    [0.4, "5555"],
    [0.4, "6666"],
    [0.35, "1122"],
    [0.3, "1313"],
    [0.3, "8888"],
    [0.3, "4321"],
    [0.3, "2001"],
    [0.3, "1010"],
    [73.25, "random"]
  ],

  "steps" : {
    "cyberspace" : {
      "category" : "planet",
      "quest" : "bounty_cyberspace",
      "questParameters" : {
        "mission" : {
          "type" : "json",
          "world" : "InstanceWorld:cyberspace:<questId>:<threatLevel>"
        }
      },

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "teleport" : {
          "type" : "dungeon",
          "tags" : [ "clue_object" ]
        },
        "bounty" : {
          "type" : "stagehand",
          "stagehand" : "bountyspawn",
          "worldId" : "InstanceWorld:cyberspace:<questId>:<threatLevel>"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn",
          "worldId" : "InstanceWorld:cyberspace:<questId>:<threatLevel>"
        }
      },

      "spawns" : {
        "teleport" : {
          "location" : "teleport",
          "type" : "clueObject"
        },
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "fuel_bounty" : {
      "category" : "planet",
      "quest" : "capture_bounty",
      "questParameters" : {},

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "bounty" : {
          "type" : "dungeon",
          "position" : "surface",
          "tags" : [ "fuel_bounty" ]
        }
      },

      "spawns" : {
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty"
        },
        "gang" : {
          "location" : "bounty",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "capstone_1" : {
      "category" : "planet",
      "quest" : "bounty_mission",
      "questParameters" : {
        "mission" : {
          "type" : "json",
          "world" : "InstanceWorld:bountylair1:<questId>:2",
          "universeFlag" : "outpost_peacekeeper_2"
        }
      },

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "teleport" : {
          "type" : "dungeon",
          "tags" : [ "clue_object" ]
        },
        "bounty" : {
          "type" : "stagehand",
          "stagehand" : "bountyspawn",
          "worldId" : "InstanceWorld:bountylair1:<questId>:2"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn",
          "worldId" : "InstanceWorld:bountylair1:<questId>:2"
        }
      },

      "spawns" : {
        "teleport" : {
          "location" : "teleport",
          "type" : "clueObject"
        },
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "capstone_2" : {
      "category" : "planet",
      "quest" : "bounty_mission",
      "questParameters" : {
        "mission" : {
          "type" : "json",
          "world" : "InstanceWorld:bountylair2:<questId>:3",
          "universeFlag" : "outpost_peacekeeper_3"
        }
      },

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "teleport" : {
          "type" : "dungeon",
          "tags" : [ "clue_object" ]
        },
        "bounty" : {
          "type" : "stagehand",
          "stagehand" : "bountyspawn",
          "worldId" : "InstanceWorld:bountylair2:<questId>:3"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn",
          "worldId" : "InstanceWorld:bountylair2:<questId>:3"
        }
      },

      "spawns" : {
        "teleport" : {
          "location" : "teleport",
          "type" : "clueObject"
        },
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "capstone_3" : {
      "category" : "planet",
      "quest" : "bounty_mission",
      "questParameters" : {
        "warp" : {
          "type" : "json",
          "warpType" : "deploy"
        },
        "mission" : {
          "type" : "json",
          "world" : "InstanceWorld:bountylair3:<questId>:4",
          "universeFlag" : "outpost_peacekeeper_3"
        }
      },

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "teleport" : {
          "type" : "dungeon",
          "tags" : [ "clue_object" ]
        },
        "bounty" : {
          "type" : "stagehand",
          "stagehand" : "bountyspawn",
          "worldId" : "InstanceWorld:bountylair3:<questId>:4"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn",
          "worldId" : "InstanceWorld:bountylair3:<questId>:4"
        }
      },

      "spawns" : {
        "teleport" : {
          "location" : "teleport",
          "type" : "clueObject"
        },
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "capstone_4" : {
      "category" : "planet",
      "quest" : "bounty_mission",
      "questParameters" : {
        "mission" : {
          "type" : "json",
          "world" : "InstanceWorld:bountylair4:<questId>:5",
          "universeFlag" : "outpost_peacekeeper_3"
        }
      },

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "teleport" : {
          "type" : "dungeon",
          "tags" : [ "clue_object" ]
        },
        "bounty" : {
          "type" : "stagehand",
          "stagehand" : "bountyspawn",
          "worldId" : "InstanceWorld:bountylair4:<questId>:5"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn",
          "worldId" : "InstanceWorld:bountylair4:<questId>:5"
        }
      },

      "spawns" : {
        "teleport" : {
          "location" : "teleport",
          "type" : "clueObject"
        },
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },
    
    "find_tutorial_clues" : {
      "category" : "planet",
      "quest" : "find_tutorial_clues",
      "questParameters" : {},
      "clueTypes" : [
        "tutorial"
      ],

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "clue" : {
          "type" : "dungeon",
          "position" : "surface",
          "tags" : [ "tutorial_clue" ]
        }
      },

      "spawns" : {
        "clueItem" : {
          "location" : "clue",
          "type" : "clueItem"
        },
        "clueScan" : {
          "location" : "clue",
          "type" : "clueScan"
        },
        "clueObject" : {
          "location" : "clue",
          "type" : "clueObject"
        },
        "clueNpc" : {
          "location" : "clue",
          "type" : "clueNpc",
          "npc" : {
            "species" : "novakid"
          }
        }
      }
    },
    
    "tutorial_bounty" : {
      "category" : "planet",
      "quest" : "capture_bounty",
      "questParameters" : {},

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "bounty" : {
          "type" : "dungeon",
          "position" : "surface",
          "tags" : [ "tutorial_bounty" ]
        }
      },

      "spawns" : {
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty",
          "behaviorOverrides" : [],
          "npc" : {
            "typeName" : "ignobletarget",
            "species" : "novakid",
            "parameters" : {
              "scriptConfig" : {
                "gang" : {
                  "name" : "Rowdy Peace Disturbers",
                  "hat" : "grouchohead"
                }
              }
            }
          }
        }
      }
    },

    "cultist_mission" : {
      "category" : "planet",
      "quest" : "cultist_mission1",
      "questParameters" : {},
      "coordinate" : {},
      "locations" : {},
      "spawns" : {}
    },

    "kill_monster" : {
      "category" : "planet",
      "quest" : "kill_bounty_monster",
      "questParameters" : {},

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "bounty" : {
          "type" : "dungeon",
          "position" : "surface",
          "tags" : [ "monster_bounty", "minor" ]
        }
      },

      "spawns" : {
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty"
        }
      }
    },

    "find_clue_item" : {
      "category" : "planet",
      "quest" : "find_clue_item",
      "questParameters" : {},
      "clueTypes" : [
        "diversion",
        "planetClue",
        "planetBounty",
        "spaceBounty",
        "spaceClue",
        "scan",
        "decoy",
        "returnVaultItem",
        "returnVaultObject",
        "returnVaultNpc"
      ],

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "clue" : {
          "type" : "dungeon",
          "position" : "surface",
          "tags" : [ "clue_item" ]
        }
      },

      "spawns" : {
        "clue" : {
          "location" : "clue",
          "type" : "clueItem"
        },
        "gang" : {
          "location" : "clue",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "find_clue_scan" : {
      "category" : "planet",
      "quest" : "find_clue_scan",
      "questParameters" : {},
      "clueTypes" : [
        "planetClue",
        "planetBounty",
        "spaceClue",
        "spaceBounty"
      ],

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "clue" : {
          "type" : "dungeon",
          "position" : "surface",
          "tags" : [ "clue_scan" ]
        }
      },

      "spawns" : {
        "clue" : {
          "location" : "clue",
          "type" : "clueScan"
        },
        "gang" : {
          "location" : "clue",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "find_space_clue_item" : {
      "category" : "anomaly",
      "quest" : "find_space_clue_item",
      "questParameters" : {},
      "clueTypes" : [
        "planetClue",
        "planetBounty",
        "spaceBounty",
        "spaceClue",
        "scan"
      ],

      "systemSpawn" : {
        "objectType" : "bountyanomaly"
      },

      "coordinate" : {
        "type" : "system",
        "questParameter" : "system"
      },

      "locations" : {
        "clue" : {
          "type" : "stagehand",
          "stagehand" : "clueroom"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn"
        }
      },

      "spawns" : {
        "clue" : {
          "location" : "clue",
          "type" : "clueItem"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "find_space_clue_scan" : {
      "category" : "anomaly",
      "quest" : "find_space_clue_scan",
      "questParameters" : {},
      "clueTypes" : [
        "planetClue",
        "planetBounty",
        "spaceClue",
        "spaceBounty"
      ],

      "systemSpawn" : {
        "objectType" : "bountyanomaly"
      },

      "coordinate" : {
        "type" : "system",
        "questParameter" : "system"
      },

      "locations" : {
        "clue" : {
          "type" : "stagehand",
          "stagehand" : "clueroom"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn"
        }
      },

      "spawns" : {
        "clue" : {
          "location" : "clue",
          "type" : "clueScan"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "find_space_clue_object" : {
      "category" : "anomaly",
      "quest" : "find_space_clue_object",
      "questParameters" : {},
      "clueTypes" : [
        "planetClue",
        "planetBounty",
        "spaceClue",
        "spaceBounty"
      ],

      "systemSpawn" : {
        "objectType" : "bountyanomaly"
      },

      "coordinate" : {
        "type" : "system",
        "questParameter" : "system"
      },

      "locations" : {
        "clue" : {
          "type" : "stagehand",
          "stagehand" : "clueroom"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn"
        }
      },

      "spawns" : {
        "clue" : {
          "location" : "clue",
          "type" : "clueObject"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "find_clue_object" : {
      "category" : "planet",
      "quest" : "find_clue_object",
      "questParameters" : {
      },
      "clueTypes" : [
        "planetClue",
        "planetBounty",
        "spaceClue",
        "spaceBounty"
      ],

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "clue" : {
          "type" : "dungeon",
          "position" : "surface",
          "tags" : [ "clue_object" ]
        }
      },

      "spawns" : {
        "clue" : {
          "location" : "clue",
          "type" : "clueObject"
        },
        "gang" : {
          "location" : "clue",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    // "scan_planets" : {
    //   "category" : "planet",
    //   "quest" : "scan_planets",
    //   "questParameters" : {},
    //   "clueTypes" : [
    //   ],

    //   "coordinate" : {
    //     "type" : "world",
    //     "questParameter" : "world"
    //   }
    // },

    "find_clue_npc" : {
      "category" : "planet",
      "quest" : "find_clue_npc",
      "questParameters" : {},
      "clueTypes" : [
        "planetBounty",
        "spaceBounty",
        "planetClue",
        "spaceClue",
        "scan"
      ],

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "clue" : {
          "type" : "dungeon",
          "position" : "surface",
          "tags" : [ "clue_npc" ]
        }
      },

      "spawns" : {
        "clue" : {
          "location" : "clue",
          "type" : "clueNpc"
        },
        "gang" : {
          "location" : "clue",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "find_space_clue_npc" : {
      "category" : "anomaly",
      "quest" : "find_space_clue_npc",
      "questParameters" : {},
      "clueTypes" : [
        "planetBounty",
        "spaceBounty",
        "planetClue",
        "spaceClue",
        "scan"
      ],
      
      "systemSpawn" : {
        "objectType" : "bountyanomaly"
      },

      "coordinate" : {
        "type" : "system",
        "questParameter" : "system"
      },

      "locations" : {
        "clue" : {
          "type" : "stagehand",
          "stagehand" : "bountyspawn"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn"
        }
      },

      "spawns" : {
        "clue" : {
          "location" : "clue",
          "type" : "clueNpc"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "find_clue_bounty" : {
      "weight" : 0.25,
      "category" : "planet",
      "quest" : "find_clue_npc",
      "questParameters" : {},
      "clueTypes" : [
        "planetBounty",
        "shipBounty",
        "scan",
        "diversion"
      ],

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "clue" : {
          "type" : "dungeon",
          "position" : "surface",
          "tags" : [ "clue_npc" ]
        }
      },

      "spawns" : {
        "clue" : {
          "location" : "clue",
          "type" : "clueBounty"
        }
      }
    },

    "find_space_clue_bounty" : {
      "weight" : 0.25,
      "category" : "anomaly",
      "quest" : "find_space_clue_npc",
      "questParameters" : {},
      "clueTypes" : [
        "planetBounty",
        "shipBounty",
        "scan"
      ],

      "coordinate" : {
        "type" : "system",
        "questParameter" : "system"
      },

      "systemSpawn" : {
        "objectType" : "bountyanomaly"
      },

      "locations" : {
        "clue" : {
          "type" : "stagehand",
          "stagehand" : "bountyspawn"
        }
      },

      "spawns" : {
        "clue" : {
          "location" : "clue",
          "type" : "clueBounty"
        }
      }
    },

    "capture_bounty" : {
      "category" : "planet",
      "quest" : "capture_bounty",
      "questParameters" : {},

      "coordinate" : {
        "type" : "world",
        "questParameter" : "world"
      },

      "locations" : {
        "bounty" : {
          "type" : "dungeon",
          "position" : "surface",
          "tags" : [ "npc_bounty" ]
        }
      },

      "spawns" : {
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty"
        },
        "gang" : {
          "location" : "bounty",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "capture_space_bounty" : {
      "category" : "anomaly",
      "quest" : "capture_space_bounty",
      "questParameters" : {},

      "coordinate" : {
        "type" : "system",
        "questParameter" : "system"
      },

      "locations" : {
        "bounty" : {
          "type" : "stagehand",
          "stagehand" : "bountyspawn"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn"
        }
      },

      "systemSpawn" : {
        "objectType" : "bountyanomaly"
      },

      "spawns" : {
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    },

    "capture_ship_bounty" : {
      "category" : "ship",
      "quest" : "capture_ship_bounty",
      "questParameters" : {},

      "coordinate" : {
        "type" : "system",
        "questParameter" : "system"
      },

      "systemSpawn" : {
        "objectType" : "bountyship"
      },

      "locations" : {
        "bounty" : {
          "type" : "stagehand",
          "stagehand" : "bountyspawn"
        },
        "gang" : {
          "type" : "stagehand",
          "stagehand" : "gangspawn"
        }
      },

      "spawns" : {
        "bounty" : {
          "location" : "bounty",
          "type" : "bounty"
        },
        "gang" : {
          "location" : "gang",
          "type" : "npc",
          "gangMember" : true,
          "multiple" : true
        }
      }
    }
  },

  "minor" : [
    "kill_monster"
  ],

  "ends" : [
    "capture_bounty",
    "capture_space_bounty",
    "capture_ship_bounty"
  ],

  "edges" : [
    {
      "prev" : {
        "clueType" : "diversion"
      },

      "mid" : {
        "coordinate" : {
          "prevSystem" : true
        },

        "clueType" : "decoy"
      },

      "next" : {
        "step" : "capture_bounty",

        "coordinate" : {
          "type" : "previous",
          "questParameter" : "world"
        },

        "locations" : {
          "bounty" : {
            "type" : "previous",
            "locationName" : "nextBounty",
            "previousLocation" : "clue"
          }
        }
      }
    },

    {
      "prev" : {
        "clueType" : "planetClue"
      },

      "next" : {
        "step" : "find_clue_item"
      }
    },

    {
      "prev" : {
        "clueType" : "planetClue"
      },

      "next" : {
        "step" : "find_clue_scan"
      }
    },

    {
      "prev" : {
        "clueType" : "spaceClue"
      },

      "next" : {
        "step" : "find_clue_scan"
      }
    },

    {
      "prev" : {
        "clueType" : "spaceClue"
      },

      "next" : {
        "step" : "find_space_clue_scan"
      }
    },

    {
      "prev" : {
        "clueType" : "spaceClue"
      },

      "next" : {
        "step" : "find_space_clue_npc"
      }
    },

    {
      "prev" : {
        "clueType" : "spaceClue"
      },

      "next" : {
        "step" : "find_space_clue_item"
      }
    },

    {
      "prev" : {
        "step" : "find_clue_npc",
        "clueType" : "cultistClue1"
      },

      "next" : {
        "step" : "find_space_clue_npc",
        "clueType" : "cultistClue2"
      }
    },

    {
      "prev" : {
        "clueType" : "spaceClue"
      },

      "next" : {
        "step" : "find_space_clue_bounty"
      }
    },

    {
      "prev" : {
        "clueType" : "spaceClue"
      },

      "next" : {
        "step" : "find_space_clue_object"
      }
    },

    {
      "prev" : {
        "clueType" : "planetClue"
      },

      "next" : {
        "step" : "find_clue_object"
      }
    },

    {
      "prev" : {
        "clueType" : "returnVaultItem",
        "password" : "generate",
        "text" : {
          "skipMessage" : "Did you just... Guess that passcode? You're a loose cannon, partner."
        }
      },

      "next" : {
        "step" : "find_clue_item",
        "coordinate" : {
          "prevSystem" : true
        },
        "clueType" : "vaultClue",
        "password" : "previous",
        "text" : {
          "questLog" : "^green;<coordinate.name>^reset;:\nA clue I found here gave me the vault code: <password>.\n\n"
        }
      }
    },

    {
      "prev" : {
        "clueType" : "returnVaultItem",
        "password" : "generate",
        "text" : {
          "skipMessage" : "Did you deduce that passcode with your advanced detective skills? Nice work, partner!"
        }
      },

      "next" : {
        "step" : "find_space_clue_item",
        "coordinate" : {
          "prevSystem" : true
        },
        "clueType" : "vaultClue",
        "password" : "previous",
        "text" : {
          "questLog" : "^green;<coordinate.name>^reset;:\nA clue I found here gave me the vault code: <password>.\n\n"
        }
      }
    },

    {
      "prev" : {
        "clueType" : "returnVaultObject",
        "password" : "generate"
      },

      "next" : {
        "step" : "find_clue_object",
        "coordinate" : {
          "prevSystem" : true
        },
        "clueType" : "vaultClue",
        "password" : "previous",
        "text" : {
          "questLog" : "^green;<coordinate.name>^reset;:\nA console here gave me the vault code: <password>.\n\n"
        }
      }
    },

    {
      "prev" : {
        "clueType" : "returnVaultObject",
        "password" : "generate"
      },

      "next" : {
        "step" : "find_space_clue_object",
        "coordinate" : {
          "prevSystem" : true
        },
        "clueType" : "vaultClue",
        "password" : "previous",
        "text" : {
          "questLog" : "^green;<coordinate.name>^reset;:\nA console here gave me the vault code: <password>.\n\n"
        }
      }
    },

    {
      "prev" : {
        "clueType" : "returnVaultNpc",
        "password" : "generate",
        "text" : {
          "skipMessage" : "Are you... Psychic?"
        }
      },

      "next" : {
        "step" : "find_clue_npc",
        "coordinate" : {
          "prevSystem" : true
        },
        "clueType" : "vaultClue",
        "password" : "previous",
        "text" : {
          "questLog" : "^green;<coordinate.name>^reset;:\nAfter some persuasion, a lackey provided me with the code for the vault: <password>.\n\n"
        }
      }
    },

    {
      "prev" : {
        "clueType" : "returnVaultNpc",
        "password" : "generate",
        "text" : {
          "skipMessage" : "No password-protected vault can slow you down, huh?"
        }
      },

      "next" : {
        "step" : "find_space_clue_npc",
        "coordinate" : {
          "prevSystem" : true
        },
        "clueType" : "vaultClue",
        "password" : "previous",
        "text" : {
          "questLog" : "^green;<coordinate.name>^reset;:\nAfter some persuasion, a lackey provided me with the code for the vault: <password>.\n\n"
        }
      }
    },

    {
      "prev" : {
        "step" : "find_clue_item",

        "locations" : {
          "clue" : {
            "tags" : [ "vault" ]
          }
        },

        "spawns" : {
          "clue" : {
            "stagehand" : "storageclue"
          },
          "keypad" : {
            "location" : "clue",
            "type" : "keypad",
            "objectType" : "keypad",
            // If opened on this step, skip this step and the next
            "skipSteps" : 2
          },
          "vaultClue" : {
            "type" : "otherStep",
            "spawn" : "clue"
          }
        }
      },

      "mid" : {
        "clueType" : "vaultClue",
        "text" : {
          "skipMessage" : "Nice hacking, partner! What were the chances that you would successfully guess that?"
        }
      },

      "next" : {
        "step" : "find_clue_item",

        "coordinate" : {
          "type" : "previous",
          "questParameter" : "world"
        },

        "locations" : {
          "clue" : {
            "type" : "previous",
            "previousLocation" : "clue"
          }
        },

        "spawns" : {
          "clue" : {
            "stagehand" : "vaultitemspawn"
          }
        },

        "password" : "previous"
      }
    },

    {
      "prev" : {
        "step" : "find_clue_item",

        "locations" : {
          "clue" : {
            "tags" : [ "vault" ]
          }
        },

        "spawns" : {
          "clue" : {
            "stagehand" : "storageclue"
          },
          "keypad" : {
            "location" : "clue",
            "type" : "keypad",
            "objectType" : "keypad",
            // If opened on this step, skip this step and the next
            "skipSteps" : 2
          },
          "vaultClue" : {
            "type" : "otherStep",
            "spawn" : "clue"
          }
        }
      },

      "mid" : {
        "clueType" : "vaultClue",
        "text" : {
          "skipMessage" : "We didn't even find that code yet. Impressive hacking, partner!"
        }
      },

      "next" : {
        "step" : "find_clue_npc",

        "coordinate" : {
          "type" : "previous",
          "questParameter" : "world"
        },

        "locations" : {
          "clue" : {
            "type" : "previous",
            "previousLocation" : "clue"
          }
        },

        "spawns" : {
          "clue" : {
            "stagehand" : "vaultnpcspawn"
          }
        },

        "password" : "previous"
      }
    },

    {
      "prev" : {
        "step" : "find_clue_item",

        "locations" : {
          "clue" : {
            "tags" : [ "vault" ]
          }
        },

        "spawns" : {
          "clue" : {
            "stagehand" : "storageclue"
          },
          "keypad" : {
            "location" : "clue",
            "type" : "keypad",
            "objectType" : "keypad",
            // If opened on this step, skip this step and the next
            "skipSteps" : 2
          },
          "vaultBounty" : {
            "type" : "otherStep",
            "spawn" : "bounty"
          }
        }
      },

      "mid" : {
        "clueType" : "vaultClue",
        "text" : {
          "skipMessage" : "I like your style - no need to find the vault code, just guess it! Nice work, partner!"
        }
      },

      "next" : {
        "step" : "capture_bounty",

        "coordinate" : {
          "type" : "previous",
          "questParameter" : "world"
        },

        "locations" : {
          "bounty" : {
            "type" : "previous",
            "previousLocation" : "clue"
          }
        },

        "spawns" : {
          "bounty" : {
            "stagehand" : "vaultnpcspawn"
          }
        },

        "password" : "previous"
      }
    },

    {
      "prev" : {
        "clueType" : "planetBounty"
      },

      "next" : {
        "step" : "capture_bounty"
      }
    },

    {
      "prev" : {
        "clueType" : "spaceBounty"
      },

      "next" : {
        "step" : "capture_space_bounty"
      }
    },

    {
      "prev" : {
        "clueType" : "planetClue"
      },

      "next" : {
        "step" : "find_clue_npc"
      }
    },

    {
      "prev" : {
        "clueType" : "planetClue"
      },

      "next" : {
        "step" : "find_clue_bounty"
      }
    },

    {
      "prev" : {
        "clueType" : "planetClue"
      },

      "next" : {
        "step" : "capstone_1"
      }
    },

    {
      "prev" : {
        "clueType" : "planetClue"
      },

      "next" : {
        "step" : "capstone_2"
      }
    },

    {
      "prev" : {
        "clueType" : "planetClue"
      },

      "next" : {
        "step" : "capstone_3"
      }
    },

    {
      "prev" : {
        "clueType" : "planetClue"
      },

      "next" : {
        "step" : "capstone_4"
      }
    },

    {
      "prev" : {
        "clueType" : "cultistClue2"
      },

      "next" : {
        "step" : "cultist_mission"
      }
    },

    {
      "prev" : {
        "clueType" : "tutorial",

        "text" : {
          "message" : "Nice work findin' all those clues, partner! You have enough info to track down the rowdy ^green;Captain Ignoble^reset; now!"
        }
      },

      "next" : {
        "step" : "tutorial_bounty",

        "coordinate" : {
          "prevSystem" : true
        },

        "text" : {
          "message" : "I can't believe it, partner! You took down the mysterious and handsome ^orange;Captain Ignoble^reset;! ^orange;Return to the Peacekeeper Station^reset; for a new assignment."
        }
      }
    },

    // {
    //   "prev" : {
    //     "clueType" : "scan"
    //   },

    //   "next" : {
    //     "step" : "scan_planets"
    //   }
    // },

    // {
    //   "prev" : {
    //     "step" : "scan_planets",

    //     "text" : {
    //       "message" : "We have picked up the target's signature from this planet. Proceed down to <next.coordinate.name> and apprehend the criminal."
    //     }
    //   },

    //   "next" : {
    //     "step" : "capture_bounty",

    //     "coordinate" : {
    //       "type" : "previous",
    //       "questParameter" : "world"
    //     }
    //   }
    // },

    // {
    //   "prev" : {
    //     "step" : "scan_planets",

    //     "text" : {
    //       "message" : "We have picked up the target's signature from this planet. Proceed down to <next.coordinate.name> to investigate further."
    //     }
    //   },

    //   "next" : {
    //     "step" : "find_clue_npc",

    //     "coordinate" : {
    //       "type" : "previous",
    //       "questParameter" : "world"
    //     }
    //   }
    // },

    // {
    //   "prev" : {
    //     "step" : "scan_planets",

    //     "text" : {
    //       "message" : "We have picked up the target's signature from this planet. Proceed down to <next.coordinate.name> to investigate further."
    //     }
    //   },

    //   "next" : {
    //     "step" : "find_clue_bounty",

    //     "coordinate" : {
    //       "type" : "previous",
    //       "questParameter" : "world"
    //     }
    //   }
    // },

    // {
    //   "prev" : {
    //     "step" : "scan_planets",

    //     "text" : {
    //       "message" : "We have picked up the target's signature from this planet. Proceed down to <next.coordinate.name> to investigate further."
    //     }
    //   },

    //   "next" : {
    //     "step" : "find_clue_object",

    //     "coordinate" : {
    //       "type" : "previous",
    //       "questParameter" : "world"
    //     }
    //   }
    // },

    // {
    //   "prev" : {
    //     "step" : "scan_planets",

    //     "text" : {
    //       "message" : "We've' picked up the target's signature from this planet. Proceed down to <next.coordinate.name> to investigate further."
    //     }
    //   },

    //   "next" : {
    //     "step" : "find_clue_item",

    //     "coordinate" : {
    //       "type" : "previous",
    //       "questParameter" : "world"
    //     }
    //   }
    // },

    {
      "prev" : {
        "step" : "find_clue_bounty",
        "clueType" : "shipBounty"
      },

      "next" : {
        "step" : "capture_ship_bounty",
        "coordinate" : {
          "type" : "previous",
          "questParameter" : "system"
        }
      }
    }
  ]
}
