{
  "systemNames" : [
    [1.0, "英仙座" ],
    [1.0, "仙王座" ],
    [1.0, "狮子座" ],
    [1.0, "长蛇座" ],
    [1.0, "天兔座" ],
    [1.0, "仙女座" ],
    [1.0, "宝瓶座" ],
    [1.0, "御夫座" ],
    [1.0, "南冕座" ],
    [1.0, "巨蟹座" ],
    [1.0, "犬座" ],
    [1.0, "船底座" ],
    [1.0, "仙后座" ],
    [1.0, "鲸鱼座" ],
    [1.0, "南冕座" ],
    [1.0, "巨爵座" ],
    [1.0, "南十字座" ],
    [1.0, "南十字座" ],
    [1.0, "天鹅座" ],
    [1.0, "天龙座" ],
    [1.0, "波江座" ],
    [1.0, "天鹤座" ],
    [1.0, "武仙座" ],
    [1.0, "天猫座" ],
    [1.0, "天琴座" ],
    [1.0, "猎户座" ],
    [1.0, "飞马座" ],
    [1.0, "凤凰座" ],
    [1.0, "双鱼座" ],
    [1.0, "射手座" ],
    [1.0, "天蝎座" ],
    [1.0, "金牛座" ],
    [1.0, "三角座" ],
    [1.0, "处女座" ],
    [1.0, "仙女座" ],
    [1.0, "白羊座" ],
    [1.0, "乌鸦座" ],
    [1.0, "山案座" ],
    [1.0, "天圆六" ],
    [1.0, "水卫一" ],
    [1.0, "王良三" ],
    [1.0, "十字架二" ],
    [1.0, "柳宿增三" ],
    [1.0, "轩辕十一" ],
    [1.0, "弧矢七" ],
    [1.0, "毕宿一" ],
    [1.0, "辇道" ],
    [1.0, "织女增三" ],
    [1.0, "建三" ],
    [1.0, "女宿一" ],
    [1.0, "辇道增七" ],
    [1.0, "右辖" ],
    [1.0, "开阳增一" ],
    [1.0, "昴宿六" ],
    [1.0, "毕宿五" ],
    [1.0, "天钩五" ],
    [1.0, "鳖六" ],
    [1.0, "上卫增一" ],
    [1.0, "垒壁阵四" ],
    [1.0, "壁宿一" ],
    [1.0, "轩辕九" ],
    [1.0, "轩辕十二" ],
    [1.0, "大陵五" ],
    [1.0, "井宿三" ],
    [1.0, "勾陈四" ],
    [1.0, "玉衡" ],
    [1.0, "摇光" ],
    [1.0, "七公六" ],
    [1.0, "轸宿三" ],
    [1.0, "太阳守" ],
    [1.0, "翼宿一" ],
    [1.0, "柱一" ],
    [1.0, "天大将军一" ],
    [1.0, "轩辕七" ],
    [1.0, "柳宿二" ],
    [1.0, "鹤一" ],
    [1.0, "箕宿一" ],
    [1.0, "参宿二" ],
    [1.0, "参宿一" ],
    [1.0, "心宿一" ],
    [1.0, "阿尔法" ],
    [1.0, "星宿一" ],
    [1.0, "贯索四" ],
    [1.0, "壁宿二" ],
    [1.0, "外屏七" ],
    [1.0, "天厨二" ],
    [1.0, "上台增四" ],
    [1.0, "虚宿一" ],
    [1.0, "天厨一" ],
    [1.0, "牛郎星" ],
    [1.0, "柳宿增十" ],
    [1.0, "轩辕八" ],
    [1.0, "天弁七" ],
    [1.0, "弧矢二" ],
    [1.0, "下台二" ],
    [1.0, "轩辕九" ],
    [1.0, "下台一" ],
    [1.0, "天市左垣七" ],
    [1.0, "井宿四" ],
    [1.0, "火鸟六" ],
    [1.0, "齐增五" ],
    [1.0, "心宿二" ],
    [1.0, "勾陈增九" ],
    [1.0, "大角" ],
    [1.0, "天渊二" ],
    [1.0, "天棓增九" ],
    [1.0, "斗宿六" ],
    [1.0, "天枪三" ],
    [1.0, "海石二" ],
    [1.0, "卷舌增七" ],
    [1.0, "昴宿七" ],
    [1.0, "三角形三" ],
    [1.0, "海石一" ],
    [1.0, "天苑六" ],
    [1.0, "天仓四" ],
    [1.0, "九州殊口二" ],
    [1.0, "参宿五" ],
    [1.0, "贝塔区" ],
    [1.0, "参宿四" ],
    [1.0, "危宿二" ],
    [1.0, "老人星" ],
    [1.0, "五车二" ],
    [1.0, "王良一" ],
    [1.0, "井宿一" ],
    [1.0, "宗正一" ],
    [1.0, "昴宿增十六" ],
    [1.0, "常陈四" ],
    [1.0, "太微右垣四" ],
    [1.0, "王良三" ],
    [1.0, "常陈一" ],
    [1.0, "玉井三" ],
    [1.0, "天鹅座X-1" ],
    [1.0, "牛宿一" ],
    [1.0, "奎宿五" ],
    [1.0, "五帝座一" ],
    [1.0, "太微左垣五" ],
    [1.0, "房宿三" ],
    [1.0, "天枢" ],
    [1.0, "左枢" ],
    [1.0, "昴宿一" ],
    [1.0, "五车五" ],
    [1.0, "天棓四" ],
    [1.0, "危宿三" ],
    [1.0, "少卫增八" ],
    [1.0, "埃塔" ],
    [1.0, "北落师门" ],
    [1.0, "孙增一" ],
    [1.0, "十字架一" ],
    [1.0, "伽马" ],
    [1.0, "石榴石" ],
    [1.0, "上辅" ],
    [1.0, "天津九" ],
    [1.0, "尾宿七" ],
    [1.0, "南河二" ],
    [1.0, "大陵增十八" ],
    [1.0, "房宿四" ],
    [1.0, "天棓一" ],
    [1.0, "马腹一" ],
    [1.0, "柱二" ],
    [1.0, "天仓一" ],
    [1.0, "角宿二" ],
    [1.0, "汉德" ],
    [1.0, "雷电一" ],
    [1.0, "毕宿四" ],
    [1.0, "垒壁阵七" ],
    [1.0, "约塔" ],
    [1.0, "梗河一" ],
    [1.0, "键闭" ],
    [1.0, "天囷八" ],
    [1.0, "豺狼座" ],
    [1.0, "卡帕" ],
    [1.0, "箕宿三" ],
    [1.0, "虚宿二" ],
    [1.0, "北极二" ],
    [1.0, "河中" ],
    [1.0, "轸宿四" ],
    [1.0, "右更二" ],
    [1.0, "天棓二" ],
    [1.0, "天钩六" ],
    [1.0, "拉姆达" ],
    [1.0, "尾宿九" ],
    [1.0, "昴宿四" ],
    [1.0, "列肆二" ],
    [1.0, "室宿一" ],
    [1.0, "天社五" ],
    [1.0, "列肆二" ],
    [1.0, "离宫四" ],
    [1.0, "井宿五" ],
    [1.0, "天权" ],
    [1.0, "觜宿一" ],
    [1.0, "井宿七" ],
    [1.0, "五车三" ],
    [1.0, "天囷一" ],
    [1.0, "库楼三" ],
    [1.0, "卷舌三" ],
    [1.0, "天璇" ],
    [1.0, "昴宿五" ],
    [1.0, "娄宿二" ],
    [1.0, "南船五" ],
    [1.0, "十字架三" ],
    [1.0, "轸宿二" ],
    [1.0, "参宿三" ],
    [1.0, "天船一" ],
    [1.0, "梗河一" ],
    [1.0, "天船三" ],
    [1.0, "军市一" ],
    [1.0, "奎宿九" ],
    [1.0, "娄宿增六" ],
    [1.0, "天枪三" ],
    [1.0, "库楼七" ],
    [1.0, "天狼增四" ],
    [1.0, "天狼增四" ],
    [1.0, "右摄提一" ],
    [1.0, "内阶增七" ],
    [1.0, "弧矢增二十二" ],
    [1.0, "壁垒阵三" ],
    [1.0, "七公增五" ],
    [1.0, "厕二" ],
    [1.0, "轩辕九" ],
    [1.0, "斗宿四" ],
    [1.0, "贯索三" ],
    [1.0, "欧米茄" ],
    [1.0, "鲸鱼座" ],
    [1.0, "孔雀座" ],
    [1.0, "波斯" ],
    [1.0, "丈人一" ],
    [1.0, "天玑" ],
    [1.0, "勾陈增五" ],
    [1.0, "斐" ],
    [1.0, "派" ],
    [1.0, "普拉斯基特" ],
    [1.0, "昴宿增十二" ],
    [1.0, "南极星" ],
    [1.0, "波利斯" ],
    [1.0, "北河三" ],
    [1.0, "太微左垣二" ],
    [1.0, "势四" ],
    [1.0, "南河三" ],
    [1.0, "钺" ],
    [1.0, "半人马比邻星" ],
    [1.0, "普西" ],
    [1.0, "天苑三" ],
    [1.0, "轩辕十" ],
    [1.0, "天棓三" ],
    [1.0, "天社一" ],
    [1.0, "轩辕十四" ],
    [1.0, "参宿七" ],
    [1.0, "南门二" ],
    [1.0, "瓠瓜四" ],
    [1.0, "天津增三十七" ],
    [1.0, "阁道三" ],
    [1.0, "天渊三" ],
    [1.0, "宋" ],
    [1.0, "坟墓二" ],
    [1.0, "离宫二" ],
    [1.0, "危宿一" ],
    [1.0, "虚宿一" ],
    [1.0, "天津一" ],
    [1.0, "参宿六" ],
    [1.0, "室宿二" ],
    [1.0, "阁道二" ],
    [1.0, "招摇" ],
    [1.0, "左旗一" ],
    [1.0, "尾宿八" ],
    [1.0, "王良四" ],
    [1.0, "渐台二" ],
    [1.0, "娄宿一" ],
    [1.0, "西格玛" ],
    [1.0, "天狼" ],
    [1.0, "土卫二十七" ],
    [1.0, "角宿一" ],
    [1.0, "瓠瓜一" ],
    [1.0, "轩辕十五" ],
    [1.0, "老人星" ],
    [1.0, "渐台三" ],
    [1.0, "亢宿二" ],
    [1.0, "参旗六" ],
    [1.0, "上台二" ],
    [1.0, "河鼓三" ],
    [1.0, "毕宿五" ],
    [1.0, "昴宿二" ],
    [1.0, "水位四" ],
    [1.0, "井宿一" ],
    [1.0, "西塔" ],
    [1.0, "右枢" ],
    [1.0, "海石二" ],
    [1.0, "蜀" ],
    [1.0, "织女星" ],
    [1.0, "东次将" ],
    [1.0, "天樽二" ],
    [1.0, "弧矢一" ],
    [1.0, "玄戈增二" ],
    [1.0, "勾陈二" ],
    [1.0, "左执法" ],
    [1.0, "火鸟六" ],
    [1.0, "右执法" ],
    [1.0, "塞塔" ],
    [1.0, "天苑五" ],
    [1.0, "西上相" ],
    [1.0, "氐宿一" ],
    [1.0, "氐宿四" ],
    [1.0, "西咸四" ],
    // community additions
    [1.0, "鸢尾" ],
    [1.0, "玛莎" ],
    [1.0, "月亮" ],
    [1.0, "独立" ],
    [1.0, "泰伊" ],
    [1.0, "徳曼里斯" ],
    [1.0, "毁灭" ],
    [1.0, "大筛" ],
    [1.0, "绚糖" ],
    [1.0, "阿拉库利" ],
    [1.0, "韦嘉伦" ],
    [1.0, "巴特维" ],
    [1.0, "脉搏" ],
    [1.0, "艾里克西斯" ],
    [1.0, "玉兰" ],
    [1.0, "瓦克萨斯" ],
    [1.0, "悉尼" ],
    [1.0, "奈耶" ],
    [1.0, "本影" ],
    [1.0, "雷" ],
    [1.0, "超结点" ],
    [1.0, "万花筒" ],
    [1.0, "重因" ],
    [1.0, "科洛克" ],
    [1.0, "仙境传说" ],
    [1.0, "图图基" ],
    [1.0, "焦" ],
    [1.0, "水" ],
    [1.0, "天" ],
    [1.0, "影" ],
    [1.0, "坏死" ],
    [1.0, "低温" ],
    [1.0, "电子" ],
    [1.0, "德拉科" ],
    [1.0, "计时" ],
    [1.0, "大玻璃" ],
    [1.0, "全益" ],
    [1.0, "全雄" ],
    [1.0, "乌尼欧斯" ],
    [1.0, "端尼亚" ],
    [1.0, "特里亚西" ],
    [1.0, "卡塔尔" ],
    [1.0, "凌万" ],
    [1.0, "同化" ],
    [1.0, "抽取" ],
    [1.0, "速率" ],
    [1.0, "迄今" ],
    [1.0, "柚木" ],
    [1.0, "维克斯" ],
    [1.0, "翁布里亚" ],
    [1.0, "大学" ],
    [1.0, "奥米克伦" ],
    [1.0, "艾普西洛" ],
    [1.0, "提语涛利阿尔法星" ],
    [1.0, "提语利阿尔法星" ],
    [1.0, "日" ],
    [1.0, "朔望" ],
    [1.0, "阿尔迪斯" ],
    [1.0, "里拉" ],
    [1.0, "汽笛风琴" ],
    [1.0, "克里欧" ],
    [1.0, "埃拉托" ],
    [1.0, "司箫星" ],
    [1.0, "司曲星" ],
    [1.0, "司瑟星" ],
    [1.0, "司舞星" ],
    [1.0, "司剧星" ],
    [1.0, "司天星" ],
    [1.0, "底木" ],
    [1.0, "爱乐比斯" ],
    [1.0, "阴沉" ],
    [1.0, "左墨" ],
    [1.0, "泰勒达尔" ],
    [1.0, "布拉姆" ],
    [1.0, "霍伊尔" ],
    [1.0, "维克斯阿里乌斯" ],
    [1.0, "美裕" ],
    [1.0, "失手" ],
    [1.0, "克沃姆" ],
    [1.0, "锅" ],
    [1.0, "启嘛卡" ],
    [1.0, "马尔森" ],
    [1.0, "阿丹亭" ],
    [1.0, "兰法" ],
    [1.0, "巴巴伦" ],
    [1.0, "希塔" ],
    [1.0, "高塔姆" ],
    [1.0, "梵歌" ],
    [1.0, "卖萌" ],
    [1.0, "坐垫" ],
    [1.0, "每间" ],
    [1.0, "阿顿" ],
    [1.0, "治权" ],
    [1.0, "飞乐" ],
    [1.0, "冠冕" ],
    [1.0, "比埃尔" ],
    [1.0, "比波布鲁克斯" ],
    [1.0, "赢国" ],
    [1.0, "色勒斯蒂亚" ],
    [1.0, "罐面" ],
    [1.0, "惊讶" ],
    [1.0, "老兄" ],
    [1.0, "泽鲁斯" ],
    [1.0, "幻错" ],
    [1.0, "马屁" ],
    [1.0, "奥布赛克里" ],
    [1.0, "土卫七" ],
    [1.0, "基普科隆" ],
    [1.0, "超坤" ],
    [1.0, "泽尔" ],
    [1.0, "普克索利尔" ],
    [1.0, "莱笛特润" ],
    [1.0, "瓦石" ],
    [1.0, "曼格拉斯" ],
    [1.0, "蟋蟀" ],
    [1.0, "威尔特沃多VI" ],
    [1.0, "米格力" ],
    [1.0, "阿列戈斯" ],
    [1.0, "皮琴" ],
    [1.0, "赛泽阿斯" ],
    [1.0, "尤勒尼亚" ],
    [1.0, "耳脖" ],
    [1.0, "赞塔利亚" ],
    [1.0, "伊卡洛斯" ],
    [1.0, "西西维尔斯" ],
    [1.0, "阿瑟巴斯" ],
    [1.0, "滨崎步" ],
    [1.0, "砂海滨" ],
    [1.0, "黑" ],
    [1.0, "克鲁坦" ],
    [1.0, "奈奈托" ],
    [1.0, "契斯堤" ],
    [1.0, "心爱" ],
    [1.0, "埃塔利徳" ],
    [1.0, "切托纳拉斯" ],
    [1.0, "拉克希德" ],
    [1.0, "逗你玩" ],
    [1.0, "伽玛克里克" ],
    [1.0, "绍纳豆" ],
    [1.0, "西若露" ],
    [1.0, "享御" ],
    [1.0, "兔形目" ],
    [1.0, "多伊" ],
    [1.0, "摩伊赖" ],
    [1.0, "地狱" ],
    [1.0, "以太" ],
    [1.0, "阿帕忒" ],
    [1.0, "奥伊季斯" ],
    [1.0, "拉塔托斯克" ],
    [1.0, "塔那托斯" ],
    [1.0, "世界树" ],
    [1.0, "盖娅" ],
    [1.0, "俄涅洛伊" ],
    [1.0, "格拉斯" ],
    [1.0, "格拉斯" ],
    [1.0, "厄瑞波斯" ],
    [1.0, "英特格拉" ],
    [1.0, "守护" ],
    [1.0, "亚维斯" ],
    [1.0, "拉克莱希尔" ],
    [1.0, "马奎娅" ],
    [1.0, "帕莱蒂" ],
    [1.0, "夏尔西顿" ],
    [1.0, "尼禄诺亚" ],
    [1.0, "灵液" ],
    [1.0, "露露里特" ],
    [1.0, "莱斯蒂亚" ],
    [1.0, "子午" ],
    [1.0, "泰塞拉" ],
    [1.0, "袜子" ],
    [1.0, "镰刀" ],
    [1.0, "海尔格维萨" ],
    [1.0, "艾斯特莱克斯" ],
    [1.0, "左尔麦徳拉" ],
    [1.0, "孟德葛尔" ],
    [1.0, "卓尔" ],
    [1.0, "普里曼徳" ],
    [1.0, "鲸鱼九" ],
    [1.0, "凡拉贡" ],
    [1.0, "阿可若" ],
    [1.0, "卡拉西斯" ],
    [1.0, "保障" ],
    [1.0, "塔纳托斯" ],
    [1.0, "瑙鲁因" ],
    [1.0, "乌鸦" ],
    [1.0, "乔逊" ],
    [1.0, "奥姆尼科尔帕" ],
    [1.0, "斯特嘎玛吉斯特" ],
    [1.0, "暗色调" ],
    [1.0, "瓠瓜四" ],
    [1.0, "右更四" ],
    [1.0, "福里布里尔斯萨尔斯" ],
    [1.0, "法戈VIII" ],
    [1.0, "天体" ],
    [1.0, "骨" ],
    [1.0, "长" ],
    [1.0, "伦徳" ],
    [1.0, "维塔斯吉甘塔斯" ],
    [1.0, "艾希比亚" ],
    [1.0, "气功" ],
    [1.0, "奥赛因" ],
    [1.0, "埃屏一" ],
    [1.0, "茵宝" ],
    [1.0, "埃雷尔" ],
    [1.0, "奥维" ],
    [1.0, "西尔维纳" ],
    [1.0, "奥托匹亚" ],
    [1.0, "埃布洛克西利娅" ],
    [1.0, "奥里克斯" ],
    [1.0, "辛比利亚斯" ],
    [1.0, "马克西姆斯" ],
    [1.0, "纵火" ],
    [1.0, "帕科米亚姆" ],
    [1.0, "因特莱普利亚姆" ],
    [1.0, "埃克西米亚" ],
    [1.0, "阿诶里亚" ],
    [1.0, "马开西安" ],
    [1.0, "琴普斯" ],
    [1.0, "洛克斯多尔" ],
    [1.0, "马林纳斯" ],
    [1.0, "夏尔" ],
    [1.0, "麦格纳卢波" ],
    [1.0, "耳咽管" ],
    [1.0, "雷帕" ],
    [1.0, "哥白尼" ],
    [1.0, "宝马" ],
    [1.0, "拉斯西亚" ],
    [1.0, "赛内特" ],
    [1.0, "贝尔托纳斯" ],
    [1.0, "外热米尔" ],
    [1.0, "都米勒" ],
    [1.0, "盖斯麦热" ],
    [1.0, "凯厄斯" ],
    [1.0, "兴" ],
    [1.0, "温都尔" ],
    [1.0, "莫托伦" ],
    [1.0, "流明" ],
    [1.0, "外卖" ],
    [1.0, "落羽松二酮" ],
    [1.0, "烤星" ],
    [1.0, "沃特罗纱" ],
    [1.0, "米娅" ],
    [1.0, "多普勒代" ],
    [1.0, "终结者" ],
    [1.0, "灵性之友" ],
    [1.0, "木卫三十六" ],
    [1.0, "阿斯特里克" ],
    [1.0, "欧特姆" ],
    [1.0, "托莫琪" ],
    [1.0, "勒克索尔" ],
    [1.0, "川泰克" ],
    [1.0, "高级" ],
    [1.0, "奥拉贝利" ],
    [1.0, "梅尔波门尼亚" ],
    [1.0, "多普勒代" ],
    [1.0, "戈登" ],
    [1.0, "乌赛雷克斯" ],
    [1.0, "馄饨" ],
    [1.0, "亚利昂" ],
    [1.0, "格拉洛斯" ],
    [1.0, "巴朗" ],
    [1.0, "麦子格洛格" ],
    [1.0, "格莱内斯" ],
    [1.0, "泽局" ],
    [1.0, "斯露徳亨" ],
    [1.0, "爱丽丝" ],
    [1.0, "哈罗贝徳" ],
    [1.0, "斯卡杰" ],
    [1.0, "玛雅" ],
    [1.0, "莉莉斯" ],
    [1.0, "暮木" ],
    [1.0, "撒比" ],
    [1.0, "瓦石" ],
    [1.0, "蕾娜" ],
    [1.0, "克里森" ],
    [1.0, "理事会" ],
    [1.0, "德克斯特" ],
    [1.0, "克罗斯堡" ],
    [1.0, "莱斯洛依" ],
    [1.0, "斯鲁" ],
    [1.0, "鲁西安" ],
    [1.0, "盖丽安" ],
    [1.0, "瓦斯托蓝" ],
    [1.0, "安德里亚" ],
    [1.0, "格拉多斯" ]

  ],

  "systemPrefixNames" : [
  ],

  "systemSuffixNames" : [
    [1.0, "大" ],
    [1.0, "小" ],
    [1.0, "主" ],
    [1.0, "团" ],
    [1.0, "盆地" ],    
    [1.0, "流" ],
    [1.0, "波峰" ],
    [1.0, "贝塔" ],
    [1.0, "环" ],
    [1.0, "伽马" ],
    [1.0, "联" ],
    [1.0, "穴" ],
    [1.0, "边境" ],
    [1.0, "荒芜" ],
    [1.0, "广阔" ],
    [1.0, "面纱" ],
    [1.0, "起源" ],
    [1.0, "源点" ],
    [1.0, "苏醒" ],
    [1.0, "暗隙" ],
    [1.0, "西格玛" ], 
    [1.0, "德尔塔" ],
    [1.0, "脊" ],
    [1.0, "静" ],
    [1.0, "食" ],
    [1.0, "潮" ],
    [1.0, "变" ],
    [1.0, "阶" ],
    [1.0, "质量" ],
    [1.0, "星群" ],
    [1.0, "蛾眉" ],
    [1.0, "无数" ],
    [1.0, "很多" ],
    [1.0, "星表" ],
    [1.0, "特拉弗斯" ],
    [1.0, "缕" ],
    [1.0, "领会" ],
    [1.0, "沼泽" ],
    [1.0, "悬崖" ],
    [1.0, "泥" ],
    [1.0, "站" ],
    [1.0, "" ]
  ],

  "planetarySuffixes" : [ "^green;I^white;", "^green;II^white;", "^green;III^white;", "^green;IV^white;", "^green;V^white;", "^green;VI^white;", "^green;VII^white;", "^green;VIII^white;", "^green;IX^white;", "^green;X^white;", "^green;XI^white;", "^green;XII^white;" ],
  "satelliteSuffixes" : [ "^white;- ^yellow;a^white;", "^white;- ^yellow;b^white;", "^white;- ^yellow;c^white;", "^white;- ^yellow;d^white;", "^white;- ^yellow;e^white;", "^white;- ^yellow;f^white;", "^white;- ^yellow;g^white;", "^white;- ^yellow;h^white;", "^white;- ^yellow;i^white;", "^white;- ^yellow;j^white;", "^white;- ^yellow;k^white;", "^white;- ^yellow;l^white;" ]
}
