{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说中的", "妹子的", "无节操的", "绅士的", "神圣的", "迷人的", "珍贵的", "可怕的", "邪恶的", "熊孩子的", "锐利的", "野蛮的", "魔鬼的", "危险的", "专业的", "不死的", "悸动的", "恶魔的", "愉快的", "悲剧的", "幸福的", "萌萌的", "警惕的", "尖叫的", "悲惨的", "波涛汹涌的", "海盗的", "雷鸣的", "单调的", "骨制的", "带骨的", "多骨的", "骸骨的", "致命的", "软弱的", "死亡的", "死神的", "骨骼的", "骷髅的", "腐朽的", "脱色的", "骇客", "毛骨悚然的", "吓人的", "黯淡的", "冥府的", "埋葬的" ],
      [ { "mode" : "alts" }, "杀戮", "苍雷", "毁灭", "风暴", "帅小伙", "逆行", "狂怒", "战斗", "恐怖", "粉碎", "撕裂", "排骨", "摩擦", "灌篮", "重击", "脊椎", "颅骨", "听觉", "嗅觉", "猿人", "植物", "鸟人", "渔夫", "高达", "鲜肉", "兄弟", "异形", "摇滚", "木制", "星空", "空间", "行星", "驯鹿", "破晓", "黄昏" ],
      [ { "mode" : "alts" }, "切碎机", "射手", "铁锤", "榨汁机", "切丁机", "重剑", "重击者", "破法者", "盾卫者", "打击者", "杀手", "牧羊犬", "冲击波", "接吻者", "僵尸克星", "帅小伙", "投手", "使者", "恋人", "肥皂" ]
    ]
  ]
}
