{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "骨头", "骨棒", "排骨", "骸骨", "致命", "软骨", "死亡", "死神", "骨架", "骷髅", "腐朽", "哥特", "恐怖", "惊骇", "恐惧", "死亡", "坟墓", "墓穴" ],
      [ { "mode" : "alts" }, "粉碎者", "斧头", "切碎机", "切丁机", "渲染器", "切片机", "入侵者", "切割机", "杀手", "断木机", "分离器", "杀戮者", "骇客", "天灾", "雕刻者", "肥皂", "破法者" ]
    ]
  ]
}
