{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "燃烧", "火红", "激燃", "灼热", "烧焦", "烧灼", "炽烈", "酷热", "极热", "猛烈", "激昂", "热情", "烈焰", "浓烟", "阴燃", "真红", "烧烤", "灼眼", "红莲", "洛基", "苍炎" ],
      [ { "mode" : "alts" }, "刺客", "之刃", "剑", "切丁机", "渲染器", "切片机", "入侵者", "切割者", "杀手", "断木机", "分离机", "屠杀者", "恐惧魔王", "天灾", "雕刻者", "夏娜", "之怒", "领主 " , "烙印", "圣痕 "]
    ]
  ]
}
