{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "大厨的", "露营者的", "主妇的", "厨师的", "厨子的", "厨娘的", "吃货的", "二货的", "坑货的", "无节操的", "捡肥皂的", "掉节操的" ],
      [ { "mode" : "alts" }, "劲爆", "可靠", "伟岸", "沉重", "冷漠", "诱惑", "性感", "挑逗 " ],
      [ { "mode" : "alts" }, "朋友", "伴侣", "保护者", "厨具", "平底锅", "好基友", "神器", "黑暗料理 " ]
    ]
  ]
}
