{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "溅射", "海洋", "波动", "飞沙", "海浪", "台风", "流水", "潜水", "海滩", "湿漉漉", "湮没", "克苏鲁", "章鱼", "海马", "鲛人", "鲨鱼", "泡泡", "肥皂泡"],
      [ { "mode" : "alts" }, "刺客", "之刃", "剑", "切丁机", "渲染器", "切片机", "入侵者", "切割者", "杀手", "断木机", "分离机", "屠杀者", "恐惧魔王", "天灾", "雕刻者" ]
    ]
  ]
}
