{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说", "小姐", "", "先生", "神圣", "美丽", "珍贵", "酷炫", "邪恶", "坏蛋" ],
      [ { "mode" : "alts" }, "爆炸", "杀戮", "雷霆", "死亡", "风暴", "打击", "袭击", "充能", "鞭打", "愤怒", "爆裂" ],
      [ { "mode" : "alts" }, "手枪", "炮筒", "议员枪", "抹杀者", "制作者", "男孩", "射手", "鹰", "此刻", "王牌" ]
    ]
  ]
}
