{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说中的", "小姐", "", "先生", "流泪的", "激进的", "咬牙切齿的", "邪恶的", "刺骨的", "扫荡的", "古拉丁的", "迷失的" ],
      [ { "mode" : "alts" }, "伤口", "撕裂", "血管", "死亡", "风暴", "血液", "粉碎", "头骨", "破坏", "粉碎", "击打", "毁灭" ],
      [ { "mode" : "alts" }, "枪", "炮筒", "议员枪", "抹杀者", "制造者", "女孩", "发射者", "射击者", "抽水机", "牢骚者", "撕裂者", "流泪者", "", "悲叹者", "尖叫者", "猛击者" ]
    ]
  ]
}
