{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "燃烧的", "杀戮的", "闪电", "死亡", "风暴", "花花公子", "撞击的", "袭击的", "充能的", "鞭打的", "愤怒的", "爆破的", "责怪的", "掩护", "尸体", "腐肉", "寡妇" ],
      [ { "mode" : "alts" }, "步枪", "炮筒", "议员枪", "抹杀者", "制造者", "男孩", "喷雾器", "投掷器", "射击者", "雷电枪", "镭射枪", "宣传者", "猜谜者", "杀手" ]
    ]
  ]
}
