{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "爆炸", "杀戮", "闪电", "弹坑", "风暴", "花花公子", "冲撞", "袭击", "指控", "痛打", "愤怒", "冲击", "炸弹" ],
      [ { "mode" : "alts" }, "枪", "炮筒", "议员枪", "抹杀者", "制造者", "男孩", "射击者", "发射者", "投掷者", "穿刺者", "索你命3000", "冲击者", "轰炸机" ]
    ]
  ]
}
