{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "传说中的", "小姐", "", "先生", "神圣的", "美丽的", "宝贵的", "可怕的", "邪恶的", "坏蛋" ],
      [ { "mode" : "alts" }, "爆炸", "杀戮", "闪电", "死亡", "风暴", "花花公子", "殴打", "袭击", "充能", "击打", "愤怒", "爆裂" ],
      [ { "mode" : "alts" }, "枪", "炮筒", "议员枪", "抹杀者", "制造者", "男孩", "射击者", "鹰", "刺客", "王牌飞行员" ]
    ]
  ]
}
